@model UAB.DAL.Models.Provider


<style type="text/css">

    .modal-content {
        margin-top: 63px;
    }


    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 24px;
        margin-top: 10px;
    }



        .switch input {
            display: none;
        }



    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
    }



        .slider:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
        }



    /* include generated hidden field here */
    input[type="checkbox"]:checked + input[type="hidden"] + .slider,
    input[type="checkbox"]:checked + .slider {
        background-color: #2196F3;
    }



    /* include generated hidden field here */
    input[type="checkbox"]:focus + input[type="hidden"] + .slider,
    input[type="checkbox"]:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }



    /* include generated hidden field here */
    input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
    input[type="checkbox"]:checked + .slider:before {
        transform: translateX(26px);
    }



    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }



        .slider.round:before {
            border-radius: 50%;
        }

    .round {
        line-height: 48px;
        color: #fff;
        width: 50px;
        height: 25px;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        border-radius: 100%;
        line-height: 52px;
    }
</style>



<form asp-action="AddSettingsProvider" asp-controller="UAB" method="POST">
    @Html.HiddenFor(model => model.ProviderId, new { @class = "form-control", @autofocus = "autofocus", @autocomplete = "off" })
    <div class="modal fade modal-mini modal-primary show" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 500px;">
                <div class="modal-header" style="background: #27a9e3;color: white;">
                    @if (Model.ProviderId != 0)
                    {
                        <h5 class="modal-title" style="width:300px">Update Provider</h5>
                    }
                    else
                    {
                        <h5 class="modal-title" style="width:300px">Add Provider</h5>
                    }
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ModalClose1()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @autofocus = "autofocus", @autocomplete = "off", @placeholder = "Enter Provider Name " })
                        @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                    </div>
                    <div>
                        <label>Is Audit Needed</label>&nbsp;
                        <label class="switch">
                            @Html.CheckBoxFor(model => model.IsAuditNeeded, new { @class = "custom-control-input ShadowQADetails", @id = "customControlAutosizing1" })
                            <div class="slider round" style="top:15px">
                            </div>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (Model.ProviderId != 0)
                    {
                        <button type="submit" class="btn btn-success Available">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success Available">Add</button>
                    }
                    <button type="button" class="btn btn-danger" onclick="ModalClose1()">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
