@model UAB.DTO.ChartSummaryDTO
@{
    ViewData["Title"] = "ApprovedCharts";
}

<form asp-action="SubmitApprovedChart" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model />
            <partial name="_CodingDetails" model=Model />
        </div>
    </div>
</form>
<style>
    .input-group-text {
        display: none;
    }
</style>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    /*datwpicker*/
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    $("#coding").addClass('selected');
    $('.Available').hide();
    $(".CoderDetails").attr("disabled", true);
</script>
