@model UAB.DTO.ChartSummaryDTO
@{
    ViewData["Title"] = "Coding";
}
<form asp-action="SubmitCodingAvailableChart" id="frmSubmitCodingAvailableChart" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model />
            <partial name="_CodingDetails" model=Model />
        </div>
    </div>
</form>
<style>
    /* .input-group-text {
        display: none;
    }*/
</style>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

<script type="text/javascript">

    var isBlocked = @(ViewBag.IsBlocked == null ? "0": "1");

    if (isBlocked == 1) {
        $("#btnBlock").hide();
        $("#btnBlockHistory").show();
        $("#btnPrevious").show();
        $("#btnNext").show();
    }

    $("#coding").addClass('selected');
    $('.Approved').hide();
    $('#divAnswer').hide();
    $("#ProviderID").css("pointer-events", "none");
    $("#ProviderID").css("background-color", "#e9ecef");


    var dxArray = [];
    function DxFunction(txt_0) {
        var id = parseInt(txt_0.split("_")[1]) + parseInt(1);
        if (txt_0.split("_")[1] !== undefined) {
            var currId = parseInt(id) - parseInt(1);
            var val = $("#txtDx_" + currId).val();
            if (val !== "" && val !== null) {
                if ($.inArray(val, dxArray) == -1) {
                    dxArray.push(val);
                    $("#Dx").val(dxArray);
                }
                var text = "'" + "txt_" + id + "'";
                $("#DivDx").append('<div id="DivDxRow_' + id + '" class="form-group row"><label class= "col-md-3 m-t-15" ></label><div class="col-md-3 lessWidth input-group"><div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">' + id + '</span></div><input type="text" placeholder="Code" onfocusout="DxFunction(' + text + ')" class="form-control CoderDetails txtDx" id="txtDx_' + id + '" /></div></div>');
                $("#txtDx_" + currId).removeAttr("onfocusout", "");
                $("#txtDx_1").removeAttr("onfocusout", "");
                $("#txtDx_" + id).focus();
                $("#tabindex").val(id);
            } else {
                //var id2 = parseInt(id) - parseInt(1);
                //var val = $("#txt" + id2).val();
                //if (val == "") {
                //    if (id2 !== 0) {
                //        dxArray.splice(id2, id2);
                //        $("#Dx").val(dxArray);
                //        $('#tr' + id2).remove();
                //        //$("#txt" + id2).focus();
                //    }
                //}
            }
        }
    }

    var dxArray1 = [];
    function DxFunction1(txt_0) {
        var title = txt_0;
        var id = parseInt(title.split("_")[1]) + parseInt(1);
        if (title.split("_")[1] !== undefined) {
            var id1 = parseInt(id) - parseInt(1);
            var val = $("#txtDx_" + id1).val();
            if (val !== "" && val !== null) {
                if ($.inArray(val, dxArray1) == -1) {
                    dxArray1.push(val);
                    $("#Dx1").val(dxArray1);
                }
                var count = id + parseInt(1);
                $("#txtDx_" + id).focus();
                var text = "'" + "txtDx_" + id + "'";
                $("#tableid1").append('<tr id="tr' + id + '"> <td><span class="badge badge-pill badge-info">' + count + '</span></td><td> <input type="text" placeholder="Code" onfocusout="DxFunction1(' + text + ')" class="form-control CoderDetails txtDx" title="txtDx_' + id + '" id="txtDx_' + id + '" /></td><td></td></tr >');
                $("#txtDx_" + id).focus();

            } else {
                //var id2 = parseInt(id) - parseInt(1);
                //var val = $("#txt" + id2).val();
                //if (val == "") {
                //    if (id2 !== 0) {
                //        dxArray.splice(id2, id2);
                //        $("#Dx").val(dxArray);
                //        $('#tr' + id2).remove();
                //        //$("#txt" + id2).focus();
                //    }
                //}
            }
        }
    }

    var cptArray = [];
    function CptFunction(txtCpt_0) {
        var id = parseInt(txtCpt_0.split("_")[1]) + parseInt(1);
        if (txtCpt_0.split("_")[1] !== undefined) {
            var id1 = parseInt(id) - parseInt(1);
            var val1 = $("#txtCpt_" + id1).val();

            var val2 = null;
            if ($("#txtMod_" + id1).val() != "")
                val2 = $("#txtMod_" + id1).val();

            var val3 = null;
            if ($("#txtQty_" + id1).val() != "")
                val3 = $("#txtQty_" + id1).val();

            var val4 = null;
            if ($("#txtLinks_" + id1).val() != "")
                val4 = $("#txtLinks_" + id1).val();

            if (val1 !== "") {
                if ($.inArray(val1, cptArray) == -1) {
                    cptArray.push(val1+"^"+val2 +"^"+val3 +"^"+ val4);
                    $("#CPTCode").val(cptArray);
                }
                var count = id + parseInt(1);
                var txtLinks = "'" + "txtLinks_" + id + "'";
                var tabindex1 = parseInt(9) + parseInt(id)  + parseInt(count)+ parseInt(val1);
                var tabindex2 = parseInt(10) + parseInt(id) + parseInt(count) + parseInt(val1);
                var tabindex3 = parseInt(11) + parseInt(id) + parseInt(count) + parseInt(val1);
                var tabindex4 = parseInt(12) + parseInt(id) + parseInt(count) + parseInt(val1);
                $("#DivCpt").append('<div id="DivCptRow_' + id + '" class="form-group row"><label class= "col-md-3 m-t-15" ></label><div class="col-md-3 CptlessWidth input-group"><div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">' + id + '</span></div><input tabindex = "' + tabindex1 + '" type = "text" placeholder = "Code" class= "form-control CoderDetails txtCpt" id = "txtCpt_' + id + '" /><input tabindex="' + tabindex2 + '" type="text" class="form-control CoderDetails" placeholder="Mod" id="txtMod_' + id + '"/><input tabindex="' + tabindex3 + '" type="text" class="form-control CoderDetails" placeholder="1" value="1" id="txtQty_' + id + '"/><input tabindex="' + tabindex4 + '" type="text" class="form-control CoderDetails" placeholder="Link All" onfocusout="CptFunction(' + txtLinks + ')" id="txtLinks_' + id + '"/></div></div>');
                $("#txtLinks_" + id1).removeAttr("onfocusout", "");
                $("#txtLinks_1").removeAttr("onfocusout", "");
                $("#txtCpt_" + id).focus();
            } else {
                //var id2 = parseInt(id) - parseInt(1);
                //var val = $("#txtCpt" + id2).val();
                //if (val == "") {
                //    if (id2 !== 0) {
                //        cptArray.splice(id2, id2);
                //        $("#CPTCode").val(cptArray);
                //        $('#cpttr' + id2).remove();
                //        //$("#CPTCode" + id2).focus();
                //    }
                //}
            }
        }
    }

    var cptArray1 = [];
    function CptFunction1(txtCpt_0) {
        var title = txtCpt_0;
        var id = parseInt(title.split("_")[1]) + parseInt(1);
        if (title.split("_")[1] !== undefined) {
            var id1 = parseInt(id) - parseInt(1);
            var val1 = $("#txtCpt_" + id1).val();

            var val2 = null;
            if ($("#txtMod_" + id1).val() != "")
                val2 = $("#txtMod_" + id1).val();

            var val3 = null;
            if ($("#txtQty_" + id1).val() != "")
                val3 = $("#txtQty_" + id1).val();

            var val4 = null;
            if ($("#txtLinks_" + id1).val() != "")
                val4 = $("#txtLinks_" + id1).val();

            if (val1 !== "") {
                if ($.inArray(val1, cptArray1) == -1) {
                    cptArray1.push(val1 + "^" + val2 + "^" + val3 + "^" + val4);
                    $("#CPTCode1").val(cptArray1);
                }
                var count = id + parseInt(1);
                var txtLinks = "'" + "txtLinks_" + id + "'";
                var tabindex1 = parseInt(9) + parseInt(id) + parseInt(count) + parseInt(val1);
                var tabindex2 = parseInt(10) + parseInt(id) + parseInt(count) + parseInt(val1);
                var tabindex3 = parseInt(11) + parseInt(id) + parseInt(count) + parseInt(val1);
                var tabindex4 = parseInt(12) + parseInt(id) + parseInt(count) + parseInt(val1);
                $("#cpttable1").append('<tr id="cpttr' + id + '"> <td><span class="badge badge-pill badge-info">' + count + '</span></td><td><input tabindex = "' + tabindex1 + '" type = "text" placeholder = "Code" class= "form-control CoderDetails txtCpt" title = "txtCpt_' + id + '" id = "txtCpt_' + id + '" /></td><td><input tabindex="' + tabindex2 + '" type="text" class="form-control CoderDetails" placeholder="Mod" title="txtMod_' + id + '" id="txtMod_' + id + '"/></td><td><input tabindex="' + tabindex3 + '" type="text" class="form-control CoderDetails" placeholder="1" value="1" title="txtQty_' + id + '" id="txtQty_' + id + '"/></td><td><input tabindex="' + tabindex4 + '" type="text" class="form-control CoderDetails" placeholder="Link All" onfocusout="CptFunction1(' + txtLinks + ')" title="txtLinks_' + id + '" id="txtLinks_' + id + '"/></td></tr>');
                $("#txtCpt_" + id).focus();
            } else {
                //var id2 = parseInt(id) - parseInt(1);
                //var val = $("#txtCpt" + id2).val();
                //if (val == "") {
                //    if (id2 !== 0) {
                //        cptArray.splice(id2, id2);
                //        $("#CPTCode").val(cptArray);
                //        $('#cpttr' + id2).remove();
                //        //$("#CPTCode" + id2).focus();
                //    }
                //}
            }
        }
    }

    $(".tab").click(function () {
        var title = $(this).attr('title');
        var id = $(this).attr('id');
        $("#htxt" + id).text('Cliam '+id);
        if (title != "" && id != "") {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetNewCliam", "UAB")",
                data: {"id" : id },
                success: function (response) {
                    $("#" + title).html(response);
                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
    });
</script>
