@model UAB.DTO.CodingSubmitDTO
@{
    ViewData["Title"] = "Coding";
}
<div class="container-fluid">
    <div class="row">
        <partial name="_InitialData" model=Model />
        <partial name="_CodingDetails" model=Model />
    </div>
</div>
<style>
    .input-group-text {
        display: none;
    }
</style>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    /*datwpicker*/
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    $("#coding").addClass('selected');
    $('.Approved').hide();

</script>
