@model List<UAB.DTO.ChartSummaryDTO>
@{
    ViewData["Title"] = "IncorrectCharts";
}
<style>
    .custom-control {
        padding-left: 0rem;
    }
</style>
<form asp-action="SubmitCodingIncorrectChart" id="FormSubmitCodingIncorrectChart" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model.FirstOrDefault() />
            <partial name="_IncorrectCharts" model=Model />
        </div>
    </div>
</form>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/dist/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(".CoderDetails").css("pointer-events", "none");
    $(".CoderDetails").css("background-color", "#e9ecef");

    $(".QARemarks").css("pointer-events", "none");
    $(".QARemarks").css("background-color", "#e9ecef");

    $(".QADetails").attr("readonly", true);
    $(".QARevised").attr("readonly", true);
    $("#coding").addClass('selected');
    $('#divChkAll').hide();
    $('.QACorrections').hide();
    $('.CoderDetails').attr('disabled', true);

    $('span i').click(function () {
        var id = $(this).attr('id');
        if ($(this).hasClass('fa-check-circle')) {
            //$(".CoderComments").hide();
            $(this).toggleClass('accept');
            $(this).siblings().removeClass('reject');
        }
        else if ($(this).hasClass('fa-times-circle')) {
            $(".CoderComments").show();
            $(this).toggleClass('reject');
            $(this).siblings().removeClass('accept');
            //$("." + id).css("display", "flex");
            $("#Revised" + id + "Remarks").css("display", "flex");
        }
    });

    $(document).on('click', '#btnsubmit', function (e) {
        $('.CoderDetails').removeAttr('disabled');

        if ($('.CoderCorrections[style="display:flex"] .reject').length > 0)
            $("#hdnStatusId").val('12');
        else
            $("#hdnStatusId").val('15');

        $(".tab").each(function () {
            var id = $(this).attr('id');
            var tabid = id.split("tabIndex_")[1].split("_ClaimId_")[0];
            var claimId = id.split("tabIndex_")[1].split("_ClaimId_")[1];
            $("#hdnClaimId" + tabid).val(claimId);
            var ErrorTypeID = $("#ErrorType_" + tabid).val();
            $("#hdnQAErrorTypeID" + tabid).val(ErrorTypeID);
            var ProviderID = "";
            var PayorID = "";
            var ProviderFeedbackID = "";
            var ProviderRemarks = "";
            var payorRemarks = "";
            var FeedbackRemarks = "";
            $("#hdnClaim" + tabid).val('');
            $("#hdnAcceptedClaim" + tabid).val('');
            if ($("[title =ProviderID1_" + tabid + "].reject").length > 0) {
                ProviderID = $("#ProviderID_" + tabid).val();
                ProviderRemarks = $('.RevisedProvider_' + tabid).val();
                if ($("#hdnClaim" + tabid).val() == "") {
                    $("#hdnClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderID" + "," + ProviderID + "," + ProviderRemarks);
                }
            }
            if ($("[title =ProviderID1_" + tabid + "].accept").length > 0 || ($("[title =ProviderID1_" + tabid + "].reject").length == 0 && $("[title =ProviderID1_" + tabid + "].accept").length == 0)) {
                ProviderID = $("#ProviderID_" + tabid).val();
            } else {
                ProviderID = $("#ProviderID_" + tabid).val();
            }
            if ($("#hdnAcceptedClaim" + tabid).val() == "") {
                $("#hdnAcceptedClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderID" + "," + ProviderID)
            }
            if ($("[title =PayorID1_" + tabid + "].reject").length > 0) {
                PayorID = $("#PayorID_" + tabid).val();
                payorRemarks = $('.RevisedPayor_' + tabid).val();
                if ($("#hdnClaim" + tabid).val() == "") {
                    $("#hdnClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "PayorID" + "," + PayorID + "," + payorRemarks);
                } else {
                    $("#hdnClaim" + tabid).val($("#hdnClaim" + tabid).val() + "^" + "PayorID" + "," + PayorID + "," + payorRemarks);
                }
            }
            if ($("[title =PayorID1_" + tabid + "].accept").length > 0 || ($("[title =PayorID1_" + tabid + "].reject").length == 0 && $("[title =PayorID1_" + tabid + "].accept").length == 0)) {
                PayorID = $("#PayorID_" + tabid).val();
            } else {
                PayorID = $("#PayorID_" + tabid).val();
            }
            if ($("#hdnAcceptedClaim" + tabid).val() == "") {
                $("#hdnAcceptedClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "PayorID" + "," + PayorID);
            } else {
                $("#hdnAcceptedClaim" + tabid).val($("#hdnAcceptedClaim" + tabid).val() + "^" + "PayorID" + "," + PayorID);
            }
            if ($("[title =Feedback1_" + tabid + "].reject").length > 0) {
                ProviderFeedbackID = $("#ProviderFeedbackID_" + tabid).val();
                FeedbackRemarks = $('.RevisedProviderFeedback_' + tabid).val();
                if ($("#hdnClaim" + tabid).val() == "") {
                    $("#hdnClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks);
                } else {
                    $("#hdnClaim" + tabid).val($("#hdnClaim" + tabid).val() + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks);
                }
            }
            if ($("[title =Feedback1_" + tabid + "].accept").length > 0 || ($("[title =Feedback_" + tabid + "].reject").length == 0 && $("[title =Feedback_" + tabid + "].accept").length == 0)) {
                if ($("#ProviderFeedbackText_" + tabid).val() != "")
                    ProviderFeedbackID = $("#ProviderFeedbackID_" + tabid).val();
                else
                    ProviderFeedbackID = 0;

            } else {
                ProviderFeedbackID = $("#ProviderFeedbackID_" + tabid).val();
            }
            if ($("#hdnAcceptedClaim" + tabid).val() == "") {
                $("#hdnAcceptedClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID);
            } else {
                $("#hdnAcceptedClaim" + tabid).val($("#hdnAcceptedClaim" + tabid).val() + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID);
            }

        });

        // Default Claim Dx & Cpt Start

        var DxClaim1remarks = $('[class*=DxClaim_1_Remarks_][style="display:flex"]');
        $("#hdnDxCodes").val("");
        $("#hdnRejectedDxCodes").val("");
        $("#hdnRejectedDxRemarks").val("");
        for (var i = 0; i < DxClaim1remarks.length; i++) {
            var id = $(DxClaim1remarks[i]).attr("id");
            var rowNumber = parseInt(id.split("1_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(DxClaim1remarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedDxCodes").val() == "")
                    $("#hdnRejectedDxCodes").val(rowNumber + "^" + $("#DxClaim_1_Coder_" + rowNumber).val());
                else
                    $("#hdnRejectedDxCodes").val($("#hdnRejectedDxCodes").val() + "," + rowNumber + "^" + $("#DxClaim_1_Coder_" + rowNumber).val());

                if ($("#hdnRejectedDxRemarks").val() == "")
                    $("#hdnRejectedDxRemarks").val(rowNumber + "^" + $(DxClaim1remarks[i]).val());
                else
                    $("#hdnRejectedDxRemarks").val($("#hdnRejectedDxRemarks").val() + "|" + rowNumber + "^" + $(DxClaim1remarks[i]).val());
            }

            if (res1.includes('accept') && $(DxClaim1remarks[i]).val() != "") {
                if ($("#hdnRejectedDxRemarks").val() == "")
                    $("#hdnRejectedDxRemarks").val(rowNumber + "^" + $("#Dxremarks_" + rowNumber).val());
                else
                    $("#hdnRejectedDxRemarks").val($("#hdnRejectedDxRemarks").val() + "|" + rowNumber + "^" + $("#Dxremarks_" + rowNumber).val());
            }
            else {
                if ($(DxClaim1remarks[i]).val() == "") {
                    $(DxClaim1remarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        var CoderDxClaimcodes = $("[id*=DxClaim_1_Coder_]");
        for (var i = 0; i < CoderDxClaimcodes.length; i++) {

            var id = parseInt($(CoderDxClaimcodes[i]).attr("id").split("Coder_")[1]);

            var res1 = $("[id='DxClaim_1_" + id + "']:eq(0)").attr('class');
            var res2 = $("[id='DxClaim_1_" + id + "']:eq(1)").attr('class');

            if (res2.includes('reject')) {
                if ($("#hdnRejectedDxCodes").val() == "")
                    $("#hdnRejectedDxCodes").val($("#DxClaim_1_Coder_" + id).val());
                else
                    $("#hdnRejectedDxCodes").val($("#hdnRejectedDxCodes").val() + "," + $("#DxClaim_1_Coder_" + id).val());
            }
            else {
                if ($("#hdnDxCodes").val() == "")
                    $("#hdnDxCodes").val($("#DxClaim_1_QA_" + id).val());
                else
                    $("#hdnDxCodes").val($("#hdnDxCodes").val() + "," + $("#DxClaim_1_QA_" + id).val());
            }
        }

        var Cptremarks = $('[class*=CptClaim_1_Remarks_][style="display:flex"]');
        $("#hdnRejectedCptCodes").val("");
        $("#hdnRejectedCptRemarks").val("");
        for (var i = 0; i < Cptremarks.length; i++) {
            var id = $(Cptremarks[i]).attr("id");
            var rowNumber = parseInt(id.split("1_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(Cptremarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedCptCodes").val() == "")
                    $("#hdnRejectedCptCodes").val(rowNumber + "^" + $("#CptClaim_1_Coder_" + rowNumber).val());
                else
                    $("#hdnRejectedCptCodes").val($("#hdnRejectedCptCodes").val() + "|" + rowNumber + "^" + $("#CptClaim_1_Coder_" + rowNumber).val());

                if ($("#hdnRejectedCptRemarks").val() == "")
                    $("#hdnRejectedCptRemarks").val(rowNumber + "^" + $(Cptremarks[i]).val());
                else
                    $("#hdnRejectedCptRemarks").val($("#hdnRejectedCptRemarks").val() + "|" + rowNumber + "^" + $(Cptremarks[i]).val());
            }
            if (res1.includes('accept') && $(Cptremarks[i]).val() != "") {
                // $("#hdnStatusId").val('15');
                if ($("#hdnCptCodes").val() == "")
                    $("#hdnCptCodes").val(rowNumber + "^" + $("#CptClaim_1_QA_" + rowNumber).val());
                else
                    $("#hdnCptCodes").val($("#hdnCptCodes").val() + "|" + rowNumber + "^" + $("#CptClaim_1_QA_" + rowNumber).val());

                if ($("#hdnRejectedCptRemarks").val() == "")
                    $("#hdnRejectedCptRemarks").val(rowNumber + "^" + $("#Cptremarks_" + rowNumber).val());
                else
                    $("#hdnRejectedCptRemarks").val($("#hdnRejectedCptRemarks").val() + "|" + rowNumber + "^" + $("#Cptremarks_" + rowNumber).val());
            }
            else {
                if ($(Cptremarks[i]).val() == "") {
                    $(Cptremarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        //var acceptedCptCodes = $('[class*=CptClaim_1_Remarks_][style="visibility:hidden"]');
        ////$("#hdnCptCodes").val('');
        //for (var i = 0; i < acceptedCptCodes.length; i++) {
        //    var id = parseInt($(acceptedCptCodes[i]).attr("id").split("1_")[1]);
        //    var rowNumber = parseInt(id);
        //    var res1 = $("[id='CptClaim_1_" + id + "']:eq(0)").attr('class');
        //    if (res1.includes('accept') || !res1.includes('reject')) {
        //        if ($("#hdnCptCodes").val() == "")
        //            $("#hdnCptCodes").val(rowNumber + "^" + $("#CptClaim_1_QA_" + id).val());
        //        else
        //            $("#hdnCptCodes").val($("#hdnCptCodes").val() + "|" + rowNumber + "^" + $("#CptClaim_1_QA_" + id).val());
        //    }
        //}
        //if ($("#hdnRejectedCptCodes").val() != "") {
        //    $("#hdnCptCodes").val($("#hdnCptCodes").val() + "|" + $("#hdnRejectedCptCodes").val());
        //}


        // Default Claim Dx & Cpt End

        // Claim 2 Dx & Cpt Start

        var DxClaim2remarks = $('[class*=DxClaim_2_Remarks_][style="display:flex"]');
        $("#hdnDxCodes1").val("");
        $("#hdnRejectedDxCodes1").val("");
        $("#hdnRejectedDxRemarks1").val("");
        for (var i = 0; i < DxClaim2remarks.length; i++) {
            var id = $(DxClaim2remarks[i]).attr("id");
            var rowNumber = parseInt(id.split("2_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(DxClaim2remarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedDxCodes1").val() == "")
                    $("#hdnRejectedDxCodes1").val(rowNumber + "^" + $("#DxClaim_2_Coder_" + rowNumber).val());
                else
                    $("#hdnRejectedDxCodes1").val($("#hdnRejectedDxCodes1").val() + "," + rowNumber + "^" + $("#DxClaim_2_Coder_" + rowNumber).val());

                if ($("#hdnRejectedDxRemarks1").val() == "")
                    $("#hdnRejectedDxRemarks1").val(rowNumber + "^" + $(DxClaim2remarks[i]).val());
                else
                    $("#hdnRejectedDxRemarks1").val($("#hdnRejectedDxRemarks1").val() + "|" + rowNumber + "^" + $(DxClaim2remarks[i]).val());
            }
            if (res1.includes('accept') && $(DxClaim2remarks[i]).val() != "") {
                if ($("#hdnRejectedDxRemarks1").val() == "")
                    $("#hdnRejectedDxRemarks1").val(rowNumber + "^" + $("#QADxRemarkss_2_" + rowNumber).val());
                else
                    $("#hdnRejectedDxRemarks1").val($("#hdnRejectedDxRemarks1").val() + "|" + rowNumber + "^" + $("#QADxRemarkss_2_" + rowNumber).val());
            } else {
                if ($(DxClaim2remarks[i]).val() == "") {
                    $(DxClaim2remarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        var CoderDxClaimcodes = $("[id*=DxClaim_2_Coder_]");
        for (var i = 0; i < CoderDxClaimcodes.length; i++) {
            var id = parseInt($(CoderDxClaimcodes[i]).attr("id").split("Coder_")[1]);

            var res1 = $("[id='DxClaim_2_" + id + "']:eq(0)").attr('class');
            var res2 = $("[id='DxClaim_2_" + id + "']:eq(1)").attr('class');

            if (res2.includes('reject')) {
                if ($("#hdnRejectedDxCodes1").val() == "")
                    $("#hdnRejectedDxCodes1").val($("#DxClaim_2_Coder_" + id).val());
                else
                    $("#hdnRejectedDxCodes1").val($("#hdnRejectedDxCodes1").val() + "," + $("#DxClaim_2_Coder_" + id).val());
            }
            else {
                if ($("#hdnDxCodes1").val() == "")
                    $("#hdnDxCodes1").val($("#DxClaim_2_QA_" + id).val());
                else
                    $("#hdnDxCodes1").val($("#hdnDxCodes1").val() + "," + $("#DxClaim_2_QA_" + id).val());
            }
        }

        var Cptremarks = $('[class*=CptClaim_2_Remarks_][style="display:flex"]');
        $("#hdnRejectedCptCodes1").val("");
        $("#hdnRejectedCptRemarks1").val("");
        for (var i = 0; i < Cptremarks.length; i++) {
            var id = $(Cptremarks[i]).attr("id");
            var rowNumber = parseInt(id.split("2_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(Cptremarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedCptCodes1").val() == "")
                    $("#hdnRejectedCptCodes1").val(rowNumber + "^" + $("#CptClaim_2_Coder_" + rowNumber).val());
                else
                    $("#hdnRejectedCptCodes1").val($("#hdnRejectedCptCodes1").val() + "|" + rowNumber + "^" + $("#CptClaim_2_Coder_" + rowNumber).val());

                if ($("#hdnRejectedCptRemarks1").val() == "")
                    $("#hdnRejectedCptRemarks1").val(rowNumber + "^" + $(Cptremarks[i]).val());
                else
                    $("#hdnRejectedCptRemarks1").val($("#hdnRejectedCptRemarks1").val() + "|" + rowNumber + "^" + $(Cptremarks[i]).val());
            }
            if (res1.includes('accept') && $(Cptremarks[i]).val() != "") {
                // $("#hdnStatusId").val('15');
                if ($("#hdnCptCodes1").val() == "")
                    $("#hdnCptCodes1").val(rowNumber + "^" + $("#CptClaim_2_QA_" + rowNumber).val());
                else
                    $("#hdnCptCodes1").val($("#hdnCptCodes1").val() + "|" + rowNumber + "^" + $("#CptClaim_2_QA_" + rowNumber).val());

                if ($("#hdnRejectedCptRemarks1").val() == "")
                    $("#hdnRejectedCptRemarks1").val(rowNumber + "^" + $("#QACptRemarkss_2_" + rowNumber).val());
                else
                    $("#hdnRejectedCptRemarks1").val($("#hdnRejectedCptRemarks1").val() + "|" + rowNumber + "^" + $("#QACptRemarkss_2_" + rowNumber).val());
            } else {
                if ($(Cptremarks[i]).val() == "") {
                    $(Cptremarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        //var acceptedCptCodes = $('[class*=CptClaim_2_Remarks_][style="visibility:hidden"]');
        ////$("#hdnCptCodes1").val('');
        //for (var i = 0; i < acceptedCptCodes.length; i++) {
        //    var id = parseInt($(acceptedCptCodes[i]).attr("id").split("2_")[1]);
        //    var rowNumber = parseInt(id);
        //    var res1 = $("[id='CptClaim_2_" + id + "']:eq(0)").attr('class');
        //    if (res1.includes('accept') || !res1.includes('reject')) {
        //        if ($("#hdnCptCodes1").val() == "")
        //            $("#hdnCptCodes1").val(rowNumber + "^" + $("#CptClaim_2_QA_" + id).val());
        //        else
        //            $("#hdnCptCodes1").val($("#hdnCptCodes1").val() + "|" + rowNumber + "^" + $("#CptClaim_2_QA_" + id).val());
        //    }
        //}
        //if ($("#hdnRejectedCptCodes1").val() != "") {
        //    $("#hdnCptCodes1").val($("#hdnCptCodes1").val() + "|" + $("#hdnRejectedCptCodes1").val());
        //}

        // Claim 2 Dx & Cpt End

        // Claim 3 Dx & Cpt Start

        var DxClaim3remarks = $('[class*=DxClaim_3_Remarks_][style="display:flex"]')
        $("#hdnDxCodes2").val("");
        $("#hdnRejectedDxCodes2").val("");
        $("#hdnRejectedDxRemarks2").val("");
        for (var i = 0; i < DxClaim3remarks.length; i++) {

            var id = $(DxClaim3remarks[i]).attr("id");
            var rowNumber = parseInt(id.split("3_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(DxClaim3remarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedDxCodes2").val() == "")
                    $("#hdnRejectedDxCodes2").val(rowNumber + "^" + $("#DxClaim_3_Coder_" + rowNumber).val());
                else
                    $("#hdnRejectedDxCodes2").val($("#hdnRejectedDxCodes2").val() + "," + rowNumber + "^" + $("#DxClaim_3_Coder_" + rowNumber).val());

                if ($("#hdnRejectedDxRemarks2").val() == "")
                    $("#hdnRejectedDxRemarks2").val(rowNumber + "^" + $(DxClaim3remarks[i]).val());
                else
                    $("#hdnRejectedDxRemarks2").val($("#hdnRejectedDxRemarks2").val() + "|" + rowNumber + "^" + $(DxClaim3remarks[i]).val());
            }
            if (res1.includes('accept') && $(DxClaim3remarks[i]).val() != "") {
                if ($("#hdnRejectedDxRemarks2").val() == "")
                    $("#hdnRejectedDxRemarks2").val(rowNumber + "^" + $(DxClaim3remarks[i]).val());
                else
                    $("#hdnRejectedDxRemarks2").val($("#hdnRejectedDxRemarks2").val() + "|" + rowNumber + "^" + $(DxClaim3remarks[i]).val());
            } else {
                if ($(DxClaim3remarks[i]).val() == "") {
                    $(DxClaim3remarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        var CoderDxClaim3codes = $("[id*=DxClaim_3_Coder_]");
        for (var i = 0; i < CoderDxClaim3codes.length; i++) {

            var id = parseInt($(CoderDxClaim3codes[i]).attr("id").split("Coder_")[1]);

            var res1 = $("[id='DxClaim_3_" + id + "']:eq(0)").attr('class');
            var res2 = $("[id='DxClaim_3_" + id + "']:eq(1)").attr('class');
            if (res2.includes('reject') || (!res1.includes('accept') && !res2.includes('reject'))) {
                if ($("#hdnDxCodes2").val() == "")
                    $("#hdnDxCodes2").val($("#DxClaim_3_Coder_" + id).val());
                else
                    $("#hdnDxCodes2").val($("#hdnDxCodes2").val() + "," + $("#DxClaim_3_Coder_" + id).val());
            }
            else {
                if ($("#hdnDxCodes2").val() == "")
                    $("#hdnDxCodes2").val($("#DxClaim_3_QA_" + id).val());
                else
                    $("#hdnDxCodes2").val($("#hdnDxCodes2").val() + "," + $("#DxClaim_3_QA_" + id).val());
            }
        }

        var Claim3Cptremarks = $('[class*=CptClaim_3_Remarks_][style="display:flex"]');
        $("#hdnRejectedCptCodes2").val("");
        $("#hdnRejectedCptRemarks2").val("");
        for (var i = 0; i < Claim3Cptremarks.length; i++) {

            var id = $(Claim3Cptremarks[i]).attr("id");
            var rowNumber = parseInt(id.split("3_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(Claim3Cptremarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedCptCodes2").val() == "")
                    $("#hdnRejectedCptCodes2").val(rowNumber + "^" + $("#CptClaim_3_Coder_" + rowNumber).val());
                else
                    $("#hdnRejectedCptCodes2").val($("#hdnRejectedCptCodes2").val() + "|" + rowNumber + "^" + $("#CptClaim_3_Coder_" + rowNumber).val());

                if ($("#hdnRejectedCptRemarks2").val() == "")
                    $("#hdnRejectedCptRemarks2").val(rowNumber + "^" + $(Claim3Cptremarks[i]).val());
                else
                    $("#hdnRejectedCptRemarks2").val($("#hdnRejectedCptRemarks2").val() + "|" + rowNumber + "^" + $(Claim3Cptremarks[i]).val());
            }
            if (res1.includes('accept') && $(Claim3Cptremarks[i]).val() != "") {
                // $("#hdnStatusId").val('15');
                if ($("#hdnCptCodes2").val() == "")
                    $("#hdnCptCodes2").val(rowNumber + "^" + $("#CptClaim_3_QA_" + rowNumber).val());
                else
                    $("#hdnCptCodes2").val($("#hdnCptCodes2").val() + "|" + rowNumber + "^" + $("#CptClaim_3_QA_" + rowNumber).val());

                //if ($("#hdnRejectedCptRemarks2").val() == "")
                //    $("#hdnRejectedCptRemarks2").val(rowNumber + "^" + $(Claim3Cptremarks[i]).val());
                //else
                //    $("#hdnRejectedCptRemarks2").val($("#hdnRejectedCptRemarks2").val() + "|" + rowNumber + "^" + $(Claim3Cptremarks[i]).val());

            } else {
                if ($(Claim3Cptremarks[i]).val() == "") {
                    $(Claim3Cptremarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        var acceptedCptCodes = $('[class*=CptClaim_3_Remarks_][style="visibility:hidden"]');
        //$("#hdnCptCodes2").val('');
        for (var i = 0; i < acceptedCptCodes.length; i++) {
            var id = parseInt($(acceptedCptCodes[i]).attr("id").split("3_")[1]);
            var rowNumber = parseInt(id);
            var res1 = $("[id='CptClaim_3_" + id + "']:eq(0)").attr('class');
            if (res1.includes('accept') || !res1.includes('reject')) {
                if ($("#hdnCptCodes2").val() == "")
                    $("#hdnCptCodes2").val(rowNumber + "^" + $("#CptClaim_3_QA_" + id).val());
                else
                    $("#hdnCptCodes2").val($("#hdnCptCodes2").val() + "|" + rowNumber + "^" + $("#CptClaim_3_QA_" + id).val());
            }
        }
        if ($("#hdnRejectedCptCodes2").val() != "") {
            $("#hdnCptCodes2").val($("#hdnCptCodes2").val() + "|" + $("#hdnRejectedCptCodes2").val());
        }

        // Claim 3 Dx & Cpt End

        // Claim 4 Dx & Cpt Start

        var DxClaim4remarks = $('[class*=DxClaim_4_Remarks_][style="display:flex"]');
        $("#hdnDxCodes3").val("");
        $("#hdnRejectedDxCodes3").val("");
        $("#hdnRejectedDxRemarks3").val("");
        for (var i = 0; i < DxClaim4remarks.length; i++) {

            var id = $(DxClaim4remarks[i]).attr("id");
            var rowNumber = parseInt(id.split("4_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(DxClaim4remarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedDxCodes3").val() == "")
                    $("#hdnRejectedDxCodes3").val(rowNumber + "^" + $("#DxClaim_4_Coder_" + rowNumber).val());
                else
                    $("#hdnRejectedDxCodes3").val($("#hdnRejectedDxCodes3").val() + "," + rowNumber + "^" + $("#DxClaim_4_Coder_" + rowNumber).val());

                if ($("#hdnRejectedDxRemarks3").val() == "")
                    $("#hdnRejectedDxRemarks3").val(rowNumber + "^" + $(DxClaim4remarks[i]).val());
                else
                    $("#hdnRejectedDxRemarks3").val($("#hdnRejectedDxRemarks3").val() + "|" + rowNumber + "^" + $(DxClaim4remarks[i]).val());
            }
            if (res1.includes('accept') && $(DxClaim4remarks[i]).val() != "") {
                if ($("#hdnRejectedDxRemarks3").val() == "")
                    $("#hdnRejectedDxRemarks3").val(rowNumber + "^" + $(DxClaim4remarks[i]).val());
                else
                    $("#hdnRejectedDxRemarks3").val($("#hdnRejectedDxRemarks3").val() + "|" + rowNumber + "^" + $(DxClaim4remarks[i]).val());

            } else {
                if ($(DxClaim4remarks[i]).val() == "") {
                    $(DxClaim4remarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        var CoderDxClaimcodes = $("[id*=DxClaim_4_Coder_]");
        for (var i = 0; i < CoderDxClaimcodes.length; i++) {

            var id = parseInt($(CoderDxClaimcodes[i]).attr("id").split("Coder_")[1]);

            var res1 = $("[id='DxClaim_4_" + id + "']:eq(0)").attr('class');
            var res2 = $("[id='DxClaim_4_" + id + "']:eq(1)").attr('class');

            if (res2.includes('reject') || (!res1.includes('accept') && !res2.includes('reject'))) {
                if ($("#hdnDxCodes3").val() == "")
                    $("#hdnDxCodes3").val($("#DxClaim_4_Coder_" + id).val());
                else
                    $("#hdnDxCodes3").val($("#hdnDxCodes3").val() + "," + $("#DxClaim_4_Coder_" + id).val());
            }
            else {
                if ($("#hdnDxCodes3").val() == "")
                    $("#hdnDxCodes3").val($("#DxClaim_4_QA_" + id).val());
                else
                    $("#hdnDxCodes3").val($("#hdnDxCodes3").val() + "," + $("#DxClaim_4_QA_" + id).val());
            }
        }

        var Cptremarks = $('[class*=CptClaim_4_Remarks_][style="display:flex"]');
        $("#hdnRejectedCptCodes3").val("");
        $("#hdnRejectedCptRemarks3").val("");
        for (var i = 0; i < Cptremarks.length; i++) {

            var id = $(Cptremarks[i]).attr("id");
            var rowNumber = parseInt(id.split("4_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(Cptremarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedCptCodes3").val() == "")
                    $("#hdnRejectedCptCodes3").val(rowNumber + "^" + $("#CptClaim_4_Coder_" + rowNumber).val());
                else
                    $("#hdnRejectedCptCodes3").val($("#hdnRejectedCptCodes3").val() + "|" + rowNumber + "^" + $("#CptClaim_4_Coder_" + rowNumber).val());

                if ($("#hdnRejectedCptRemarks3").val() == "")
                    $("#hdnRejectedCptRemarks3").val(rowNumber + "^" + $(Cptremarks[i]).val());
                else
                    $("#hdnRejectedCptRemarks3").val($("#hdnRejectedCptRemarks3").val() + "|" + rowNumber + "^" + $(Cptremarks[i]).val());
            }
            if (res1.includes('accept') && $(Cptremarks[i]).val() != "") {
                // $("#hdnStatusId").val('15');
                if ($("#hdnCptCodes3").val() == "")
                    $("#hdnCptCodes3").val(rowNumber + "^" + $("#CptClaim_4_QA_" + rowNumber).val());
                else
                    $("#hdnCptCodes3").val($("#hdnCptCodes3").val() + "|" + rowNumber + "^" + $("#CptClaim_4_QA_" + rowNumber).val());

                //if ($("#hdnRejectedCptRemarks3").val() == "")
                //    $("#hdnRejectedCptRemarks3").val(rowNumber + "^" + $(Cptremarks[i]).val());
                //else
                //    $("#hdnRejectedCptRemarks3").val($("#hdnRejectedCptRemarks3").val() + "|" + rowNumber + "^" + $(Cptremarks[i]).val());
            }
            else {
                if ($(Cptremarks[i]).val() == "") {
                    $(Cptremarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        var acceptedCptCodes = $('[class*=CptClaim_4_Remarks_][style="visibility:hidden"]');
        //$("#hdnCptCodes3").val('');
        for (var i = 0; i < acceptedCptCodes.length; i++) {
            var id = parseInt($(acceptedCptCodes[i]).attr("id").split("4_")[1]);
            var rowNumber = parseInt(id);
            var res1 = $("[id='CptClaim_4_" + id + "']:eq(0)").attr('class');
            if (res1.includes('accept') || !res1.includes('reject')) {
                if ($("#hdnCptCodes3").val() == "")
                    $("#hdnCptCodes3").val(rowNumber + "^" + $("#CptClaim_4_QA_" + id).val());
                else
                    $("#hdnCptCodes3").val($("#hdnCptCodes3").val() + "|" + rowNumber + "^" + $("#CptClaim_4_QA_" + id).val());
            }
        }
        if ($("#hdnRejectedCptCodes3").val() != "") {
            $("#hdnCptCodes3").val($("#hdnCptCodes3").val() + "|" + $("#hdnRejectedCptCodes3").val());
        }

        // Claim 4 Dx & Cpt End

        var total = $('.CoderCorrections[style="display:flex"]  .fa-check-circle').length;
        var accept = $('.CoderCorrections[style="display:flex"]  .accept').length;
        var reject = $('.CoderCorrections[style="display:flex"]  .reject').length;

        if (total != accept + reject) {
            $("#validationPopUp").show();
            e.preventDefault();
        } else {
            var remarks = $('.Revised[style="display:flex"]');
            var dxremarks = $('[class*=DxRemarks_][style="display:flex"]');
            var cptremarks = $('[class*=CptRemarks_][style="display:flex"]');
            var isRemarkEmpty = false;
            for (var i = 0; i < dxremarks.length; i++) {
                if ($(dxremarks[i]).val() == "")
                    isRemarkEmpty = true;
            }
            for (var i = 0; i < remarks.length; i++) {
                if ($(remarks[i]).val() == "")
                    isRemarkEmpty = true;
            }
            for (var i = 0; i < cptremarks.length; i++) {
                if ($(cptremarks[i]).val() == "")
                    isRemarkEmpty = true;
            }
            if (isRemarkEmpty) {
                $("#validationPopUp").show();
                e.preventDefault();
            }
            var txtdanger = $('[class*=txtdanger][style=""]');
            if (txtdanger.length > 0)
                e.preventDefault();
            else
                $("#FormSubmitCodingIncorrectChart").submit();
        }
    });

    validationPopUp = function () {
        $("#validationPopUp").hide();
    };
    removevalid = function (id) {
        var id1 = id.split(" ")[1];
        var id2 = id1.split("_");
        var id3 = "DxClaim_" + id2[1] + "_" + id2[3];
        if ($("." + id1).val() != "") {
            $("#valid_" + id3).hide();
        } else {
            $("#valid_" + id3).show();
        }
    };
</script>


