@model List<UAB.DTO.ChartSummaryDTO>
@{
    ViewData["Title"] = "IncorrectCharts";
}
<style>
    .custom-control {
        padding-left: 0rem;
    }
</style>
<form asp-action="SubmitCodingIncorrectChart" id="FormSubmitCodingIncorrectChart" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model.FirstOrDefault() />
            <partial name="_IncorrectCharts" model=Model />
        </div>
    </div>
</form>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/dist/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(".CoderDetails").css("pointer-events", "none");
    $(".CoderDetails").css("background-color", "#e9ecef");

    $(".QARemarks").css("pointer-events", "none");
    $(".QARemarks").css("background-color", "#e9ecef");

    $(".QADetails").attr("readonly", true);
    $(".QARevised").attr("readonly", true);
    $("#coding").addClass('selected');
    $('#divChkAll').hide();
    $('.QACorrections').hide();
    $('.CoderDetails').attr('disabled', true);


    $('span i').click(function () {
        var id = $(this).attr('id');
        if ($(this).hasClass('fa-check-circle')) {
            //$(".CoderComments").hide();
            $(this).toggleClass('accept');
            $(this).siblings().removeClass('reject');
        }
        else if ($(this).hasClass('fa-times-circle')) {
            $(".CoderComments").show();
            $(this).toggleClass('reject');
            $(this).siblings().removeClass('accept');
            //$("." + id).css("display", "flex");
            $("#Revised" + id + "Remarks").css("display", "flex");
        }
    });

    $(document).on('click', '#btnsubmit', function (e) {
        $('.CoderDetails').removeAttr('disabled');
        $('.QARemarks').removeAttr('disabled');

        if ($('.CoderCorrections[style="display:flex"] .reject').length > 0)
            $("#hdnStatusId").val('12');
        else
            $("#hdnStatusId").val('15');

        $(".tab").each(function () {
            var id = $(this).attr('id');
            var tabid = id.split("tabIndex_")[1].split("_ClaimId_")[0];
            var claimId = id.split("tabIndex_")[1].split("_ClaimId_")[1];
            $("#hdnClaimId" + tabid).val(claimId);
            var ErrorTypeID = $("#ErrorType_" + tabid).val();
            $("#hdnQAErrorTypeID" + tabid).val(ErrorTypeID);
            var ProviderID = "";
            var BillingProviderID = "";
            var PayorID = "";
            var ProviderFeedbackID = "";
            var ProviderRemarks = "";
            var BillingProviderRemarks = "";
            var payorRemarks = "";
            var FeedbackRemarks = "";
            $("#hdnClaim" + tabid).val('');
            $("#hdnAcceptedClaim" + tabid).val('');
            var res2 = $("[id=" + "ProviderID_" + tabid + "]:eq(1)").attr('class');
            if (res2.includes('reject') && $("#CoderProviderIDRemarks_" + tabid).css("display") == "flex") {
                ProviderID = $("#CoderProviderID_" + tabid).val();
                if ($('#CoderProviderIDRemarks_' + tabid).val() != "") {
                    ProviderRemarks = $('#CoderProviderIDRemarks_' + tabid).val();
                    $("#validProvider_" + tabid).hide();
                    if ($("#hdnClaim" + tabid).val() == "") {
                        $("#hdnClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "ProviderID" + "|" + ProviderID + "|" + ProviderRemarks);
                    }
                    if ($("#hdnAcceptedClaim" + tabid).val() == "") {
                        $("#hdnAcceptedClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "ProviderID" + "|" + ProviderID);
                    }
                } else {
                    $('#CoderProviderIDRemarks_' + tabid).focus();
                    $("#validProvider_" + tabid).show();
                }
            }
            else {
                ProviderID = $("#QAProviderID_" + tabid).val();
                if (ProviderID != "0" && ProviderID != "") {
                    if ($("#hdnAcceptedClaim" + tabid).val() == "") {
                        $("#hdnAcceptedClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "ProviderID" + "|" + ProviderID);
                    }
                    if ($('#CoderProviderIDRemarks_' + tabid).css("display") == "flex") {
                        if ($('#CoderProviderIDRemarks_' + tabid).val() != "")
                            $("#validProvider_" + tabid).hide();
                        else
                            $("#validProvider_" + tabid).show();
                    }
                } else {
                    ProviderID = 0;
                    if ($("#hdnAcceptedClaim" + tabid).val() == "") {
                        $("#hdnAcceptedClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "ProviderID" + "|" + ProviderID);
                    }
                }
            }
            if ($("#BillingProviderID_" + tabid).length) {

                var res2 = $("[id=" + "BillingProviderID_" + tabid + "]:eq(1)").attr('class');
                if (res2.includes('reject') && $("#CoderBillingProviderIDRemarks_" + tabid).css("display") == "flex") {
                    BillingProviderID = $("#CoderBillingProviderID_" + tabid).val();
                    if ($('#CoderBillingProviderIDRemarks_' + tabid).val() != "") {
                        BillingProviderRemarks = $('#CoderBillingProviderIDRemarks_' + tabid).val();
                        $("#validBillingProvider_" + tabid).hide();
                        if ($("#hdnClaim" + tabid).val() == "") {
                            $("#hdnClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "BillingProviderID" + "|" + BillingProviderID + "|" + BillingProviderRemarks);
                        } else {
                            $("#hdnClaim" + tabid).val($("#hdnClaim" + tabid).val() + "^" + "BillingProviderID" + "|" + BillingProviderID + "|" + BillingProviderRemarks);
                        }
                        if ($("#hdnAcceptedClaim" + tabid).val() == "") {
                            $("#hdnAcceptedClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "BillingProviderID" + "|" + BillingProviderID);
                        } else {
                            $("#hdnAcceptedClaim" + tabid).val($("#hdnAcceptedClaim" + tabid).val() + "^" + "BillingProviderID" + "|" + BillingProviderID);
                        }
                    } else {
                        $('#CoderBillingProviderIDRemarks_' + tabid).focus();
                        $("#validBillingProvider_" + tabid).show();
                    }
                }
                else {
                    BillingProviderID = $("#QABillingProviderID_" + tabid).val();
                    if (BillingProviderID != "0" && BillingProviderID != "") {
                        if ($("#hdnAcceptedClaim" + tabid).val() == "") {
                            $("#hdnAcceptedClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "BillingProviderID" + "|" + BillingProviderID);
                        } else {
                            $("#hdnAcceptedClaim" + tabid).val($("#hdnAcceptedClaim" + tabid).val() + "^" + "BillingProviderID" + "|" + BillingProviderID);
                        }
                        if ($('#CoderBillingProviderIDRemarks_' + tabid).css("display") == "flex") {
                            if ($('#CoderBillingProviderIDRemarks_' + tabid).val() != "")
                                $("#validBillingProvider_" + tabid).hide();
                            else
                                $("#validBillingProvider_" + tabid).show();
                        }

                    } else {
                        BillingProviderID = 0;
                        if ($("#hdnAcceptedClaim" + tabid).val() == "") {
                            $("#hdnAcceptedClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "BillingProviderID" + "|" + BillingProviderID);
                        } else {
                            $("#hdnAcceptedClaim" + tabid).val($("#hdnAcceptedClaim" + tabid).val() + "^" + "BillingProviderID" + "|" + BillingProviderID);
                        }
                    }
                }
            }
            else {
                $("#hdnAcceptedClaim" + tabid).val($("#hdnAcceptedClaim" + tabid).val() + "^" + "BillingProviderID" + "|" + 0);
            }
            var res2 = $("[id=" + "PayorID_" + tabid + "]:eq(1)").attr('class');
            if (res2.includes('reject') && $("#CoderPayorIDRemarks_" + tabid).css("display") == "flex") {
                PayorID = $("#CoderPayorID_" + tabid).val();
                if ($('#CoderPayorIDRemarks_' + tabid).val() != "") {
                    payorRemarks = $('#CoderPayorIDRemarks_' + tabid).val();
                    $("#validPayor_" + tabid).hide();
                    if ($("#hdnClaim" + tabid).val() == "") {
                        $("#hdnClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "PayorID" + "|" + PayorID + "|" + payorRemarks);
                    } else {
                        $("#hdnClaim" + tabid).val($("#hdnClaim" + tabid).val() + "^" + "PayorID" + "|" + PayorID + "|" + payorRemarks);
                    }
                    if ($("#hdnAcceptedClaim" + tabid).val() == "") {
                        $("#hdnAcceptedClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "PayorID" + "|" + PayorID);
                    } else {
                        $("#hdnAcceptedClaim" + tabid).val($("#hdnAcceptedClaim" + tabid).val() + "^" + "PayorID" + "|" + PayorID);
                    }
                } else {
                    $('#CoderPayorIDRemarks_' + tabid).focus();
                    $("#validPayor_" + tabid).show();
                }
            }
            else {
                PayorID = $("#QAPayorID_" + tabid).val();
                if (PayorID != "0" && PayorID != "") {
                    if ($("#hdnAcceptedClaim" + tabid).val() == "") {
                        $("#hdnAcceptedClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "PayorID" + "|" + PayorID);
                    } else {
                        $("#hdnAcceptedClaim" + tabid).val($("#hdnAcceptedClaim" + tabid).val() + "^" + "PayorID" + "|" + PayorID);
                    }
                    if ($('#CoderPayorIDRemarks_' + tabid).css("display") == "flex") {
                        if ($('#CoderPayorIDRemarks_' + tabid).val() != "")
                            $("#validPayor_" + tabid).hide();
                        else
                            $("#validPayor_" + tabid).show();
                    }

                } else {
                    PayorID = 0;
                    if ($("#hdnAcceptedClaim" + tabid).val() == "") {
                        $("#hdnAcceptedClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "PayorID" + "|" + PayorID);
                    } else {
                        $("#hdnAcceptedClaim" + tabid).val($("#hdnAcceptedClaim" + tabid).val() + "^" + "PayorID" + "|" + PayorID);
                    }
                }
            }

            var res2 = $("[id=" + "ProviderFeedbackID_" + tabid + "]:eq(1)").attr('class');
            if (res2.includes('reject') && $("#CoderProviderFeedbackRemarks_" + tabid).css("display") == "flex") {
                ProviderFeedbackID = $("#CoderFeedback_" + tabid).val();
                if (ProviderFeedbackID == "")
                    ProviderFeedbackID = $("#QAProviderFeedback_" + tabid).val();
                FeedbackRemarks = $('#CoderProviderFeedbackRemarks_' + tabid).val();
                if ($('#CoderProviderFeedbackRemarks_' + tabid).val() != "") {
                    FeedbackRemarks = $('#CoderProviderFeedbackRemarks_' + tabid).val();
                    $("#validFeedback_" + tabid).hide();
                    if ($("#hdnClaim" + tabid).val() == "") {
                        $("#hdnClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "ProviderFeedbackID" + "|" + ProviderFeedbackID + "|" + FeedbackRemarks);
                    } else {
                        $("#hdnClaim" + tabid).val($("#hdnClaim" + tabid).val() + "^" + "ProviderFeedbackID" + "|" + ProviderFeedbackID + "|" + FeedbackRemarks);
                    }
                    if ($("#hdnAcceptedClaim" + tabid).val() == "") {
                        $("#hdnAcceptedClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "ProviderFeedbackID" + "|" + ProviderFeedbackID);
                    } else {
                        $("#hdnAcceptedClaim" + tabid).val($("#hdnAcceptedClaim" + tabid).val() + "^" + "ProviderFeedbackID" + "|" + ProviderFeedbackID);
                    }
                } else {
                    $('#CoderProviderFeedbackRemarks_' + tabid).focus();
                    $("#validFeedback_" + tabid).show();
                }
            }
            else {
                ProviderFeedbackID = $("#QAProviderFeedback_" + tabid).val();
                if (ProviderFeedbackID != "0" && ProviderFeedbackID != "") {
                    $("#validFeedback_" + tabid).hide();
                    if ($("#hdnAcceptedClaim" + tabid).val() == "") {
                        $("#hdnAcceptedClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "ProviderFeedbackID" + "|" + ProviderFeedbackID);
                    } else {
                        $("#hdnAcceptedClaim" + tabid).val($("#hdnAcceptedClaim" + tabid).val() + "^" + "ProviderFeedbackID" + "|" + ProviderFeedbackID);
                    }

                    if ($('#CoderProviderFeedbackRemarks_' + tabid).css("display") == "flex") {
                        if ($('#CoderProviderFeedbackRemarks_' + tabid).val() != "")
                            $("#validFeedback_" + tabid).hide();
                        else
                            $("#validFeedback_" + tabid).show();
                    }
                } else {
                    ProviderFeedbackID = 0;
                    if ($("#hdnAcceptedClaim" + tabid).val() == "") {
                        $("#hdnAcceptedClaim" + tabid).val("ClaimId" + "|" + claimId + "^" + "ProviderFeedbackID" + "|" + ProviderFeedbackID);
                    } else {
                        $("#hdnAcceptedClaim" + tabid).val($("#hdnAcceptedClaim" + tabid).val() + "^" + "ProviderFeedbackID" + "|" + ProviderFeedbackID);
                    }
                }
            }

        });

        // Default Claim Dx & Cpt Start

        var DxClaim1remarks = $('[class*=DxClaim_1_Remarks_][style="display:flex"]');
        $("#hdnDxCodes").val("");
        $("#hdnRejectedDxCodes").val("");
        $("#hdnRejectedDxRemarks").val("");
        for (var i = 0; i < DxClaim1remarks.length; i++) {
            var id = $(DxClaim1remarks[i]).attr("id");
            var rowNumber = parseInt(id.split("1_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(DxClaim1remarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedDxCodes").val() == "") {
                    if ($("#DxClaim_1_Coder_" + rowNumber).val() != "" && $("#DxClaim_1_Coder_" + rowNumber).val() != "NA")
                        $("#hdnRejectedDxCodes").val(rowNumber + "^" + $("#DxClaim_1_Coder_" + rowNumber).val());
                    else
                        $("#hdnRejectedDxCodes").val(rowNumber + "^" + $("#DxClaim_1_QA_" + rowNumber).val());
                }
                else {
                    if ($("#DxClaim_1_Coder_" + rowNumber).val() != "" && $("#DxClaim_1_Coder_" + rowNumber).val() != "NA")
                        $("#hdnRejectedDxCodes").val($("#hdnRejectedDxCodes").val() + "," + rowNumber + "^" + $("#DxClaim_1_Coder_" + rowNumber).val());
                    else
                        $("#hdnRejectedDxCodes").val($("#hdnRejectedDxCodes").val() + "," + rowNumber + "^" + $("#DxClaim_1_QA_" + rowNumber).val());
                }
                if ($("#hdnRejectedDxRemarks").val() == "")
                    $("#hdnRejectedDxRemarks").val(rowNumber + "^" + $(DxClaim1remarks[i]).val());
                else
                    $("#hdnRejectedDxRemarks").val($("#hdnRejectedDxRemarks").val() + "|" + rowNumber + "^" + $(DxClaim1remarks[i]).val());
            }
            if (res1.includes('accept')) {
                if ($(DxClaim1remarks[i]).css("display") == "flex") {
                    if ($(DxClaim1remarks[i]).val() != "") {
                        $("#valid_" + id).hide();
                        if ($("#hdnAcceptedDxRemarks").val() == "")
                            $("#hdnAcceptedDxRemarks").val(rowNumber + "^" + $("#Dxremarks_" + rowNumber).val());
                        else
                            $("#hdnAcceptedDxRemarks").val($("#hdnAcceptedDxRemarks").val() + "|" + rowNumber + "^" + $("#Dxremarks_" + rowNumber).val());
                    }
                    else {
                        $("#valid_" + id).show();
                    }
                }
            }
            else {
                if ($(DxClaim1remarks[i]).val() == "") {
                    $(DxClaim1remarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        var CoderDxClaimcodes = $("[id*=DxClaim_1_Coder_]");
        for (var i = 0; i < CoderDxClaimcodes.length; i++) {

            var id = parseInt($(CoderDxClaimcodes[i]).attr("id").split("Coder_")[1]);

            var res1 = $("[id='DxClaim_1_" + id + "']:eq(0)").attr('class');
            var res2 = $("[id='DxClaim_1_" + id + "']:eq(1)").attr('class');

            if (res2.includes('reject')) {
                //if ($("#hdnRejectedDxCodes").val() == "")
                //    $("#hdnRejectedDxCodes").val($("#DxClaim_1_Coder_" + id).val());
                //else
                //    $("#hdnRejectedDxCodes").val($("#hdnRejectedDxCodes").val() + "," + $("#DxClaim_1_Coder_" + id).val());
                if ($("#DxClaim_1_Coder_" + id).val() != "NA") {
                    if ($("#hdnDxCodes").val() == "") {
                        $("#hdnDxCodes").val(id + "^" + $("#DxClaim_1_Coder_" + id).val());
                    }
                    else {
                        $("#hdnDxCodes").val($("#hdnDxCodes").val() + "|" + id + "^" + $("#DxClaim_1_Coder_" + id).val());
                    }
                }
            }
            else {
                if ($("#hdnDxCodes").val() == "") {
                    if ($("#DxClaim_1_QA_" + id).val() != "")
                        $("#hdnDxCodes").val(id + "^" + $("#DxClaim_1_QA_" + id).val());
                    else
                        $("#hdnDxCodes").val(id + "^" + $("#DxClaim_1_Coder_" + id).val());
                }
                else {
                    if ($("#DxClaim_1_QA_" + id).val() != "")
                        $("#hdnDxCodes").val($("#hdnDxCodes").val() + "|" + id + "^" + $("#DxClaim_1_QA_" + id).val());
                    else
                        $("#hdnDxCodes").val($("#hdnDxCodes").val() + "|" + id + "^" + $("#DxClaim_1_Coder_" + id).val());
                }
            }
        }

        var Cptremarks = $('[class*=CptClaim_1_Remarks_][style="display:flex"]');
        $("#hdnRejectedCptCodes").val("");
        $("#hdnRejectedCptRemarks").val("");
        for (var i = 0; i < Cptremarks.length; i++) {
            var id = $(Cptremarks[i]).attr("id");
            var rowNumber = parseInt(id.split("1_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(Cptremarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedCptCodes").val() == "")
                    $("#hdnRejectedCptCodes").val(rowNumber + "^" + $("#CptClaim_1_Coder_" + rowNumber).val());
                else
                    $("#hdnRejectedCptCodes").val($("#hdnRejectedCptCodes").val() + "|" + rowNumber + "^" + $("#CptClaim_1_Coder_" + rowNumber).val());

                if ($("#hdnRejectedCptRemarks").val() == "")
                    $("#hdnRejectedCptRemarks").val(rowNumber + "^" + $(Cptremarks[i]).val());
                else
                    $("#hdnRejectedCptRemarks").val($("#hdnRejectedCptRemarks").val() + "|" + rowNumber + "^" + $(Cptremarks[i]).val());

                if ($("#CptClaim_1_Coder_" + rowNumber).val() != "NA^NA^NA^NA") {
                    if ($("#hdnCptCodes").val() == "")
                        $("#hdnCptCodes").val(rowNumber + "^" + $("#CptClaim_1_Coder_" + rowNumber).val());
                    else
                        $("#hdnCptCodes").val($("#hdnCptCodes").val() + "|" + rowNumber + "^" + $("#CptClaim_1_Coder_" + rowNumber).val());
                }
            }
            if (res1.includes('accept')) {
                // $("#hdnStatusId").val('15');
                if ($("#hdnCptCodes").val() == "")
                    $("#hdnCptCodes").val(rowNumber + "^" + $("#CptClaim_1_QA_" + rowNumber).val());
                else
                    $("#hdnCptCodes").val($("#hdnCptCodes").val() + "|" + rowNumber + "^" + $("#CptClaim_1_QA_" + rowNumber).val());

                if ($(Cptremarks[i]).css("display") == "flex") {
                    if ($(Cptremarks[i]).val() != "") {
                        $("#valid_" + id).hide();
                        if ($("#hdnAcceptedCptRemarks").val() == "")
                            $("#hdnAcceptedCptRemarks").val(rowNumber + "^" + $("#Cptremarks_" + rowNumber).val());
                        else
                            $("#hdnAcceptedCptRemarks").val($("#hdnAcceptedCptRemarks").val() + "|" + rowNumber + "^" + $("#Cptremarks_" + rowNumber).val());
                    } else {
                        $("#valid_" + id).show();
                    }
                }
            }
            else {
                if ($(Cptremarks[i]).val() == "") {
                    $(Cptremarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        var acceptedCptCodes = $('[class*=CptClaim_1_Remarks_][style="display:none"]');
        //$("#hdnCptCodes").val('');
        for (var i = 0; i < acceptedCptCodes.length; i++) {
            var id = parseInt($(acceptedCptCodes[i]).attr("id").split("1_")[1]);
            var rowNumber = parseInt(id);
            var res1 = $("[id='CptClaim_1_" + id + "']:eq(0)").attr('class');
            if (res1.includes('accept')) {
                if ($("#hdnCptCodes").val() == "")
                    $("#hdnCptCodes").val(rowNumber + "^" + $("#CptClaim_1_QA_" + id).val());
                else
                    $("#hdnCptCodes").val($("#hdnCptCodes").val() + "|" + rowNumber + "^" + $("#CptClaim_1_QA_" + id).val());
            }
        }

        // Default Claim Dx & Cpt End

        // Claim 2 Dx & Cpt Start

        var DxClaim2remarks = $('[class*=DxClaim_2_Remarks_][style="display:flex"]');
        $("#hdnDxCodes1").val("");
        $("#hdnRejectedDxCodes1").val("");
        $("#hdnRejectedDxRemarks1").val("");
        for (var i = 0; i < DxClaim2remarks.length; i++) {
            var id = $(DxClaim2remarks[i]).attr("id");
            var rowNumber = parseInt(id.split("2_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(DxClaim2remarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedDxCodes1").val() == "") {
                    if ($("#DxClaim_2_Coder_" + rowNumber).val() != "" && $("#DxClaim_2_Coder_" + rowNumber).val() != "NA")
                        $("#hdnRejectedDxCodes1").val(rowNumber + "^" + $("#DxClaim_2_Coder_" + rowNumber).val());
                    else
                        $("#hdnRejectedDxCodes1").val(rowNumber + "^" + $("#DxClaim_2_QA_" + rowNumber).val());
                }
                else {
                    if ($("#DxClaim_2_Coder_" + rowNumber).val() != "" && $("#DxClaim_2_Coder_" + rowNumber).val() != "NA")
                        $("#hdnRejectedDxCodes1").val($("#hdnRejectedDxCodes1").val() + "," + rowNumber + "^" + $("#DxClaim_2_Coder_" + rowNumber).val());
                    else
                        $("#hdnRejectedDxCodes1").val($("#hdnRejectedDxCodes1").val() + "," + rowNumber + "^" + $("#DxClaim_2_Coder_" + rowNumber).val());
                }

                if ($("#hdnRejectedDxRemarks1").val() == "")
                    $("#hdnRejectedDxRemarks1").val(rowNumber + "^" + $(DxClaim2remarks[i]).val());
                else
                    $("#hdnRejectedDxRemarks1").val($("#hdnRejectedDxRemarks1").val() + "|" + rowNumber + "^" + $(DxClaim2remarks[i]).val());
            }
            if (res1.includes('accept')) {
                if ($(DxClaim2remarks[i]).css("display") == "flex") {
                    if ($(DxClaim2remarks[i]).val() != "") {
                        $("#valid_" + id).hide();
                        if ($("#hdnAcceptedDxRemarks1").val() == "")
                            $("#hdnAcceptedDxRemarks1").val(rowNumber + "^" + $("#QADxRemarkss_2_" + rowNumber).val());
                        else
                            $("#hdnAcceptedDxRemarks1").val($("#hdnAcceptedDxRemarks1").val() + "|" + rowNumber + "^" + $("#QADxRemarkss_2_" + rowNumber).val());
                    }
                    else
                        $("#valid_" + id).show();
                }
            }
            else {
                if ($(DxClaim2remarks[i]).val() == "") {
                    $(DxClaim2remarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        var CoderDxClaimcodes = $("[id*=DxClaim_2_Coder_]");
        for (var i = 0; i < CoderDxClaimcodes.length; i++) {
            var id = parseInt($(CoderDxClaimcodes[i]).attr("id").split("Coder_")[1]);

            var res1 = $("[id='DxClaim_2_" + id + "']:eq(0)").attr('class');
            var res2 = $("[id='DxClaim_2_" + id + "']:eq(1)").attr('class');

            if (res2.includes('reject')) {
                //if ($("#hdnRejectedDxCodes1").val() == "")
                //    $("#hdnRejectedDxCodes1").val($("#DxClaim_2_Coder_" + id).val());
                //else
                //    $("#hdnRejectedDxCodes1").val($("#hdnRejectedDxCodes1").val() + "," + $("#DxClaim_2_Coder_" + id).val());
                if ($("#DxClaim_2_Coder_" + id).val() != "NA") {
                    if ($("#hdnDxCodes1").val() == "") {
                        $("#hdnDxCodes1").val(id + "^" + $("#DxClaim_2_Coder_" + id).val());
                    }
                    else {
                        $("#hdnDxCodes1").val($("#hdnDxCodes1").val() + "|" + id + "^" + $("#DxClaim_2_Coder_" + id).val());
                    }
                }
            }
            else {
                if ($("#hdnDxCodes1").val() == "") {
                    if ($("#DxClaim_2_QA_" + id).val() != "")
                        $("#hdnDxCodes1").val(id + "^" + $("#DxClaim_2_QA_" + id).val());
                    else
                        $("#hdnDxCodes1").val(id + "^" + $("#DxClaim_2_Coder_" + id).val());
                }
                else {
                    if ($("#DxClaim_2_QA_" + id).val() != "")
                        $("#hdnDxCodes1").val($("#hdnDxCodes1").val() + "|" + id + "^" + $("#DxClaim_2_QA_" + id).val());
                    else
                        $("#hdnDxCodes1").val($("#hdnDxCodes1").val() + "|" + id + "^" + $("#DxClaim_2_Coder_" + id).val());
                }
            }
        }

        var Cptremarks = $('[class*=CptClaim_2_Remarks_][style="display:flex"]');
        $("#hdnRejectedCptCodes1").val("");
        $("#hdnRejectedCptRemarks1").val("");
        for (var i = 0; i < Cptremarks.length; i++) {
            var id = $(Cptremarks[i]).attr("id");
            var rowNumber = parseInt(id.split("2_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(Cptremarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedCptCodes1").val() == "")
                    $("#hdnRejectedCptCodes1").val(rowNumber + "^" + $("#CptClaim_2_Coder_" + rowNumber).val());
                else
                    $("#hdnRejectedCptCodes1").val($("#hdnRejectedCptCodes1").val() + "|" + rowNumber + "^" + $("#CptClaim_2_Coder_" + rowNumber).val());

                if ($("#hdnRejectedCptRemarks1").val() == "")
                    $("#hdnRejectedCptRemarks1").val(rowNumber + "^" + $(Cptremarks[i]).val());
                else
                    $("#hdnRejectedCptRemarks1").val($("#hdnRejectedCptRemarks1").val() + "|" + rowNumber + "^" + $(Cptremarks[i]).val());

                if ($("#CptClaim_2_Coder_" + rowNumber).val() != "NA^NA^NA^NA") {
                    if ($("#hdnCptCodes1").val() == "")
                        $("#hdnCptCodes1").val(rowNumber + "^" + $("#CptClaim_2_Coder_" + rowNumber).val());
                    else
                        $("#hdnCptCodes1").val($("#hdnCptCodes1").val() + "|" + rowNumber + "^" + $("#CptClaim_2_Coder_" + rowNumber).val());
                }
            }
            if (res1.includes('accept')) {
                // $("#hdnStatusId").val('15');
                if ($("#hdnCptCodes1").val() == "")
                    $("#hdnCptCodes1").val(rowNumber + "^" + $("#CptClaim_2_QA_" + rowNumber).val());
                else
                    $("#hdnCptCodes1").val($("#hdnCptCodes1").val() + "|" + rowNumber + "^" + $("#CptClaim_2_QA_" + rowNumber).val());

                if ($(Cptremarks[i]).css("display") == "flex") {
                    if ($(Cptremarks[i]).val() != "") {
                        $("#valid_" + id).hide();
                        if ($("#hdnAcceptedCptRemarks1").val() == "")
                            $("#hdnAcceptedCptRemarks1").val(rowNumber + "^" + $("#QACptRemarkss_2_" + rowNumber).val());
                        else
                            $("#hdnAcceptedCptRemarks1").val($("#hdnAcceptedCptRemarks1").val() + "|" + rowNumber + "^" + $("#QACptRemarkss_2_" + rowNumber).val());
                    }
                    else
                        $("#valid_" + id).show();
                }
            } else {
                if ($(Cptremarks[i]).val() == "") {
                    $(Cptremarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        var acceptedCptCodes = $('[class*=CptClaim_2_Remarks_][style="display:none"]');
        //$("#hdnCptCodes1").val('');
        for (var i = 0; i < acceptedCptCodes.length; i++) {
            var id = parseInt($(acceptedCptCodes[i]).attr("id").split("2_")[1]);
            var rowNumber = parseInt(id);
            var res1 = $("[id='CptClaim_2_" + id + "']:eq(0)").attr('class');
            if (res1.includes('accept') || !res1.includes('reject')) {
                if ($("#hdnCptCodes1").val() == "")
                    $("#hdnCptCodes1").val(rowNumber + "^" + $("#CptClaim_2_QA_" + id).val());
                else
                    $("#hdnCptCodes1").val($("#hdnCptCodes1").val() + "|" + rowNumber + "^" + $("#CptClaim_2_QA_" + id).val());
            }
        }

        // Claim 2 Dx & Cpt End

        // Claim 3 Dx & Cpt Start

        var DxClaim3remarks = $('[class*=DxClaim_3_Remarks_][style="display:flex"]');
        $("#hdnDxCodes2").val("");
        $("#hdnRejectedDxCodes2").val("");
        $("#hdnRejectedDxRemarks2").val("");
        for (var i = 0; i < DxClaim3remarks.length; i++) {

            var id = $(DxClaim3remarks[i]).attr("id");
            var rowNumber = parseInt(id.split("3_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(DxClaim3remarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedDxCodes2").val() == "")
                    $("#hdnRejectedDxCodes2").val(rowNumber + "^" + $("#DxClaim_3_Coder_" + rowNumber).val());
                else
                    $("#hdnRejectedDxCodes2").val($("#hdnRejectedDxCodes2").val() + "|" + rowNumber + "^" + $("#DxClaim_3_Coder_" + rowNumber).val());

                if ($("#hdnRejectedDxRemarks2").val() == "")
                    $("#hdnRejectedDxRemarks2").val(rowNumber + "^" + $(DxClaim3remarks[i]).val());
                else
                    $("#hdnRejectedDxRemarks2").val($("#hdnRejectedDxRemarks2").val() + "|" + rowNumber + "^" + $(DxClaim3remarks[i]).val());
            }
            if (res1.includes('accept') && $(DxClaim3remarks[i]).val() != "") {
                if ($("#hdnAcceptedDxRemarks2").val() == "")
                    $("#hdnAcceptedDxRemarks2").val(rowNumber + "^" + $(DxClaim3remarks[i]).val());
                else
                    $("#hdnAcceptedDxRemarks2").val($("#hdnAcceptedDxRemarks2").val() + "|" + rowNumber + "^" + $(DxClaim3remarks[i]).val());
            } else {
                if ($(DxClaim3remarks[i]).val() == "") {
                    $(DxClaim3remarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        var CoderDxClaim3codes = $("[id*=DxClaim_3_Coder_]");
        for (var i = 0; i < CoderDxClaim3codes.length; i++) {

            var id = parseInt($(CoderDxClaim3codes[i]).attr("id").split("Coder_")[1]);

            var res1 = $("[id='DxClaim_3_" + id + "']:eq(0)").attr('class');
            var res2 = $("[id='DxClaim_3_" + id + "']:eq(1)").attr('class');
            if (res2.includes('reject') || (!res1.includes('accept') && !res2.includes('reject'))) {
                if ($("#hdnDxCodes2").val() == "")
                    $("#hdnDxCodes2").val(id + "^" + $("#DxClaim_3_Coder_" + id).val());
                else
                    $("#hdnDxCodes2").val($("#hdnDxCodes2").val() + "|" + id + "^" + $("#DxClaim_3_Coder_" + id).val());
            }
            else {
                if ($("#hdnDxCodes2").val() == "")
                    $("#hdnDxCodes2").val(id + "^" + $("#DxClaim_3_QA_" + id).val());
                else
                    $("#hdnDxCodes2").val($("#hdnDxCodes2").val() + "|" + id + "^" + $("#DxClaim_3_QA_" + id).val());
            }
        }

        var Claim3Cptremarks = $('[class*=CptClaim_3_Remarks_][style="display:flex"]');
        $("#hdnRejectedCptCodes2").val("");
        $("#hdnRejectedCptRemarks2").val("");
        for (var i = 0; i < Claim3Cptremarks.length; i++) {

            var id = $(Claim3Cptremarks[i]).attr("id");
            var rowNumber = parseInt(id.split("3_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(Claim3Cptremarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedCptCodes2").val() == "")
                    $("#hdnRejectedCptCodes2").val(rowNumber + "^" + $("#CptClaim_3_Coder_" + rowNumber).val());
                else
                    $("#hdnRejectedCptCodes2").val($("#hdnRejectedCptCodes2").val() + "|" + rowNumber + "^" + $("#CptClaim_3_Coder_" + rowNumber).val());

                if ($("#hdnRejectedCptRemarks2").val() == "")
                    $("#hdnRejectedCptRemarks2").val(rowNumber + "^" + $(Claim3Cptremarks[i]).val());
                else
                    $("#hdnRejectedCptRemarks2").val($("#hdnRejectedCptRemarks2").val() + "|" + rowNumber + "^" + $(Claim3Cptremarks[i]).val());
            }
            if (res1.includes('accept') && $(Claim3Cptremarks[i]).val() != "") {
                // $("#hdnStatusId").val('15');
                if ($("#hdnCptCodes2").val() == "")
                    $("#hdnCptCodes2").val(rowNumber + "^" + $("#CptClaim_3_QA_" + rowNumber).val());
                else
                    $("#hdnCptCodes2").val($("#hdnCptCodes2").val() + "|" + rowNumber + "^" + $("#CptClaim_3_QA_" + rowNumber).val());

                if ($("#hdnRejectedCptRemarks2").val() == "")
                    $("#hdnRejectedCptRemarks2").val(rowNumber + "^" + $(Claim3Cptremarks[i]).val());
                else
                    $("#hdnRejectedCptRemarks2").val($("#hdnRejectedCptRemarks2").val() + "|" + rowNumber + "^" + $(Claim3Cptremarks[i]).val());

            } else {
                if ($(Claim3Cptremarks[i]).val() == "") {
                    $(Claim3Cptremarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        var acceptedCptCodes = $('[class*=CptClaim_3_Remarks_][style="visibility:hidden"]');
        //$("#hdnCptCodes2").val('');
        for (var i = 0; i < acceptedCptCodes.length; i++) {
            var id = parseInt($(acceptedCptCodes[i]).attr("id").split("3_")[1]);
            var rowNumber = parseInt(id);
            var res1 = $("[id='CptClaim_3_" + id + "']:eq(0)").attr('class');
            if (res1.includes('accept') || !res1.includes('reject')) {
                if ($("#hdnCptCodes2").val() == "")
                    $("#hdnCptCodes2").val(rowNumber + "^" + $("#CptClaim_3_QA_" + id).val());
                else
                    $("#hdnCptCodes2").val($("#hdnCptCodes2").val() + "|" + rowNumber + "^" + $("#CptClaim_3_QA_" + id).val());
            }
        }
        if ($("#hdnRejectedCptCodes2").val() != "") {
            $("#hdnCptCodes2").val($("#hdnCptCodes2").val() + "|" + $("#hdnRejectedCptCodes2").val());
        }

        // Claim 3 Dx & Cpt End

        // Claim 4 Dx & Cpt Start

        var DxClaim4remarks = $('[class*=DxClaim_4_Remarks_][style="display:flex"]');
        $("#hdnDxCodes3").val("");
        $("#hdnRejectedDxCodes3").val("");
        $("#hdnRejectedDxRemarks3").val("");
        for (var i = 0; i < DxClaim4remarks.length; i++) {

            var id = $(DxClaim4remarks[i]).attr("id");
            var rowNumber = parseInt(id.split("4_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(DxClaim4remarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedDxCodes3").val() == "")
                    $("#hdnRejectedDxCodes3").val(rowNumber + "^" + $("#DxClaim_4_Coder_" + rowNumber).val());
                else
                    $("#hdnRejectedDxCodes3").val($("#hdnRejectedDxCodes3").val() + "|" + rowNumber + "^" + $("#DxClaim_4_Coder_" + rowNumber).val());

                if ($("#hdnRejectedDxRemarks3").val() == "")
                    $("#hdnRejectedDxRemarks3").val(rowNumber + "^" + $(DxClaim4remarks[i]).val());
                else
                    $("#hdnRejectedDxRemarks3").val($("#hdnRejectedDxRemarks3").val() + "|" + rowNumber + "^" + $(DxClaim4remarks[i]).val());
            }
            if (res1.includes('accept') && $(DxClaim4remarks[i]).val() != "") {
                if ($("#hdnAcceptedDxRemarks3").val() == "")
                    $("#hdnAcceptedDxRemarks3").val(rowNumber + "^" + $(DxClaim4remarks[i]).val());
                else
                    $("#hdnAcceptedDxRemarks3").val($("#hdnAcceptedDxRemarks3").val() + "|" + rowNumber + "^" + $(DxClaim4remarks[i]).val());

            } else {
                if ($(DxClaim4remarks[i]).val() == "") {
                    $(DxClaim4remarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        var CoderDxClaimcodes = $("[id*=DxClaim_4_Coder_]");
        for (var i = 0; i < CoderDxClaimcodes.length; i++) {

            var id = parseInt($(CoderDxClaimcodes[i]).attr("id").split("Coder_")[1]);

            var res1 = $("[id='DxClaim_4_" + id + "']:eq(0)").attr('class');
            var res2 = $("[id='DxClaim_4_" + id + "']:eq(1)").attr('class');

            if (res2.includes('reject') || (!res1.includes('accept') && !res2.includes('reject'))) {
                if ($("#hdnDxCodes3").val() == "")
                    $("#hdnDxCodes3").val(id + "^" + $("#DxClaim_4_Coder_" + id).val());
                else
                    $("#hdnDxCodes3").val($("#hdnDxCodes3").val() + "|" + id + "^" + $("#DxClaim_4_Coder_" + id).val());
            }
            else {
                if ($("#hdnDxCodes3").val() == "")
                    $("#hdnDxCodes3").val(id + "^" + $("#DxClaim_4_QA_" + id).val());
                else
                    $("#hdnDxCodes3").val($("#hdnDxCodes3").val() + "|" + id + "^" + $("#DxClaim_4_QA_" + id).val());
            }
        }

        var Cptremarks = $('[class*=CptClaim_4_Remarks_][style="display:flex"]');
        $("#hdnRejectedCptCodes3").val("");
        $("#hdnRejectedCptRemarks3").val("");
        for (var i = 0; i < Cptremarks.length; i++) {

            var id = $(Cptremarks[i]).attr("id");
            var rowNumber = parseInt(id.split("4_")[1]);
            $("#valid_" + id).hide();

            var res1 = $("[id=" + id + "]:eq(0)").attr('class');
            var res2 = $("[id=" + id + "]:eq(1)").attr('class');

            if (res2.includes('reject') && $(Cptremarks[i]).val() != "") {
                //$("#hdnStatusId").val('12');
                if ($("#hdnRejectedCptCodes3").val() == "")
                    $("#hdnRejectedCptCodes3").val(rowNumber + "^" + $("#CptClaim_4_Coder_" + rowNumber).val());
                else
                    $("#hdnRejectedCptCodes3").val($("#hdnRejectedCptCodes3").val() + "|" + rowNumber + "^" + $("#CptClaim_4_Coder_" + rowNumber).val());

                if ($("#hdnRejectedCptRemarks3").val() == "")
                    $("#hdnRejectedCptRemarks3").val(rowNumber + "^" + $(Cptremarks[i]).val());
                else
                    $("#hdnRejectedCptRemarks3").val($("#hdnRejectedCptRemarks3").val() + "|" + rowNumber + "^" + $(Cptremarks[i]).val());
            }
            if (res1.includes('accept') && $(Cptremarks[i]).val() != "") {
                // $("#hdnStatusId").val('15');
                if ($("#hdnCptCodes3").val() == "")
                    $("#hdnCptCodes3").val(rowNumber + "^" + $("#CptClaim_4_QA_" + rowNumber).val());
                else
                    $("#hdnCptCodes3").val($("#hdnCptCodes3").val() + "|" + rowNumber + "^" + $("#CptClaim_4_QA_" + rowNumber).val());

                //if ($("#hdnRejectedCptRemarks3").val() == "")
                //    $("#hdnRejectedCptRemarks3").val(rowNumber + "^" + $(Cptremarks[i]).val());
                //else
                //    $("#hdnRejectedCptRemarks3").val($("#hdnRejectedCptRemarks3").val() + "|" + rowNumber + "^" + $(Cptremarks[i]).val());
            }
            else {
                if ($(Cptremarks[i]).val() == "") {
                    $(Cptremarks[i]).focus();
                    $("#valid_" + id).show();
                }
            }
        }

        var acceptedCptCodes = $('[class*=CptClaim_4_Remarks_][style="visibility:hidden"]');
        //$("#hdnCptCodes3").val('');
        for (var i = 0; i < acceptedCptCodes.length; i++) {
            var id = parseInt($(acceptedCptCodes[i]).attr("id").split("4_")[1]);
            var rowNumber = parseInt(id);
            var res1 = $("[id='CptClaim_4_" + id + "']:eq(0)").attr('class');
            if (res1.includes('accept') || !res1.includes('reject')) {
                if ($("#hdnCptCodes3").val() == "")
                    $("#hdnCptCodes3").val(rowNumber + "^" + $("#CptClaim_4_QA_" + id).val());
                else
                    $("#hdnCptCodes3").val($("#hdnCptCodes3").val() + "|" + rowNumber + "^" + $("#CptClaim_4_QA_" + id).val());
            }
        }
        if ($("#hdnRejectedCptCodes3").val() != "") {
            $("#hdnCptCodes3").val($("#hdnCptCodes3").val() + "|" + $("#hdnRejectedCptCodes3").val());
        }

        // Claim 4 Dx & Cpt End

        // Default Claim  Dx & Cpt

        if ($("#hdnRejectedDxRemarks").val() != "")
            $("#hdnAcceptedDxRemarks").val('');
        else
            $("#hdnAcceptedDxRemarks").val('');

        if ($("#hdnRejectedCptRemarks").val() != "")
            $("#hdnAcceptedCptRemarks").val('');
        else
            $("#hdnAcceptedCptRemarks").val('');

        // Claim 1 Dx & Cpt

        if ($("#hdnRejectedDxRemarks1").val() != "")
            $("#hdnAcceptedDxRemarks1").val('');
        else
            $("#hdnAcceptedDxRemarks1").val('');

        if ($("#hdnRejectedCptRemarks1").val() != "")
            $("#hdnAcceptedCptRemarks1").val('');
        else
            $("#hdnAcceptedCptRemarks1").val('');

        // Claim 2 Dx & Cpt

        if ($("#hdnRejectedDxRemarks2").val() != "")
            $("#hdnAcceptedDxRemarks2").val('');
        else
            $("#hdnAcceptedDxRemarks2").val('');

        if ($("#hdnRejectedCptRemarks2").val() != "")
            $("#hdnAcceptedCptRemarks2").val('');
        else
            $("#hdnAcceptedCptRemarks2").val('');

        // Claim 3 Dx & Cpt

        if ($("#hdnRejectedDxRemarks3").val() != "")
            $("#hdnAcceptedDxRemarks3").val('');
        else
            $("#hdnAcceptedDxRemarks3").val('');

        if ($("#hdnRejectedCptRemarks3").val() != "")
            $("#hdnAcceptedCptRemarks3").val('');
        else
            $("#hdnAcceptedCptRemarks3").val('');

        $(".tab").each(function () {
            var id = $(this).attr('id');
            var tabid = id.split("tabIndex_")[1].split("_ClaimId_")[0];
            if (tabid != "1") {
                if ($("#hdnRejectedDxRemarks" + tabid).val() != "")
                    $("#hdnAcceptedDxRemarks" + tabid).val('');
                else
                    $("#hdnAcceptedDxRemarks" + tabid).val('');

                if ($("#hdnRejectedCptRemarks" + tabid).val() != "")
                    $("#hdnAcceptedCptRemarks" + tabid).val('');
                else
                    $("#hdnAcceptedCptRemarks" + tabid).val('');
            }

        });

        var total = $('.CoderCorrections[style="display:flex"]  .fa-check-circle').length;
        var accept = $('.CoderCorrections[style="display:flex"]  .accept').length;
        var reject = $('.CoderCorrections[style="display:flex"]  .reject').length;

        if (total != accept + reject) {
            $("#validationPopUp").show();
            e.preventDefault();
        } else {
            var remarks = $('.Revised[style="display:flex"]');
            var dxremarks = $('[class*=DxRemarks_][style="display:flex"]');
            var cptremarks = $('[class*=CptRemarks_][style="display:flex"]');
            var isRemarkEmpty = false;
            for (var i = 0; i < dxremarks.length; i++) {
                if ($(dxremarks[i]).val() == "")
                    isRemarkEmpty = true;
            }
            for (var i = 0; i < remarks.length; i++) {
                if ($(remarks[i]).val() == "")
                    isRemarkEmpty = true;
            }
            for (var i = 0; i < cptremarks.length; i++) {
                if ($(cptremarks[i]).val() == "")
                    isRemarkEmpty = true;
            }
            if (isRemarkEmpty) {
                $("#validationPopUp").show();
                e.preventDefault();
            }
            var txtdanger = $('[class*=txtdanger][style=""]');
            if (txtdanger.length > 0)
                e.preventDefault();
            else
                $("#FormSubmitCodingIncorrectChart").submit();
        }
    });

    validationPopUp = function () {
        $("#validationPopUp").hide();
    };
    removevalid = function (id) {
        var id1 = id.split(" ")[1];
        var id2 = id1.split("_");
        var id3 = "DxClaim_" + id2[1] + "_" + id2[3];
        if ($("." + id1).val() != "") {
            $("#valid_" + id3).hide();
        } else {
            $("#valid_" + id3).show();
        }
    };
</script>


