@model UAB.DTO.ChartSummaryDTO
@{
    ViewData["Title"] = "IncorrectCharts";
}
<form asp-action="SubmitCodingIncorrectChart" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model />
            <partial name="_IncorrectCharts" model=Model />
        </div>
    </div>
</form>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/dist/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(".CoderDetails").css("pointer-events", "none");
    $(".CoderDetails").css("background-color", "#e9ecef");

    $(".QARemarks").css("pointer-events", "none");
    $(".QARemarks").css("background-color", "#e9ecef");

    $(".QADetails").attr("readonly", true);
    $(".QARevised").attr("readonly", true);
    $("#coding").addClass('selected');
    $('#divChkAll').hide();
    $('.QACorrections').hide();

    $('span i').click(function () {
        var id = $(this).attr('id');
        if ($(this).hasClass('fa-check-circle')) {
            $(".CoderComments").hide();
            $(this).toggleClass('accept');
            $(this).siblings().removeClass('reject');
            $("#Revised" + id + "Remarks").css("display", "none");
            $("#Revised" + id + "Remarks").val('');
            var title = $("#" + id).attr('title');
            if (title =="PayorID1")
                $("#hdnPayorID").val($("#" + title + " option:selected").val());

            if (title == "ProviderID1")
                $("#hdnProviderID").val($("#" + title + " option:selected").val());

            if (title == "CPTCode1")
                $("#hdnCpt").val($("#" + title).val());

            if (id == "Mod")
                $("#hdnMod").val($("#" + id +"1").val());

            if (title == "Dx1")
                $("#hdnDx").val($("#" + title).val());

            if (title == "Feedback1")
                $("#hdnProviderFeedbackID").val($("#" + title + " option:selected").val());
        }
        else if ($(this).hasClass('fa-times-circle')) {
            $(".CoderComments").show();
            $(this).toggleClass('reject');
            $(this).siblings().removeClass('accept');
            $("#Revised" + id + "Remarks").css("display", "flex");
            var title = $("#" + id).attr('title');
            if (title == "PayorID1")
                $("#hdnPayorID").val('');

            if (title == "ProviderID1")
                $("#hdnProviderID").val('');

            if (title == "CPTCode1")
                $("#hdnCpt").val('');

            if (id == "Mod")
                $("#hdnMod").val('');

            if (title == "Dx1")
                $("#hdnDx").val('');

            if (title == "Feedback1")
                $("#hdnProviderFeedbackID").val('');
        }
    });

</script>


