
@{
    ViewData["Title"] = "QA";
}
<div class="container-fluid">
    <div class="row">
        <partial name="_InitialData" />
        <partial name="_RebuttalChartDetails" />
        <partial name="_QADetails" />
    </div>
</div>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    /*datwpicker*/
    jQuery('.mydatepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    //$(".CodingDetails").attr("readonly", false);
    $(".QADetails").attr("readonly", false);
    $("#qa").addClass('selected');

    $('#chkAll').change(function () {
        if ($(this).is(':checked')) {
            $('.fa-check-circle').addClass('accept');
            $('.fa-times-circle').removeClass('reject')
            $('.QARevised').css("display", "none");
        }
        else {
            $('.fa-check-circle').removeClass('accept');
            $(".CodingDetails").hide();
        }
    });

    $('span i').click(function () {
        var id = $(this).attr('id');
        alert(id);
        if ($(this).hasClass('fa-check-circle')) {
            $(this).toggleClass('accept');
            $(this).siblings().removeClass('reject');
            $("#" + id + "1").css("display", "none");
            $("#" + id + "2").css("display", "none");
        }
        else if ($(this).hasClass('fa-times-circle')) {
            $(this).toggleClass('reject');
            $(this).siblings().removeClass('accept');
            $("#" + id + "1").css("display", "flex");
            $("#" + id + "2").css("display", "flex");
            $("#chkAll").prop('checked', false);
        }
    });
</script>
