@model List<UAB.DTO.ChartSummaryDTO>
@{
    ViewData["Title"] = "Rebuttal Charts";
}
<form asp-action="SubmitQARejectedChartsOfShadowQA" id="form1" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model.FirstOrDefault() />
            <partial name="_ShadowQARejectedCharts" model=Model />
        </div>
    </div>
</form>
<style>
    .CoderDetails {
        width: 145px;
    }
</style>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(".CoderDetails").css("pointer-events", "none");
    $(".CoderDetails").css("background-color", "#e9ecef");

    $(".QARemarks").css("pointer-events", "none");
    $(".QARemarks").css("background-color", "#e9ecef");

    $(".QADetails").attr("readonly", false);
    $("#qa").addClass('selected');
    $(".QACorrections").hide();

    $(".QARevised").css("pointer-events", "none");
    $(".QARevised").css("background-color", "#e9ecef");

    $(".ShadowQAErroryType").css("pointer-events", "none");
    $(".ShadowQAErroryType").css("background-color", "#e9ecef");

    $("#QADTO_CoderRebuttal").css("pointer-events", "none");
    $("#QADTO_CoderRebuttal").css("background-color", "#e9ecef");

    $('span i').click(function () {
        var id = $(this).attr('id');
        var tabIndex = $(this).attr('data');
        if (tabIndex == "1") {
            if ($(this).hasClass('fa-check-circle')) {
                $(this).toggleClass('accept');
                $(this).siblings().removeClass('reject');
                $("." + id).css("display", "none");
                $("#" + id + "1").css("display", "none");
                $("#" + id + "2").css("display", "none");
                $("#" + id + "1").val('');
                $("." + id).val('');
                $("#" + id + "2").val('');
            }
            else if ($(this).hasClass('fa-times-circle')) {
                $(this).toggleClass('reject');
                $(this).siblings().removeClass('accept');
                $("." + id).css("display", "flex");
                $("#" + id + "1").css("display", "flex");
                $("#" + id + "2").css("display", "flex");
            }
        } else {
            if ($(this).hasClass('fa-check-circle')) {
                $(this).toggleClass('accept');
                $(this).siblings().removeClass('reject');
                $("." + id).css("display", "none");
                $("#" + id + "1").css("display", "none");
                $("#" + id + "2").css("display", "none");
                $("#" + id + "1").val('');
                $("." + id).val('');
                $("#" + id + "2").val('');
            }
            else if ($(this).hasClass('fa-times-circle')) {
                $(this).toggleClass('reject');
                $(this).siblings().removeClass('accept');
                $("." + id).css("display", "flex");
                $("#" + id + "1").css("display", "flex");
                $("#" + id + "2").css("display", "flex");
            }
        }
    });


    $(document).on('click', '#btnsubmit', function (e) {
        $(".tab").each(function () {
            var id = $(this).attr('id');
            var tabid = id.split("tabIndex_")[1].split("_ClaimId_")[0];
            var claimId = id.split("tabIndex_")[1].split("_ClaimId_")[1];
            var ErrorTypeID = $("#ErrorType_" + tabid).val();
            $("#hdnQAErrorTypeID" + tabid).val(ErrorTypeID);
            $("#hdnClaimId" + tabid).val(claimId);
            var ProviderID = "";
            var PayorID = "";
            var ProviderFeedbackID = "";
            var ProviderRemarks = "";
            var PayorRemarks = "";
            var FeedbackRemarks = "";

            $("#hdnClaim" + tabid).val('');
            $("#hdnAcceptedClaim" + tabid).val('');
            var res2 = $("[id=" + "ProviderID_" + tabid + "]:eq(1)").attr('class');
            if (res2.includes('reject')) {
                ProviderID = $("#QAProviderID_" + tabid).val();
                ProviderRemarks = $("#QAProviderIDRemarks_" + tabid).val();
                if ($('#QAProviderIDRemarks_' + tabid).val() != "") {
                    $("#validProvider_" + tabid).hide();
                    if ($("#hdnClaim" + tabid).val() == "") {
                        $("#hdnClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderID" + "," + ProviderID + "," + ProviderRemarks);
                    }
                }
                else {
                    $('#QAProviderIDRemarks_' + tabid).focus();
                    $("#validProvider_" + tabid).show();
                }
            }
            else {
                ProviderID = $("#ShadowQAProviderID_" + tabid).val();
                ProviderRemarks = $("#ShadowQAProviderIDRemarks_" + tabid).val();
                if (ProviderID != "0" && ProviderID != "") {
                    $("#validProvider_" + tabid).hide();
                    if ($("#hdnAcceptClaim" + tabid).val() == "") {
                        $("#hdnAcceptClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderID" + "," + ProviderID + "," + ProviderRemarks);
                    }
                } else {
                    ProviderID = 0;
                    ProviderRemarks = "";
                    if ($("#hdnAcceptClaim" + tabid).val() == "") {
                        $("#hdnAcceptClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderID" + "," + ProviderID + "," + ProviderRemarks);
                    }
                }
            }
            var res2 = $("[id=" + "PayorID_" + tabid + "]:eq(1)").attr('class');
            if (res2.includes('reject')) {
                PayorID = $("#QAPayorID_" + tabid).val();
                PayorRemarks = $('#QAPayorIDRemarks_' + tabid).val();
                if ($('#QAPayorIDRemarks_' + tabid).val() != "") {
                    $("#validPayor_" + tabid).hide();
                    if ($("#hdnClaim" + tabid).val() == "") {
                        $("#hdnClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "PayorID" + "," + PayorID + "," + PayorRemarks);
                    } else {
                        $("#hdnClaim" + tabid).val($("#hdnClaim" + tabid).val() + "^" + "PayorID" + "," + PayorID + "," + PayorRemarks);
                    }
                } else {
                    $('#QAPayorIDRemarks_' + tabid).focus();
                    $("#validPayor_" + tabid).show();
                }
            }
            else {
                PayorID = $("#ShadowQAPayorID_" + tabid).val();
                PayorRemarks = $('#ShadowQAPayorIDRemarks_' + tabid).val();
                if (PayorID != "0" && PayorID != "") {
                    $("#validPayor_" + tabid).hide();
                    if ($("#hdnAcceptClaim" + tabid).val() == "") {
                        $("#hdnAcceptClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "PayorID" + "," + PayorID + "," + PayorRemarks);
                    } else {
                        $("#hdnAcceptClaim" + tabid).val($("#hdnAcceptClaim" + tabid).val() + "^" + "PayorID" + "," + PayorID + "," + PayorRemarks);
                    }
                } else {
                    PayorID = 0;
                    PayorRemarks = "";
                    if ($("#hdnAcceptClaim" + tabid).val() == "") {
                        $("#hdnAcceptClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "PayorID" + "," + PayorID + "," + PayorRemarks);
                    } else {
                        $("#hdnAcceptClaim" + tabid).val($("#hdnAcceptClaim" + tabid).val() + "^" + "PayorID" + "," + PayorID + "," + PayorRemarks);
                    }
                }
            }
            var res2 = $("[id=" + "Feedback_" + tabid + "]:eq(1)").attr('class');
            if (res2.includes('reject')) {
                if ($("#QAFeedback_" + tabid).val() != "" && $('#QAProviderFeedbackRemarks_' + tabid).val() != "") {
                    ProviderFeedbackID = $("#QAFeedback_" + tabid).val();
                    FeedbackRemarks = $('#QAProviderFeedbackRemarks_' + tabid).val();
                }
                else
                    ProviderFeedbackID = 0;

                if ($('#QAProviderFeedbackRemarks_' + tabid).val() != "") {
                    $("#validFeedback_" + tabid).hide();
                    if ($("#hdnClaim" + tabid).val() == "") {
                        $("#hdnClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks);
                    } else {
                        $("#hdnClaim" + tabid).val($("#hdnClaim" + tabid).val() + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks);
                    }
                } else {
                    $('#QAProviderFeedbackRemarks_' + tabid).focus();
                    $("#validFeedback_" + tabid).show();
                }
            } else {
                if ($("#ShadowQAProviderFeedback_" + tabid).val() != "") {
                    $("#validFeedback_" + tabid).hide();
                    ProviderFeedbackID = $("#ShadowQAProviderFeedback_" + tabid).val();
                    FeedbackRemarks = $('#ShadowQAProviderFeedbackRemarks_' + tabid).val();
                }
                else
                    ProviderFeedbackID = 0;

                if ($("#hdnAcceptClaim" + tabid).val() == "") {
                    $("#hdnAcceptClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks);
                } else {
                    $("#hdnAcceptClaim" + tabid).val($("#hdnAcceptClaim" + tabid).val() + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks);
                }
            }
            if (tabid != "1") {

                var DxNewClaimremarks = $("[id*=QADxRemarkss_" + tabid + "_]");
                $("#hdnQADxRemarks" + tabid).val("");
                for (var i = 0; i < DxNewClaimremarks.length; i++) {
                    var id = parseInt($(DxNewClaimremarks[i]).attr("id").split("_")[2]);
                    var res1 = $("[id='DxClaim_" + tabid + "_" + id + "']:eq(0)").attr('class');
                    var res = $("[id='DxClaim_" + tabid + "_" + id + "']:eq(1)").attr('class');
                    if (res1 != undefined) {
                        if ($(DxNewClaimremarks[i]).css("display") == "flex" && res.includes('reject')) {
                            if ($(DxNewClaimremarks[i]).val() != "") {
                                $("#validDxRemarksClaim_" + tabid + "_" + id).hide();
                                if ($("#ErrorType_" + tabid).val() != "") {
                                    $("#ErrorTypeError_" + tabid).html('');
                                }
                                if ($("#hdnQADxRemarks" + tabid).val() == "")
                                    $("#hdnQADxRemarks" + tabid).val(id + "^" + $(DxNewClaimremarks[i]).val());
                                else
                                    $("#hdnQADxRemarks" + tabid).val($("#hdnQADxRemarks" + tabid).val() + "|" + id + "^" + $(DxNewClaimremarks[i]).val());

                            } else {
                                $(DxNewClaimremarks[i]).focus();
                                $("#validDxRemarksClaim_" + tabid + "_" + id).show();
                                if ($("#ErrorType_" + tabid).val() == "") {
                                    $("#ErrorType_" + tabid).attr('readonly', false);
                                    $("#ErrorType_" + tabid).css("pointer-events", "auto");
                                    $("#ErrorTypeError_" + tabid).html('<span id="projectdd-error" class="">ErrorType is required.</span>');
                                }
                            }
                        }
                        if (res1.includes('accept')) {
                            if ($("#QADxRemarkss_" + tabid + "_" + id).val() != "" && $("#QADxRemarkss_" + tabid + "_" + id).val() != undefined) {
                                $("#validDxRemarksClaim_" + tabid + "_" + id).hide();
                                if ($("#hdnQAAcceptDxRemarks" + tabid).val() == "") {
                                    if ($("#SQADxRemarkss_" + tabid + "_" + id).val() == "" && $("#SQADxRemarkss_" + tabid + "_" + id).val() == undefined) {
                                        $("#hdnQAAcceptDxRemarks" + tabid).val(id + "^" + $("#QADxRemarkss_" + tabid + "_" + id).val());
                                    } else {
                                        $("#hdnQAAcceptDxRemarks" + tabid).val(id + "^" + $("#SQADxRemarkss_" + tabid + "_" + id).val());
                                    }
                                }
                                else {
                                    if ($("#SQADxRemarkss_" + tabid + "_" + id).val() == "" && $("#SQADxRemarkss_" + tabid + "_" + id).val() == undefined) {
                                        $("#hdnQAAcceptDxRemarks" + tabid).val($("#hdnQAAcceptDxRemarks" + tabid).val() + "|" + id + "^" + $("#QADxRemarkss_" + tabid + "_" + id).val());
                                    } else {
                                        $("#hdnQAAcceptDxRemarks" + tabid).val($("#hdnQAAcceptDxRemarks" + tabid).val() + "|" + id + "^" + $("#SQADxRemarkss_" + tabid + "_" + id).val());
                                    }
                                }

                            } else {
                                if ($(DxNewClaimremarks[i]).css("display") == "flex") {
                                    if ($("#QADxRemarkss_" + tabid + "_" + id).val() != "" && $("#QADxRemarkss_" + tabid + "_" + id).val() != undefined) {
                                        $("#validDxRemarksClaim_" + tabid + "_" + id).hide();
                                    } else {
                                        $("#validDxRemarksClaim_" + tabid + "_" + id).show();
                                    }
                                }
                            }
                        }
                    }
                }

                // DxNewClaimcodes
                var DxNewClaimcodes = $("[id*=txtDx" + tabid + "Claim_]");
                $("#hdnQADxCodes" + tabid).val("");
                for (var i = 0; i < DxNewClaimcodes.length; i++) {
                    var id = parseInt($(DxNewClaimcodes[i]).attr("id").split("_")[1]);
                    var res1 = $("[id='DxClaim_" + tabid + "_" + id + "']:eq(0)").attr('class');
                    var res = $("[id='DxClaim_" + tabid + "_" + id + "']:eq(1)").attr('class');
                    if (res.includes('reject') && $("#QADxRemarkss_" + tabid + "_" + id).css("display") == "flex") {
                        if ($("#" + $(DxNewClaimcodes[i]).attr("id")).val() != "" && $(DxNewClaimcodes[i]).val() != "") {
                            if ($("#hdnQADxCodes" + tabid).val() == "")
                                $("#hdnQADxCodes" + tabid).val(id + "^" + $(DxNewClaimcodes[i]).val());
                            else
                                $("#hdnQADxCodes" + tabid).val($("#hdnQADxCodes" + tabid).val() + "|" + id + "^" + $(DxNewClaimcodes[i]).val());
                        }
                    }
                    if (res1.includes('accept')) {
                        if ($("#QADxRemarkss_" + tabid + "_" + id).css("display") == "flex") {
                            if ($("#QADxRemarkss_" + tabid + "_" + id).val() != "" && $("#QADxRemarkss_" + tabid + "_" + id).val() != undefined) {
                                if ($("#hdnQAAcceptDxCodes" + tabid).val() == "")
                                    $("#hdnQAAcceptDxCodes" + tabid).val(id + "^" + $("#txtSQADx" + tabid + "Claim_" + id).val());
                                else
                                    $("#hdnQAAcceptDxCodes" + tabid).val($("#hdnQAAcceptDxCodes" + tabid).val() + "|" + id + "^" + $("#txtSQADx" + tabid + "Claim_" + id).val());
                            }
                        }
                        //else {
                        //    if ($("#hdnQAAcceptDxCodes" + tabid).val() == "")
                        //        $("#hdnQAAcceptDxCodes" + tabid).val(id + "^" + $("#txtSQADx" + tabid + "Claim_" + id).val());
                        //    else
                        //        $("#hdnQAAcceptDxCodes" + tabid).val($("#hdnQAAcceptDxCodes" + tabid).val() + "|" + id + "^" + $("#txtSQADx" + tabid + "Claim_" + id).val());
                        //}
                    }
                }

                // CptNewClaimRemarks

                var CptNewClaimRemarks = $("[id*=QACptRemarkss_" + tabid + "_]");
                $("#hdnQACptRemarks" + tabid).val("");
                $("#hdnQACptCodes" + tabid).val("");
                var index = 1;
                for (var i = 0; i < CptNewClaimRemarks.length; i++) {
                    //$("#validCptRemarksClaim_" + tabid + "_" + id).hide();
                    var id = parseInt($(CptNewClaimRemarks[i]).attr("id").split("_")[2]);
                    var res1 = $("[id='Cpt_" + tabid + "_" + index + "']:eq(0)").attr('class');
                    if (res1 != undefined) {
                        var res = $("[id='Cpt_" + tabid + "_" + index + "']:eq(1)").attr('class');
                        if ($(CptNewClaimRemarks[i]).css("display") == "flex" && res.includes('reject')) {
                            if ($("#txt" + tabid + "Cpt_" + index).val() != "") {
                                if ($("#hdnQACptCodes" + tabid).val() == "")
                                    $("#hdnQACptCodes" + tabid).val(id + "^" + $("#txt" + tabid + "Cpt_" + index).val());
                                else
                                    $("#hdnQACptCodes" + tabid).val($("#hdnQACptCodes" + tabid).val() + "|" + id + "^" + $("#txt" + tabid + "Cpt_" + index).val());
                            }
                            if ($(CptNewClaimRemarks[i]).val() != "") {
                                $("#validCptRemarksClaim_" + tabid + "_" + id).hide();
                                if ($("#ErrorType_" + tabid).val() != "") {
                                    $("#ErrorTypeError_" + tabid).html('');
                                }
                                if ($("#hdnQACptRemarks" + tabid).val() == "")
                                    $("#hdnQACptRemarks" + tabid).val(id + "^" + $(CptNewClaimRemarks[i]).val());
                                else
                                    $("#hdnQACptRemarks" + tabid).val($("#hdnQACptRemarks" + tabid).val() + "|" + id + "^" + $(CptNewClaimRemarks[i]).val());
                            }
                            else {
                                $(CptNewClaimRemarks[i]).focus();
                                $("#validCptRemarksClaim_" + tabid + "_" + id).show();
                                if ($("#ErrorType_" + tabid).val() == "") {
                                    $("#ErrorType_" + tabid).attr('readonly', false);
                                    $("#ErrorType_" + tabid).css("pointer-events", "auto");
                                    $("#ErrorTypeError_" + tabid).html('<span id="projectdd-error" class="">ErrorType is required.</span>');
                                }
                            }
                        }
                        if (res1.includes('accept')) {
                            //if ($("#QACptRemarkss_" + tabid + "_" + id).css("display") == "flex") {
                            if ($("#QACptRemarkss_" + tabid + "_" + id).val() != "" && $("#QACptRemarkss_" + tabid + "_" + id).val() != undefined) {
                                if ($("#txt" + tabid + "Cpt_" + index).val() != "") {
                                    if ($("#hdnQAAcceptCptCodes" + tabid).val() == "")
                                        $("#hdnQAAcceptCptCodes" + tabid).val(id + "^" + $("#txt" + tabid + "SQACpt_" + index).val());
                                    else
                                        $("#hdnQAAcceptCptCodes" + tabid).val($("#hdnQAAcceptCptCodes" + tabid).val() + "|" + id + "^" + $("#txt" + tabid + "SQACpt_" + index).val());
                                }
                                //if ($(CptNewClaimRemarks[i]).val() != "") {
                                $("#validCptRemarksClaim_" + tabid + "_" + id).hide();
                                //    if ($("#ErrorType_" + tabid).val() != "") {
                                //        $("#ErrorTypeError_" + tabid).html('');
                                //    }

                                if ($("#hdnQAAcceptCptRemarks" + tabid).val() == "") {
                                    if ($(".SQACptRemarkss_" + tabid + "_" + id).val() == "" && $(".SQACptRemarkss_" + tabid + "_" + id).val() == undefined) {
                                        $("#hdnQAAcceptCptRemarks" + tabid).val(id + "^" + $("#QACptRemarkss_" + tabid + "_" + id).val());
                                    } else {
                                        $("#hdnQAAcceptCptRemarks" + tabid).val(id + "^" + $(".SQACptRemarkss_" + tabid + "_" + id).val());
                                    }
                                }
                                else {
                                    if ($(".SQACptRemarkss_" + tabid + "_" + id).val() == "" && $(".SQACptRemarkss_" + tabid + "_" + id).val() == undefined) {
                                        $("#hdnQAAcceptCptRemarks" + tabid).val($("#hdnQAAcceptCptRemarks" + tabid).val() + "|" + id + "^" + $("#QACptRemarkss_" + tabid + "_" + id).val());
                                    } else {
                                        $("#hdnQAAcceptCptRemarks" + tabid).val($("#hdnQAAcceptCptRemarks" + tabid).val() + "|" + id + "^" + $(".SQACptRemarkss_" + tabid + "_" + id).val());
                                    }
                                }
                            }
                            else {
                                if ($("#QACptRemarkss_" + tabid + "_" + id).css("display") == "flex") {
                                    if ($("#QACptRemarkss_" + tabid + "_" + id).val() != "" && $("#QACptRemarkss_" + tabid + "_" + id).val() != undefined) {
                                        $("#validCptRemarksClaim_" + tabid + "_" + id).hide();
                                    } else {
                                        $("#validCptRemarksClaim_" + tabid + "_" + id).show();
                                    }
                                }
                                //if ($("#ErrorType_" + tabid).val() == "") {
                                //    $("#ErrorType_" + tabid).attr('readonly', false);
                                //    $("#ErrorType_" + tabid).css("pointer-events", "auto");
                                //    $("#ErrorTypeError_" + tabid).html('<span id="projectdd-error" class="">ErrorType is required.</span>');
                                //}
                            }
                            //}
                            //else {
                            //    if ($("#hdnQAAcceptCptCodes" + tabid).val() == "")
                            //        $("#hdnQAAcceptCptCodes" + tabid).val(id + "^" + $("#txt" + tabid + "SQACpt_" + index).val());
                            //    else
                            //        $("#hdnQAAcceptCptCodes" + tabid).val($("#hdnQAAcceptCptCodes" + tabid).val() + "|" + id + "^" + $("#txt" + tabid + "SQACpt_" + index).val());
                            //}
                        }
                    }
                    index = index + parseInt(1);
                }
            };

            //if ($("#hdnQADxRemarks" + tabid).val() != "")
            //    $("#hdnQAAcceptDxRemarks" + tabid).val('');

            //if ($("#hdnQACptRemarks" + tabid).val() != "")
            //    $("#hdnQAAcceptCptRemarks" + tabid).val('');

        });


        // Default Dx & Cpt

        var Dxcodes = $("[id*=DxRemarks_]");
        $("#hdnQADxCodes").val('');
        $("#hdnQADxRemarks").val('');
        for (var i = 0; i < Dxcodes.length; i++) {
            var id = parseInt($(Dxcodes[i]).attr("id").split("_")[1]);
            var res1 = $("[id='Dx_" + id + "']:eq(0)").attr('class');
            var res = $("[id='Dx_" + id + "']:eq(1)").attr('class');
            if (res.includes('reject') && $(Dxcodes[i]).css("display") == "flex") {
                if ($("#hdnQADxCodes").val() == "")
                    $("#hdnQADxCodes").val(id + "^" + $("#txtDxCode_" + id).val());
                else
                    $("#hdnQADxCodes").val($("#hdnQADxCodes").val() + "|" + id + "^" + $("#txtDxCode_" + id).val());

                if ($("#DxRemarks_" + id).val() != "") {
                    $("#validDx_" + id).hide();
                    if ($("#ErrorType_" + id).val() != "") {
                        $("#ErrorTypeError_" + id).html('');
                    }
                    if ($("#hdnQADxRemarks").val() == "")
                        $("#hdnQADxRemarks").val(id + "^" + $("#DxRemarks_" + id).val());
                    else
                        $("#hdnQADxRemarks").val($("#hdnQADxRemarks").val() + "|" + id + "^" + $("#DxRemarks_" + id).val());
                }
                else {
                    $("#DxRemarks_" + id).focus();
                    $("#validDx_" + id).show();
                    if ($("#ErrorType_1").val() == "") {
                        $("#ErrorType_1").attr('readonly', false);
                        $("#ErrorType_1").css("pointer-events", "auto");
                        $("#ErrorTypeError_1").html('<span id="projectdd-error" class="">ErrorType is required.</span>');
                    }
                }
            }
            if (res1.includes('accept')) {
                //if ($("#DxRemarks_" + id).css("display") == "flex") {
                if ($("#DxRemarks_" + id).val() != "" && $("#DxRemarks_" + id).val() != undefined) {
                    if ($("#hdnQAAcceptDxCodes").val() == "")
                        $("#hdnQAAcceptDxCodes").val(id + "^" + $("#txtSQADxCode_" + id).val());
                    else
                        $("#hdnQAAcceptDxCodes").val($("#hdnQAAcceptDxCodes").val() + "|" + id + "^" + $("#txtSQADxCode_" + id).val());

                    //if ($("#DxRemarks_" + id).val() != "") {
                    $("#validDx_" + id).hide();
                    //    if ($("#ErrorType_" + id).val() != "") {
                    //        $("#ErrorTypeError_" + id).html('');
                    //    }
                    if ($("#hdnQAAcceptDxRemarks").val() == "") {
                        if ($(".SQADxRemarks_" + id).val() == "") {
                            $("#hdnQAAcceptDxRemarks").val(id + "^" + $("#DxRemarks_" + id).val());
                        } else {
                            $("#hdnQAAcceptDxRemarks").val(id + "^" + $(".SQADxRemarks_" + id).val());
                        }
                    }
                    else {
                        if ($(".SQADxRemarks_" + id).val() == "") {
                            $("#hdnQAAcceptDxRemarks").val($("#hdnQAAcceptDxRemarks").val() + "|" + id + "^" + $("#DxRemarks_" + id).val());
                        } else {
                            $("#hdnQAAcceptDxRemarks").val($("#hdnQAAcceptDxRemarks").val() + "|" + id + "^" + $(".SQADxRemarks_" + id).val());
                        }
                    }
                }
                else {
                    // $("#DxRemarks_" + id).focus();
                    if ($("#DxRemarks_" + id).css("display") == "flex") {
                        if ($("#DxRemarks_" + id).val() != "" && $("#DxRemarks_" + id).val() != undefined) {
                            $("#validDx_" + id).hide();
                        }
                        else {
                            $("#validDx_" + id).show();
                        }
                    }
                    //if ($("#ErrorType_1").val() == "") {
                    //    $("#ErrorType_1").attr('readonly', false);
                    //    $("#ErrorType_1").css("pointer-events", "auto");
                    //    $("#ErrorTypeError_1").html('<span id="projectdd-error" class="">ErrorType is required.</span>');
                    //}
                }
                //} else {
                //    if ($("#hdnQAAcceptDxCodes").val() == "")
                //        $("#hdnQAAcceptDxCodes").val(id + "^" + $("#txtSQADxCode_" + id).val());
                //    else
                //        $("#hdnQAAcceptDxCodes").val($("#hdnQAAcceptDxCodes").val() + "|" + id + "^" + $("#txtSQADxCode_" + id).val());
                //}
            }
        }

        var CPTcodes = $("[id*=QACptRemarks_]");
        $("#hdnQACptCodes").val('');
        $("#hdnQACptRemarks").val('');
        for (var i = 0; i < CPTcodes.length; i++) {
            var id = parseInt($(CPTcodes[i]).attr("id").split("_")[1]);
            var res1 = $("[id='Cpt_" + id + "']:eq(0)").attr('class');
            var res = $("[id='Cpt_" + id + "']:eq(1)").attr('class');
            if (res.includes('reject') && $(CPTcodes[i]).css("display") == "flex") {
                if ($("#hdnQACptCodes").val() == "")
                    $("#hdnQACptCodes").val(id + "^" + $("#txtCPTCode_" + id).val());
                else
                    $("#hdnQACptCodes").val($("#hdnQACptCodes").val() + "|" + id + "^" + $("#txtCPTCode_" + id).val());

                if ($("#QACptRemarks_" + id).val() != "") {
                    $("#validCpt_" + id).hide();
                    if ($("#ErrorType_" + id).val() != "") {
                        $("#ErrorTypeError_" + id).html('');
                    }
                    if ($("#hdnQACptRemarks").val() == "")
                        $("#hdnQACptRemarks").val(id + "^" + $("#QACptRemarks_" + id).val());
                    else
                        $("#hdnQACptRemarks").val($("#hdnQACptRemarks").val() + "|" + id + "^" + $("#QACptRemarks_" + id).val());
                }
                else {
                    $("#txtCpt_" + id).focus();
                    $("#validCpt_" + id).show();
                    if ($("#ErrorType_1").val() == "") {
                        $("#ErrorType_1").attr('readonly', false);
                        $("#ErrorType_1").css("pointer-events", "auto");
                        $("#ErrorTypeError_1").html('<span id="projectdd-error" class="">ErrorType is required.</span>');
                    }
                }
            }
            if (res1.includes('accept')) {
                //if ($("#QACptRemarks_" + id).css("display") == "flex") {
                if ($("#QACptRemarks_" + id).val() != "" && $("#QACptRemarks_" + id).val() != undefined) {
                    if ($("#hdnQAAcceptCptCodes").val() == "")
                        $("#hdnQAAcceptCptCodes").val(id + "^" + $("#txtSQACPTCode_" + id).val());
                    else
                        $("#hdnQAAcceptCptCodes").val($("#hdnQAAcceptCptCodes").val() + "|" + id + "^" + $("#txtSQACPTCode_" + id).val());

                    //if ($("#QACptRemarks_" + id).val() != "") {
                    $("#validCpt_" + id).hide();
                    //    if ($("#ErrorType_" + id).val() != "") {
                    //        $("#ErrorTypeError_" + id).html('');
                    //    }

                    if ($("#hdnQAAcceptCptRemarks").val() == "") {
                        if ($(".SQACptRemarks_" + id).val() == "") {
                            $("#hdnQAAcceptCptRemarks").val(id + "^" + $("#QACptRemarks_" + id).val());
                        } else {
                            $("#hdnQAAcceptCptRemarks").val(id + "^" + $(".SQACptRemarks_" + id).val());
                        }
                    }
                    else {
                        if ($(".SQACptRemarks_" + id).val() == "") {
                            $("#hdnQAAcceptCptRemarks").val($("#hdnQAAcceptCptRemarks").val() + "|" + id + "^" + $("#QACptRemarks_" + id).val());
                        } else {
                            $("#hdnQAAcceptCptRemarks").val($("#hdnQAAcceptCptRemarks").val() + "|" + id + "^" + $(".SQACptRemarks_" + id).val());
                        }
                    }
                }
                else {
                    //$("#txtCpt_" + id).focus();
                    if ($("#QACptRemarks_" + id).css("display") == "flex") {
                        if ($("#QACptRemarks_" + id).val() != "" && $("#QACptRemarks_" + id).val() != undefined) {
                            $("#validCpt_" + id).hide();
                        }
                        else {
                            $("#validCpt_" + id).show();
                        }
                    }
                    //if ($("#ErrorType_1").val() == "") {
                    //    $("#ErrorType_1").attr('readonly', false);
                    //    $("#ErrorType_1").css("pointer-events", "auto");
                    //    $("#ErrorTypeError_1").html('<span id="projectdd-error" class="">ErrorType is required.</span>');
                    //}
                }
                //} else {
                //    if ($("#hdnQAAcceptCptCodes").val() == "")
                //        $("#hdnQAAcceptCptCodes").val(id + "^" + $("#txtSQACPTCode_" + id).val());
                //    else
                //        $("#hdnQAAcceptCptCodes").val($("#hdnQAAcceptCptCodes").val() + "|" + id + "^" + $("#txtSQACPTCode_" + id).val());
                //}
            }
        }

        //if ($("#hdnQADxRemarks").val() != "")
        //    $("#hdnQAAcceptDxRemarks").val('');

        //if ($("#hdnQACptRemarks").val() != "")
        //    $("#hdnQAAcceptCptRemarks").val('');


        var total = $(".fa-check-circle").length;
        var reject = $(".reject").length;
        var accept = $(".accept").length;

        if (total == accept) {
            $("#hdnStatusID").val('14');
        } else {
            $("#hdnStatusID").val('13');
        }
        if (total != accept + reject) {
            $("#validationPopUp").show();
            e.preventDefault();
        }
        else {
            var txtdanger = $('[class*=txtdanger][style=""]');
            var errortype = $('[id*=projectdd]').text();
            if (txtdanger.length > 0 || errortype != "")
                e.preventDefault();
            else
                $("#form1").submit();
        }
    });

    ErrorType = function (id) {
        if ($("#ErrorType_" + id).val() != "") {
            $("#ErrorTypeError_" + id).text('');
        }
    }

    validationPopUp = function () {
        $("#validationPopUp").hide();
    };
</script>
