@model List<UAB.DTO.ChartSummaryDTO>
@{
    ViewData["Title"] = "Rebuttal Charts";
}
<form asp-action="SubmitQARebuttalChartsOfCoder" id="form1" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model.FirstOrDefault() />
            <partial name="_QARebuttalChartsOfCoder" model=Model />
        </div>
    </div>
</form>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(".CoderDetails").css("pointer-events", "none");
    $(".CoderDetails").css("background-color", "#e9ecef");

    $(".reject").removeClass("reject")
    $(".accept").removeClass("accept")

    $(".QADetails").attr("readonly", false);
    $("#qa").addClass('selected');
    $(".QACorrections").hide();
    $(".CoderCorrections input[type='text']").css("pointer-events", "none");
    $(".CoderCorrections input[type='text']").css("background-color", "#e9ecef");
    $("#divChkAll").hide();

    $('span i').click(function () {
        var id = $(this).attr('id');
        if ($(this).hasClass('fa-check-circle')) {
            $(this).toggleClass('accept');
            $(this).siblings().removeClass('reject');
            //$("#" + id + "1").css("display", "none");
            //$("#" + id + "2").css("display", "none");
            var title = $("#" + id).attr('title');
            if (title == "PayorID1")
                $("#hdnPayorID").val('');

            if (title == "ProviderID1")
                $("#hdnProviderID").val('');

            //if (title == "CPTCode1")
            //    $("#hdnCpt").val('');

            //if (id == "Mod")
            //    $("#hdnMod").val('');

            //if (title == "Dx1")
            //    $("#hdnDx").val('');

            if (title == "Feedback1")
                $("#hdnProviderFeedbackID").val('');
        }
        else if ($(this).hasClass('fa-times-circle')) {
            $(this).toggleClass('reject');
            $(this).siblings().removeClass('accept');
            //$("#" + id + "1").css("display", "flex");
            //$("#" + id + "2").css("display", "flex");
            var title = $("#" + id).attr('title');
            if (title == "PayorID1")
                $("#hdnPayorID").val($("#" + title + " option:selected").val());

            if (title == "ProviderID1")
                $("#hdnProviderID").val($("#" + title + " option:selected").val());

            //if (title == "CPTCode1")
            //    $("#hdnCpt").val($("#" + title).val());

            //if (id == "Mod")
            //    $("#hdnMod").val($("#" + id + "1").val());

            //if (title == "Dx1")
            //    $("#hdnDx").val($("#" + title).val());

            if (title == "Feedback1")
                $("#hdnProviderFeedbackID").val($("#" + title + " option:selected").val());
        }
    });

    $('#btnsubmit').click(function (e) {

        $("#hdnRejected").val('');

        if ($(".reject").length > 0) {
            $("#hdnRejected").val("1");
        }

        //Starting of Reading Dx,CPT in Claim2 to Claim4

        $(".tab").each(function () {
            var id = $(this).attr('id');
            if (id != "1") {

                var tabid = id.split("tabIndex_")[1].split("_ClaimId_")[0];
                var claimId = id.split("tabIndex_")[1].split("_ClaimId_")[1];

                var ProviderID = "";
                var PayorID = "";
                var ProviderFeedbackID = "";
                var ProviderRemarks = "";
                var payorRemarks = "";
                var FeedbackRemarks = "";

                $("#hdnClaimId" + tabid).val(claimId);

                $("#hdnClaimData" + tabid).val('');
                if ($("#ProviderID_" + tabid + ".reject").length > 0) {
                    ProviderID = $("#ProviderID1_" + tabid).val();
                    ProviderRemarks = $("#ProviderID2_" + tabid).val();
                    if ($("#hdnClaimData" + tabid).val() == "") {
                        $("#hdnClaimData" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderID" + "," + ProviderID + "," + ProviderRemarks);
                    }
                }

                if ($("#PayorID_" + tabid + ".reject").length > 0) {
                    PayorID = $("#PayorID1_" + tabid).val();
                    payorRemarks = $('#PayorID2_' + tabid).val();
                    if ($("#hdnClaimData" + tabid).val() == "") {
                        $("#hdnClaimData" + tabid).val("ClaimId" + "," + claimId + "^" + "PayorID" + "," + PayorID + "," + payorRemarks);
                    } else {
                        $("#hdnClaimData" + tabid).val($("#hdnClaimData" + tabid).val() + "^" + "PayorID" + "," + PayorID + "," + payorRemarks);
                    }
                }

                if ($("#ProviderFeedback_" + tabid + ".reject").length > 0) {
                    ProviderFeedbackID = $("#Feedback1_" + tabid).val();
                    FeedbackRemarks = $('#Feedback2_' + tabid).val();
                    if ($("#hdnClaimData" + tabid).val() == "") {
                        $("#hdnClaimData" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks);
                    } else {
                        $("#hdnClaimData" + tabid).val($("#hdnClaimData" + tabid).val() + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks);
                    }
                }

                $("#hdnDx" + tabid).val("");
                $("#hdnDxRemarks" + tabid).val("");

                var DxClaimcodes = $("[id*=DxRemarks_" + tabid + "_]");

                for (var i = 0; i < DxClaimcodes.length; i++) {

                    var id = parseInt($(DxClaimcodes[i]).attr("id").split("_")[2]);

                    var res = $("[id='DxClaim_" + tabid + "_" + id + "']:eq(1)").attr('class');

                    if (res.includes('reject')) {
                        if ($("#hdnDx" + tabid).val() == "")
                            $("#hdnDx" + tabid).val(id + "^" + $("#txtDxCode_" + tabid + "_" + id).val());
                        else
                            $("#hdnDx" + tabid).val($("#hdnDx" + tabid).val() + "|" + id + "^" + $("#txtDxCode_" + tabid + "_" + id).val());

                        if ($("#hdnDxRemarks" + tabid).val() == "")
                            $("#hdnDxRemarks" + tabid).val(id + "^" + $("#DxRemarks_" + tabid + "_" + id).val());
                        else
                            $("#hdnDxRemarks" + tabid).val($("#hdnDxRemarks" + tabid).val() + "|" + id + "^" + $("#DxRemarks_" + tabid + "_" + id).val());
                    }
                }

                $("#hdnCpt" + tabid).val("");
                $("#hdnCptRemarks" + tabid).val("");
                var CPTClaimcodes = $("[id*=CptRemarks_" + tabid + "_]");

                for (var i = 0; i < CPTClaimcodes.length; i++) {

                    var id = parseInt($(CPTClaimcodes[i]).attr("id").split("_")[2]);

                    var res = $("[id='Cpt_" + tabid + "_" + id + "']:eq(1)").attr('class');

                    if (res.includes('reject')) {
                        if ($("#hdnCpt" + tabid).val() == "")
                            $("#hdnCpt" + tabid).val(id + "^" + $("#txtCpt_" + tabid + "_" + id).val() + "^" + $("#txtMod_" + tabid + "_" + id).val() + "^" + $("#txtQty_" + tabid + "_" + id).val() + "^" + $("#txtLinks_" + tabid + "_" + id).val());
                        else
                            $("#hdnCpt" + tabid).val($("#hdnCpt" + tabid).val() + "|" + id + "^" + $("#txtCpt_" + tabid + "_" + id).val() + "^" + $("#txtMod_" + tabid + "_" + id).val() + "^" + $("#txtQty_" + tabid + "_" + id).val() + "^" + $("#txtLinks_" + tabid + "_" + id).val());

                        if ($("#hdnCptRemarks" + tabid).val() == "")
                            $("#hdnCptRemarks" + tabid).val(id + "^" + $("#CptRemarks_" + tabid + "_" + id).val());
                        else
                            $("#hdnCptRemarks" + tabid).val($("#hdnCptRemarks" + tabid).val() + "|" + id + "^" + $("#CptRemarks_" + tabid + "_" + id).val());
                    }
                }
            }
        });
        //Ending of Reading Dx,CPT in Claim2 to Claim4

        //Reading Dx,CPT in Default Claim is Started
        var Dxcodes = $("#claim1 [id*=DxRemarks_]");
        $("#hdnDx").val('');
        $("#hdnDxRemarks").val('');
        for (var i = 0; i < Dxcodes.length; i++) {

            var id = parseInt($(Dxcodes[i]).attr("id").split("_")[1]);

            var res = $("[id='Dx_" + id + "']:eq(1)").attr('class');

            if (res.includes('reject')) {
                if ($("#hdnDx").val() == "")
                    $("#hdnDx").val(id + "^" + $("#txtDxCode_" + id).val());
                else
                    $("#hdnDx").val($("#hdnDx").val() + "|" + id + "^" + $("#txtDxCode_" + id).val());

                if ($("#hdnDxRemarks").val() == "")
                    $("#hdnDxRemarks").val(id + "^" + $("#DxRemarks_" + id).val());
                else
                    $("#hdnDxRemarks").val($("#hdnDxRemarks").val() + "|" + id + "^" + $("#DxRemarks_" + id).val());
            }
        }

        var CPTcodes = $("#claim1 [id*=CptRemarks_]");
        $("#hdnCpt").val('');
        $("#hdnCptRemarks").val('');
        for (var i = 0; i < CPTcodes.length; i++) {

            var id = parseInt($(CPTcodes[i]).attr("id").split("_")[1]);

            var res = $("[id='Cpt_" + id + "']:eq(1)").attr('class');

            if (res.includes('reject')) {
                if ($("#hdnCpt").val() == "")
                    $("#hdnCpt").val(id + "^" + $("#txtCpt_" + id).val() + "^" + $("#txtMod_" + id).val() + "^" + $("#txtQty_" + id).val() + "^" + $("#txtLinks_" + id).val());
                else
                    $("#hdnCpt").val($("#hdnCpt").val() + "|" + id + "^" + $("#txtCpt_" + id).val() + "^" + $("#txtMod_" + id).val() + "^" + $("#txtQty_" + id).val() + "^" + $("#txtLinks_" + id).val());

                if ($("#hdnCptRemarks").val() == "")
                    $("#hdnCptRemarks").val(id + "^" + $("#CptRemarks_" + id).val());
                else
                    $("#hdnCptRemarks").val($("#hdnCptRemarks").val() + "|" + id + "^" + $("#CptRemarks_" + id).val());
            }
        }
        //Reading Dx,CPT in Default Claim is Ended

        var total = $('.CoderCorrections[style="display:flex"]  .fa-check-circle').length;
        var accept = $('.CoderCorrections[style="display:flex"]  .accept').length;
        var reject = $('.CoderCorrections[style="display:flex"]  .reject').length;

        if (total != accept + reject) {
            $("#validationPopUp").show();
            e.preventDefault();
        } else {
            var remarks = $('.QARevised[style="display:flex"]');
            var isRemarkEmpty = false;

            for (var i = 0; i < remarks.length; i++) {
                if ($(remarks[i]).val() == "")
                    isRemarkEmpty = true;
            }
            if (isRemarkEmpty) {
                $("#validationPopUp").show();
                e.preventDefault();
            }
        }
    });

    validationPopUp = function () {
        $("#validationPopUp").hide();
    };

</script>
