@model UAB.DTO.ChartSummaryDTO
@{
    ViewData["Title"] = "Rebuttal Charts";
}
<form asp-action="SubmitQARejectedChartsOfShadowQA" id="form1" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model />
            <partial name="_ShadowQARejectedCharts" model=Model />
        </div>
    </div>
</form>
<style>
    .CoderDetails {
        width: 145px;
    }
</style>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(".CoderDetails").css("pointer-events", "none");
    $(".CoderDetails").css("background-color", "#e9ecef");

    $(".QARemarks").css("pointer-events", "none");
    $(".QARemarks").css("background-color", "#e9ecef");

    $(".QADetails").attr("readonly", false);
    $("#qa").addClass('selected');
    $(".QACorrections").hide();

    $(".QARevised").css("pointer-events", "none");
    $(".QARevised").css("background-color", "#e9ecef");
    $("#divChkAll").hide();

    $("#QADTO_CoderRebuttal").css("pointer-events", "none");
    $("#QADTO_CoderRebuttal").css("background-color", "#e9ecef");

    $('span i').click(function () {
        var id = $(this).attr('id');
        if ($(this).hasClass('fa-check-circle')) {
            $(this).toggleClass('accept');
            $(this).siblings().removeClass('reject');
            //$("#" + id + "1").css("display", "none");
            //$("." + id).css("visibility", "hidden");
            var title = $("#" + id).attr('title');
            if (title == "PayorID1") {
                $("#hdnPayorID").val($("#" + title + " option:selected").val());
                $("#hdnPayorIDReject").val('');
            }
            if (title == "ProviderID1") {
                $("#hdnProviderID").val($("#" + title + " option:selected").val());
                $("#hdnProviderIDReject").val('');
            }
            if (title == "CPTCode1") {
                if ($("#" + title).val() != "") {
                    $("#hdnCpt").val($("#" + title).val());
                } else {
                    $("#hdnCpt").val($("#" + title + "2").val());
                }
                $("#hdnCptReject").val('');
            }
            if (id == "Mod") {
                if ($("#" + id + "1") != "") {
                    $("#hdnMod").val($("#" + id + "1").val());
                } else {
                    $("#hdnMod").val($("#" + id + "12").val());
                }
                $("#hdnModReject").val('');
            }
            if (title == "Dx1") {
                if ($("#" + title).val() != "") {
                    $("#hdnDx").val($("#" + title).val());
                } else {
                    $("#hdnDx").val($("#" + title + "2").val());
                }
                $("#hdnDxReject").val('');
            }
            if (title == "Feedback1") {
                $("#hdnProviderFeedbackID").val($("#" + title + " option:selected").val());
                $("#hdnProviderFeedbackIDReject").val('');
            }
        }
        else if ($(this).hasClass('fa-times-circle')) {
            $(this).toggleClass('reject');
            $(this).siblings().removeClass('accept');
            //$("#" + id + "1").css("display", "flex");
            // $("." + id).css("visibility", "visible");
            var title = $("#" + id).attr('title');
            if (title == "PayorID1") {
                $("#hdnPayorID").val('');
                $("#hdnPayorIDReject").val('1');
            }
            if (title == "ProviderID1") {
                $("#hdnProviderID").val('');
                $("#hdnProviderIDReject").val('1');
            }
            if (title == "CPTCode1") {
                $("#hdnCpt").val('');
                $("#hdnCptReject").val('1');
            }
            if (id == "Mod") {
                $("#hdnMod").val('');
                $("#hdnModReject").val('1');
            }
            if (title == "Dx1") {
                $("#hdnDx").val('');
                $("#hdnDxReject").val('1');
            }
            if (title == "Feedback1") {
                $("#hdnProviderFeedbackID").val('');
                $("#hdnProviderFeedbackIDReject").val('1');
            }
        }
    });


    $('#btnsubmit').click(function (e) {
        var total = $(".fa-check-circle").length;
        var reject = $(".reject").length;
        var accept = $(".accept").length;
        //if (total != accept) {
        //    alert('test1');
        //    e.preventDefault();
        //}
        if (total != accept + reject) {
            $("#validationPopUp").show();
            e.preventDefault();
        }

    });

    validationPopUp = function () {
        $("#validationPopUp").hide();
    };
</script>
