@model List<UAB.DTO.ChartSummaryDTO>
@{
    ViewData["Title"] = "Rebuttal Charts";
}
<form asp-action="SubmitQARebuttalChartsOfCoder" id="formSubmitQARebuttalChartsOfCoder" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model.FirstOrDefault() />
            <partial name="_QARebuttalChartsOfCoder" model=Model />
        </div>
    </div>
</form>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(".CoderDetails").css("pointer-events", "none");
    $(".CoderDetails").css("background-color", "#e9ecef");
    $('.CoderDetails').attr('disabled', true);

    $(".reject").removeClass("reject")
    $(".accept").removeClass("accept")

    $(".QADetails").attr("readonly", false);
    $("#qa").addClass('selected');
    $(".QACorrections").hide();
    $(".CoderCorrections input[type='text']").css("pointer-events", "none");
    $(".CoderCorrections input[type='text']").css("background-color", "#e9ecef");
    $("#divChkAll").hide();

    $('span i').click(function () {
        var id = $(this).attr('id');
        if ($(this).hasClass('fa-check-circle')) {
            $(this).toggleClass('accept');
            $(this).siblings().removeClass('reject');
            //$("#" + id + "1").css("display", "none");
            //$("#" + id + "2").css("display", "none");
            var title = $("#" + id).attr('title');
            if (title == "PayorID1")
                $("#hdnPayorID").val('');

            if (title == "ProviderID1")
                $("#hdnProviderID").val('');

            //if (title == "CPTCode1")
            //    $("#hdnCpt").val('');

            //if (id == "Mod")
            //    $("#hdnMod").val('');

            //if (title == "Dx1")
            //    $("#hdnDx").val('');

            if (title == "Feedback1")
                $("#hdnProviderFeedbackID").val('');
        }
        else if ($(this).hasClass('fa-times-circle')) {
            $(this).toggleClass('reject');
            $(this).siblings().removeClass('accept');
            //$("#" + id + "1").css("display", "flex");
            //$("#" + id + "2").css("display", "flex");
            var title = $("#" + id).attr('title');
            if (title == "PayorID1")
                $("#hdnPayorID").val($("#" + title + " option:selected").val());

            if (title == "ProviderID1")
                $("#hdnProviderID").val($("#" + title + " option:selected").val());

            //if (title == "CPTCode1")
            //    $("#hdnCpt").val($("#" + title).val());

            //if (id == "Mod")
            //    $("#hdnMod").val($("#" + id + "1").val());

            //if (title == "Dx1")
            //    $("#hdnDx").val($("#" + title).val());

            if (title == "Feedback1")
                $("#hdnProviderFeedbackID").val($("#" + title + " option:selected").val());
        }
    });

    $(document).on('click', '#btnsubmit,#SubmitAndGetNext', function (e) {
        $('.CoderDetails').removeAttr('disabled');

        $("#hdnRejected").val('');

        if ($(".reject").length > 0) {
            $("#hdnRejected").val("1");
        }

        //Starting of Reading Dx,CPT in Claim2 to Claim4

        $(".tab").each(function () {
            var id = $(this).attr('id');
            var ProviderID = "";
            var PayorID = "";
            var ProviderFeedbackID = "";
            var ProviderRemarks = "";
            var payorRemarks = "";
            var FeedbackRemarks = "";

            if (id == "1") {
                var claimId = "0";
                var ErrorTypeID = $("#ErrorType_" + id).val();
                $("#hdnQAErrorTypeID" + id).val(ErrorTypeID);
                $("#hdnClaimData" + id).val('');
                if ($("#ProviderID .reject").length > 0) {
                    ProviderID = $("#ProviderID1").val();
                    ProviderRemarks = $("#ProviderID2").val();
                    if ($("#hdnClaimData" + id).val() == "") {
                        $("#hdnClaimData" + id).val("ClaimId" + "," + claimId + "^" + "ProviderID" + "," + ProviderID + "," + ProviderRemarks + "^" + "ErrorTypeId" + "," + ErrorTypeID);
                    }
                }

                if ($("#PayorID .reject").length > 0) {
                    PayorID = $("#PayorID1").val();
                    payorRemarks = $('#PayorID2').val();
                    if ($("#hdnClaimData" + id).val() == "") {
                        $("#hdnClaimData" + id).val("ClaimId" + "," + claimId + "^" + "PayorID" + "," + PayorID + "," + payorRemarks + "^" + "ErrorTypeId" + "," + ErrorTypeID);
                    } else {
                        $("#hdnClaimData" + id).val($("#hdnClaimData" + id).val() + "^" + "PayorID" + "," + PayorID + "," + payorRemarks + "^" + "ErrorTypeId" + "," + ErrorTypeID);
                    }
                }

                if ($("#Feedback .reject").length > 0) {
                    ProviderFeedbackID = $("#Feedback1").val();
                    FeedbackRemarks = $('#Feedback2').val();
                    if ($("#hdnClaimData" + id).val() == "") {
                        $("#hdnClaimData" + id).val("ClaimId" + "," + claimId + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks + "^" + "ErrorTypeId" + "," + ErrorTypeID);
                    } else {
                        $("#hdnClaimData" + id).val($("#hdnClaimData" + id).val() + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks + "^" + "ErrorTypeId" + "," + ErrorTypeID);
                    }
                }

            } else {
                var tabid = id.split("tabIndex_")[1].split("_ClaimId_")[0];
                var claimId = id.split("tabIndex_")[1].split("_ClaimId_")[1];
                var ErrorTypeID = $("#ErrorType_" + tabid).val();
                $("#hdnQAErrorTypeID" + tabid).val(ErrorTypeID);
                $("#hdnClaimId" + tabid).val(claimId);

                $("#hdnClaimData" + tabid).val('');
                if ($("#ProviderID_" + tabid + ".reject").length > 0) {
                    ProviderID = $("#ProviderID1_" + tabid).val();
                    ProviderRemarks = $("#ProviderID2_" + tabid).val();
                    if ($("#hdnClaimData" + tabid).val() == "") {
                        $("#hdnClaimData" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderID" + "," + ProviderID + "," + ProviderRemarks + "^" + "ErrorTypeId" + "," + ErrorTypeID);
                    }
                }

                if ($("#PayorID_" + tabid + ".reject").length > 0) {
                    PayorID = $("#PayorID1_" + tabid).val();
                    payorRemarks = $('#PayorID2_' + tabid).val();
                    if ($("#hdnClaimData" + tabid).val() == "") {
                        $("#hdnClaimData" + tabid).val("ClaimId" + "," + claimId + "^" + "PayorID" + "," + PayorID + "," + payorRemarks + "^" + "ErrorTypeId" + "," + ErrorTypeID);
                    } else {
                        $("#hdnClaimData" + tabid).val($("#hdnClaimData" + tabid).val() + "^" + "PayorID" + "," + PayorID + "," + payorRemarks + "^" + "ErrorTypeId" + "," + ErrorTypeID);
                    }
                }

                if ($("#ProviderFeedback_" + tabid + ".reject").length > 0) {
                    ProviderFeedbackID = $("#Feedback1_" + tabid).val();
                    FeedbackRemarks = $('#Feedback2_' + tabid).val();
                    if ($("#hdnClaimData" + tabid).val() == "") {
                        $("#hdnClaimData" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks + "^" + "ErrorTypeId" + "," + ErrorTypeID);
                    } else {
                        $("#hdnClaimData" + tabid).val($("#hdnClaimData" + tabid).val() + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks + "^" + "ErrorTypeId" + "," + ErrorTypeID);
                    }
                }

                $("#hdnDx" + tabid).val("");
                $("#hdnDxRemarks" + tabid).val("");

                var DxClaimcodes = $("[id*=DxRemarks_" + tabid + "_]");

                for (var i = 0; i < DxClaimcodes.length; i++) {
                    $("#validDxRemarksClaim_" + tabid + "_" + id).hide();
                    var id = parseInt($(DxClaimcodes[i]).attr("id").split("_")[2]);

                    var res = $("[id='DxClaim_" + tabid + "_" + id + "']:eq(1)").attr('class');

                    if (res.includes('reject')) {
                        if ($("#hdnDx" + tabid).val() == "")
                            $("#hdnDx" + tabid).val(id + "^" + $("#txtDxCode_" + tabid + "_" + id).val());
                        else
                            $("#hdnDx" + tabid).val($("#hdnDx" + tabid).val() + "|" + id + "^" + $("#txtDxCode_" + tabid + "_" + id).val());

                        if ($("#DxRemarks_" + tabid + "_" + id).val() != "") {
                            $("#validDxRemarksClaim_" + tabid + "_" + id).hide();
                            if ($("#ErrorType_" + tabid).val() != "") {
                                $("#ErrorTypeError_" + tabid).html('');
                            }
                            if ($("#hdnDxRemarks" + tabid).val() == "")
                                $("#hdnDxRemarks" + tabid).val(id + "^" + $("#DxRemarks_" + tabid + "_" + id).val());
                            else
                                $("#hdnDxRemarks" + tabid).val($("#hdnDxRemarks" + tabid).val() + "|" + id + "^" + $("#DxRemarks_" + tabid + "_" + id).val());
                        } else {
                            $("#DxRemarks_" + tabid + "_" + id).focus();
                            $("#validDxRemarksClaim_" + tabid + "_" + id).show();
                            if ($("#ErrorType_" + tabid).val() == "") {
                                $("#ErrorType_" + tabid).attr('readonly', false);
                                $("#ErrorType_" + tabid).css("pointer-events", "auto");
                                $("#ErrorTypeError_" + tabid).html('<span id="projectdd-error" class="">ErrorType is required.</span>');
                            }
                        }
                    }
                }

                $("#hdnCpt" + tabid).val("");
                $("#hdnCptRemarks" + tabid).val("");
                var CPTClaimcodes = $("[id*=CptRemarks_" + tabid + "_]");

                for (var i = 0; i < CPTClaimcodes.length; i++) {
                    $("#validCptRemarksClaim_" + tabid + "_" + id).hide();
                    var id = parseInt($(CPTClaimcodes[i]).attr("id").split("_")[2]);

                    var res = $("[id='Cpt_" + tabid + "_" + id + "']:eq(1)").attr('class');

                    if (res.includes('reject')) {
                        if ($("#hdnCpt" + tabid).val() == "")
                            $("#hdnCpt" + tabid).val(id + "^" + $("#txtCpt_" + tabid + "_" + id).val() + "^" + $("#txtMod_" + tabid + "_" + id).val() + "^" + $("#txtQty_" + tabid + "_" + id).val() + "^" + $("#txtLinks_" + tabid + "_" + id).val());
                        else
                            $("#hdnCpt" + tabid).val($("#hdnCpt" + tabid).val() + "|" + id + "^" + $("#txtCpt_" + tabid + "_" + id).val() + "^" + $("#txtMod_" + tabid + "_" + id).val() + "^" + $("#txtQty_" + tabid + "_" + id).val() + "^" + $("#txtLinks_" + tabid + "_" + id).val());
                        if ($("#CptRemarks_" + tabid + "_" + id).val() != "") {
                            $("#validCptRemarksClaim_" + tabid + "_" + id).hide();
                            if ($("#ErrorType_" + tabid).val() != "") {
                                $("#ErrorTypeError_" + tabid).html('');
                            }
                            if ($("#hdnCptRemarks" + tabid).val() == "")
                                $("#hdnCptRemarks" + tabid).val(id + "^" + $("#CptRemarks_" + tabid + "_" + id).val());
                            else
                                $("#hdnCptRemarks" + tabid).val($("#hdnCptRemarks" + tabid).val() + "|" + id + "^" + $("#CptRemarks_" + tabid + "_" + id).val());
                        } else {
                            $("#CptRemarks_" + tabid + "_" + id).focus();
                            $("#validCptRemarksClaim_" + tabid + "_" + id).show();
                            if ($("#ErrorType_" + tabid).val() == "") {
                                $("#ErrorType_" + tabid).attr('readonly', false);
                                $("#ErrorType_" + tabid).css("pointer-events", "auto");
                                $("#ErrorTypeError_" + tabid).html('<span id="projectdd-error" class="">ErrorType is required.</span>');
                            }
                        }
                    }
                }
            }
        });
        //Ending of Reading Dx,CPT in Claim2 to Claim4

        //Reading Dx,CPT in Default Claim is Started
        var Dxcodes = $("#claim1 [id*=DxRemarks_]");
        $("#hdnDx").val('');
        $("#hdnDxRemarks").val('');
        for (var i = 0; i < Dxcodes.length; i++) {
            $("#validDx_" + id).hide();
            var id = parseInt($(Dxcodes[i]).attr("id").split("_")[1]);

            var res = $("[id='Dx_" + id + "']:eq(1)").attr('class');

            if (res.includes('reject')) {
                if ($("#hdnDx").val() == "")
                    $("#hdnDx").val(id + "^" + $("#txtDxCode_" + id).val());
                else
                    $("#hdnDx").val($("#hdnDx").val() + "|" + id + "^" + $("#txtDxCode_" + id).val());

                if ($("#DxRemarks_" + id).val() != "") {
                    $("#validDx_" + id).hide();
                    if ($("#ErrorType_" + id).val() != "") {
                        $("#ErrorTypeError_" + id).html('');
                    }
                    if ($("#hdnDxRemarks").val() == "")
                        $("#hdnDxRemarks").val(id + "^" + $("#DxRemarks_" + id).val());
                    else
                        $("#hdnDxRemarks").val($("#hdnDxRemarks").val() + "|" + id + "^" + $("#DxRemarks_" + id).val());
                } else {
                    $("#DxRemarks_" + id).focus();
                    $("#validDx_" + id).show();
                    if ($("#ErrorType_" + id).val() == "") {
                        $("#ErrorType_" + id).attr('readonly', false);
                        $("#ErrorType_" + id).css("pointer-events", "auto");
                        $("#ErrorTypeError_" + id).html('<span id="projectdd-error" class="">ErrorType is required.</span>');
                    }
                }
            }
        }

        var CPTcodes = $("#claim1 [id*=CptRemarks_]");
        $("#hdnCpt").val('');
        $("#hdnCptRemarks").val('');
        for (var i = 0; i < CPTcodes.length; i++) {
            $("#validCpt_" + id).hide();
            var id = parseInt($(CPTcodes[i]).attr("id").split("_")[1]);

            var res = $("[id='Cpt_" + id + "']:eq(1)").attr('class');

            if (res.includes('reject')) {
                if ($("#hdnCpt").val() == "")
                    $("#hdnCpt").val(id + "^" + $("#txtCpt_" + id).val() + "^" + $("#txtMod_" + id).val() + "^" + $("#txtQty_" + id).val() + "^" + $("#txtLinks_" + id).val());
                else
                    $("#hdnCpt").val($("#hdnCpt").val() + "|" + id + "^" + $("#txtCpt_" + id).val() + "^" + $("#txtMod_" + id).val() + "^" + $("#txtQty_" + id).val() + "^" + $("#txtLinks_" + id).val());

                if ($("#CptRemarks_" + id).val() != "") {
                    $("#validCpt_" + id).hide();
                    if ($("#ErrorType_" + id).val() != "") {
                        $("#ErrorTypeError_" + id).html('');
                    }
                    if ($("#hdnCptRemarks").val() == "")
                        $("#hdnCptRemarks").val(id + "^" + $("#CptRemarks_" + id).val());
                    else
                        $("#hdnCptRemarks").val($("#hdnCptRemarks").val() + "|" + id + "^" + $("#CptRemarks_" + id).val());
                } else {
                    $("#txtCpt_" + id).focus();
                    $("#validCpt_" + id).show();
                    if ($("#ErrorType_" + id).val() == "") {
                        $("#ErrorType_" + id).attr('readonly', false);
                        $("#ErrorType_" + id).css("pointer-events", "auto");
                        $("#ErrorTypeError_" + id).html('<span id="projectdd-error" class="">ErrorType is required.</span>');
                    }
                }
            }
        }
        //Reading Dx,CPT in Default Claim is Ended

        var total = $('.CoderCorrections[style="display:flex"]  .fa-check-circle').length;
        var accept = $('.CoderCorrections[style="display:flex"]  .accept').length;
        var reject = $('.CoderCorrections[style="display:flex"]  .reject').length;

        if (total != accept + reject) {
            $("#validationPopUp").show();
            e.preventDefault();
        } else {
            var txtdanger = $('[class*=txtdanger][style=""]');
            var errortype = $('[id*=projectdd]').text();
            if (txtdanger.length > 0 || errortype != "")
                e.preventDefault();
            else
                $("#formSubmitQARebuttalChartsOfCoder").submit();
        }
    });

    ErrorType = function (id) {
        if ($("#ErrorType_" + id).val() != "") {
            $("#ErrorTypeError_" + id).text('');
        }
    }

    validationPopUp = function () {
        $("#validationPopUp").hide();
    };

</script>
