@model List<UAB.DTO.ChartSummaryDTO>
@{
    ViewData["Title"] = "Rebuttal Charts";
}
<form asp-action="SubmitQARebuttalChartsOfCoder" id="formSubmitQARebuttalChartsOfCoder" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model.FirstOrDefault() />
            <partial name="_QARebuttalChartsOfCoder" model=Model />
        </div>
    </div>
</form>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(".CoderDetails").css("pointer-events", "none");
    $(".CoderDetails").css("background-color", "#e9ecef");
    $('.CoderDetails').attr('disabled', true);

    $(".reject").removeClass("reject")
    $(".accept").removeClass("accept")

    $(".QADetails").attr("readonly", false);
    $("#qa").addClass('selected');
    $(".QACorrections").hide();
    $(".CoderCorrections input[type='text']").css("pointer-events", "none");
    $(".CoderCorrections input[type='text']").css("background-color", "#e9ecef");
    $("#divChkAll").hide();

    $('span i').click(function () {
        var id = $(this).attr('id');
        if ($(this).hasClass('fa-check-circle')) {
            $(this).toggleClass('accept');
            $(this).siblings().removeClass('reject');
            //$("#" + id + "1").css("display", "none");
            //$("#" + id + "2").css("display", "none");
            var title = $("#" + id).attr('title');
            if (title == "PayorID1")
                $("#hdnPayorID").val('');

            if (title == "ProviderID1")
                $("#hdnProviderID").val('');

            //if (title == "CPTCode1")
            //    $("#hdnCpt").val('');

            //if (id == "Mod")
            //    $("#hdnMod").val('');

            //if (title == "Dx1")
            //    $("#hdnDx").val('');

            if (title == "Feedback1")
                $("#hdnProviderFeedbackID").val('');
        }
        else if ($(this).hasClass('fa-times-circle')) {
            $(this).toggleClass('reject');
            $(this).siblings().removeClass('accept');
            //$("#" + id + "1").css("display", "flex");
            //$("#" + id + "2").css("display", "flex");
            var title = $("#" + id).attr('title');
            if (title == "PayorID1")
                $("#hdnPayorID").val($("#" + title + " option:selected").val());

            if (title == "ProviderID1")
                $("#hdnProviderID").val($("#" + title + " option:selected").val());

            //if (title == "CPTCode1")
            //    $("#hdnCpt").val($("#" + title).val());

            //if (id == "Mod")
            //    $("#hdnMod").val($("#" + id + "1").val());

            //if (title == "Dx1")
            //    $("#hdnDx").val($("#" + title).val());

            if (title == "Feedback1")
                $("#hdnProviderFeedbackID").val($("#" + title + " option:selected").val());
        }
    });

    $(document).on('click', '#btnsubmit,#SubmitAndGetNext', function (e) {
        $('.CoderDetails').removeAttr('disabled');

        $("#hdnRejected").val('');

        if ($(".reject").length > 0) {
            $("#hdnRejected").val("1");
        }

        //Starting of Reading Dx,CPT in Claim2 to Claim4

        $(".tab").each(function () {
            var id = $(this).attr('id');
            var tabid = id.split("tabIndex_")[1].split("_ClaimId_")[0];
            var claimId = id.split("tabIndex_")[1].split("_ClaimId_")[1];
            var ErrorTypeID = $("#ErrorType_" + tabid).val();
            $("#hdnQAErrorTypeID" + tabid).val(ErrorTypeID);
            $("#hdnClaimId" + tabid).val(claimId);
            var ProviderID = "";
            var PayorID = "";
            var ProviderFeedbackID = "";
            var ProviderRemarks = "";
            var payorRemarks = "";
            var FeedbackRemarks = "";

            $("#hdnClaimData" + tabid).val('');
            var res2 = $("[id=" + "ProviderID_" + tabid + "]:eq(1)").attr('class');
            if (res2.includes('reject')) {
                ProviderID = $("#QAProviderID_" + tabid).val();
                ProviderRemarks = $("#QAProviderIDRemarks_" + tabid).val();
                if ($("#hdnClaimData" + tabid).val() == "") {
                    $("#hdnClaimData" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderID" + "," + ProviderID + "," + ProviderRemarks);
                }
            }
            else {
                ProviderID = $("#CoderProviderID_" + tabid).val();
                ProviderRemarks = $("#CoderProviderIDRemarks_" + tabid).val();
                if (ProviderID != "0" && ProviderID != "") {
                    if ($("#hdnAcceptClaim" + tabid).val() == "") {
                        $("#hdnAcceptClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderID" + "," + ProviderID + "," + ProviderRemarks);
                    }
                }
            }

            var res2 = $("[id=" + "PayorID_" + tabid + "]:eq(1)").attr('class');
            if (res2.includes('reject')) {
                PayorID = $("#QAPayorID_" + tabid).val();
                payorRemarks = $('#QAPayorIDRemarks_' + tabid).val();
                if ($("#hdnClaimData" + tabid).val() == "") {
                    $("#hdnClaimData" + tabid).val("ClaimId" + "," + claimId + "^" + "PayorID" + "," + PayorID + "," + payorRemarks);
                } else {
                    $("#hdnClaimData" + tabid).val($("#hdnClaimData" + tabid).val() + "^" + "PayorID" + "," + PayorID + "," + payorRemarks);
                }
            } else {
                PayorID = $("#CoderPayorID_" + tabid).val();
                payorRemarks = $('#CoderPayorIDRemarks_' + tabid).val();
                if (PayorID != "0" && PayorID != "") {
                    if ($("#hdnAcceptClaim" + tabid).val() == "") {
                        $("#hdnAcceptClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "PayorID" + "," + PayorID);
                    } else {
                        $("#hdnAcceptClaim" + tabid).val($("#hdnAcceptClaim" + tabid).val() + "^" + "PayorID" + "," + PayorID);
                    }
                }
            }
            var res2 = $("[id=" + "Feedback_" + tabid + "]:eq(1)").attr('class');
            if (res2.includes('reject')) {
                ProviderFeedbackID = $("#QAProviderFeedback_" + tabid).val();
                FeedbackRemarks = $('#QAProviderFeedbackRemarks_' + tabid).val();
                if ($("#hdnClaimData" + tabid).val() == "") {
                    $("#hdnClaimData" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks);
                } else {
                    $("#hdnClaimData" + tabid).val($("#hdnClaimData" + tabid).val() + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks);
                }
            }
            else {
                ProviderFeedbackID = $("#CoderFeedback_" + tabid).val();
                FeedbackRemarks = $('#CoderProviderFeedbackRemarks_' + tabid).val();
                if (ProviderFeedbackID != "0") {
                    if ($("#hdnAcceptClaim" + tabid).val() == "") {
                        $("#hdnAcceptClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks);
                    } else {
                        $("#hdnAcceptClaim" + tabid).val($("#hdnAcceptClaim" + tabid).val() + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks);
                    }
                }
            }
            if (id != "1") {
                $("#hdnDx" + tabid).val("");
                $("#hdnDxRemarks" + tabid).val("");

                var DxClaimcodes = $("[id*=DxRemarks_" + tabid + "_]");

                for (var i = 0; i < DxClaimcodes.length; i++) {
                    $("#validDxRemarksClaim_" + tabid + "_" + id).hide();
                    var id = parseInt($(DxClaimcodes[i]).attr("id").split("_")[2]);

                    var res = $("[id='DxClaim_" + tabid + "_" + id + "']:eq(1)").attr('class');

                    if (res.includes('reject')) {
                        if ($("#hdnDx" + tabid).val() == "")
                            $("#hdnDx" + tabid).val(id + "^" + $("#txtDxCode_" + tabid + "_" + id).val());
                        else
                            $("#hdnDx" + tabid).val($("#hdnDx" + tabid).val() + "|" + id + "^" + $("#txtDxCode_" + tabid + "_" + id).val());

                        if ($("#DxRemarks_" + tabid + "_" + id).val() != "") {
                            $("#validDxRemarksClaim_" + tabid + "_" + id).hide();
                            if ($("#ErrorType_" + tabid).val() != "") {
                                $("#ErrorTypeError_" + tabid).html('');
                            }
                            if ($("#hdnDxRemarks" + tabid).val() == "")
                                $("#hdnDxRemarks" + tabid).val(id + "^" + $("#DxRemarks_" + tabid + "_" + id).val());
                            else
                                $("#hdnDxRemarks" + tabid).val($("#hdnDxRemarks" + tabid).val() + "|" + id + "^" + $("#DxRemarks_" + tabid + "_" + id).val());
                        } else {
                            $("#DxRemarks_" + tabid + "_" + id).focus();
                            $("#validDxRemarksClaim_" + tabid + "_" + id).show();
                            if ($("#ErrorType_" + tabid).val() == "") {
                                $("#ErrorType_" + tabid).attr('readonly', false);
                                $("#ErrorType_" + tabid).css("pointer-events", "auto");
                                $("#ErrorTypeError_" + tabid).html('<span id="projectdd-error" class="">ErrorType is required.</span>');
                            }
                        }
                    }
                    else {
                        if ($("#hdnQAAcceptDxCodes" + tabid).val() == "") {
                            if ($("#CoderDxCodes_" + tabid + "_" + id).val() != undefined) {
                                $("#hdnQAAcceptDxCodes" + tabid).val(id + "^" + $("#CoderDxCodes_" + tabid + "_" + id).val());
                            }
                            else {
                                if ($("#CoderDxCodes_" + tabid + "_" + id).val() != undefined) {
                                    $("#hdnQAAcceptDxCodes" + tabid).val($("#hdnQAAcceptDxCodes" + tabid).val() + "|" + id + "^" + $("#CoderDxCodes_" + tabid + "_" + id).val());
                                }
                            }
                        }

                        if ($("#hdnQAAcceptDxRemarks" + tabid).val() == "")
                            $("#hdnQAAcceptDxRemarks" + tabid).val(id + "^" + $(".CoderDXRemarks_" + tabid + "_" + id).val());
                        else
                            $("#hdnQAAcceptDxRemarks" + tabid).val($("#hdnQAAcceptDxRemarks" + tabid).val() + "|" + id + "^" + $(".CoderDXRemarks_" + tabid + "_" + id).val());

                    }

                }

                $("#hdnCpt" + tabid).val("");
                $("#hdnCptRemarks" + tabid).val("");
                var CPTClaimcodes = $("[id*=CptRemarks_" + tabid + "_]");

                for (var i = 0; i < CPTClaimcodes.length; i++) {
                    $("#validCptRemarksClaim_" + tabid + "_" + id).hide();
                    var id = parseInt($(CPTClaimcodes[i]).attr("id").split("_")[2]);

                    var res = $("[id='Cpt_" + tabid + "_" + id + "']:eq(1)").attr('class');

                    if (res.includes('reject')) {
                        if ($("#hdnCpt" + tabid).val() == "")
                            $("#hdnCpt" + tabid).val(id + "^" + $("#txtCpt_" + tabid + "_" + id).val() + "^" + $("#txtMod_" + tabid + "_" + id).val() + "^" + $("#txtQty_" + tabid + "_" + id).val() + "^" + $("#txtLinks_" + tabid + "_" + id).val());
                        else
                            $("#hdnCpt" + tabid).val($("#hdnCpt" + tabid).val() + "|" + id + "^" + $("#txtCpt_" + tabid + "_" + id).val() + "^" + $("#txtMod_" + tabid + "_" + id).val() + "^" + $("#txtQty_" + tabid + "_" + id).val() + "^" + $("#txtLinks_" + tabid + "_" + id).val());
                        if ($("#CptRemarks_" + tabid + "_" + id).val() != "") {
                            $("#validCptRemarksClaim_" + tabid + "_" + id).hide();
                            if ($("#ErrorType_" + tabid).val() != "") {
                                $("#ErrorTypeError_" + tabid).html('');
                            }
                            if ($("#hdnCptRemarks" + tabid).val() == "")
                                $("#hdnCptRemarks" + tabid).val(id + "^" + $("#CptRemarks_" + tabid + "_" + id).val());
                            else
                                $("#hdnCptRemarks" + tabid).val($("#hdnCptRemarks" + tabid).val() + "|" + id + "^" + $("#CptRemarks_" + tabid + "_" + id).val());
                        } else {
                            $("#CptRemarks_" + tabid + "_" + id).focus();
                            $("#validCptRemarksClaim_" + tabid + "_" + id).show();
                            if ($("#ErrorType_" + tabid).val() == "") {
                                $("#ErrorType_" + tabid).attr('readonly', false);
                                $("#ErrorType_" + tabid).css("pointer-events", "auto");
                                $("#ErrorTypeError_" + tabid).html('<span id="projectdd-error" class="">ErrorType is required.</span>');
                            }
                        }
                    }
                    else {
                        if ($("#hdnQAAcceptCptCodes" + tabid).val() == "") {
                            if ($("#CoderCptCodes_" + tabid + "_" + id).val() != undefined) {
                                $("#hdnQAAcceptCptCodes" + tabid).val(id + "^" + $("#CoderCptCodes_" + tabid + "_" + id).val());
                            }
                        }
                        else {
                            if ($("#CoderCptCodes_" + tabid + "_" + id).val() != undefined) {
                                $("#hdnQAAcceptCptCodes" + tabid).val($("#hdnQAAcceptCptCodes" + tabid).val() + "|" + id + "^" + $("#CoderCptCodes_" + tabid + "_" + id).val());
                            }
                        }

                        if ($("#hdnQAAcceptCptRemarks" + tabid).val() == "")
                            $("#hdnQAAcceptCptRemarks" + tabid).val(id + "^" + $(".CoderCptRemarks_" + tabid + "_" + id).val());
                        else
                            $("#hdnQAAcceptCptRemarks" + tabid).val($("#hdnQAAcceptCptRemarks" + tabid).val() + "|" + id + "^" + $(".CoderCptRemarks_" + tabid + "_" + id).val());


                    }
                }
            }

        });
        //Ending of Reading Dx,CPT in Claim2 to Claim4

        //Reading Dx,CPT in Default Claim is Started
        var Dxcodes = $("#claim1 [id*=DxRemarks_]");
        $("#hdnDx").val('');
        $("#hdnDxRemarks").val('');
        for (var i = 0; i < Dxcodes.length; i++) {
            $("#validDx_" + id).hide();
            var id = parseInt($(Dxcodes[i]).attr("id").split("_")[1]);

            var res = $("[id='Dx_" + id + "']:eq(1)").attr('class');

            if (res.includes('reject')) {
                if ($("#hdnDx").val() == "")
                    $("#hdnDx").val(id + "^" + $("#txtDxCode_" + id).val());
                else
                    $("#hdnDx").val($("#hdnDx").val() + "|" + id + "^" + $("#txtDxCode_" + id).val());

                if ($("#DxRemarks_" + id).val() != "") {
                    $("#validDx_" + id).hide();
                    if ($("#ErrorType_" + id).val() != "") {
                        $("#ErrorTypeError_" + id).html('');
                    }
                    if ($("#hdnDxRemarks").val() == "")
                        $("#hdnDxRemarks").val(id + "^" + $("#DxRemarks_" + id).val());
                    else
                        $("#hdnDxRemarks").val($("#hdnDxRemarks").val() + "|" + id + "^" + $("#DxRemarks_" + id).val());
                } else {
                    $("#DxRemarks_" + id).focus();
                    $("#validDx_" + id).show();
                    if ($("#ErrorType_" + id).val() == "") {
                        $("#ErrorType_" + id).attr('readonly', false);
                        $("#ErrorType_" + id).css("pointer-events", "auto");
                        $("#ErrorTypeError_" + id).html('<span id="projectdd-error" class="">ErrorType is required.</span>');
                    }
                }
            }
            else {
                if ($("#hdnQAAcceptDxCodes").val() == "")
                    if ($("#CoderDxCodes_" + id).val() != undefined) {
                        $("#hdnQAAcceptDxCodes").val(id + "^" + $("#CoderDxCodes_" + id).val());
                    }
                    else {
                        if ($("#CoderDxCodes_" + id).val() != undefined) {
                            $("#hdnQAAcceptDxCodes").val($("#hdnQAAcceptDxCodes").val() + "|" + id + "^" + $("#CoderDxCodes_" + id).val());
                        }
                    }

                if ($("#hdnQAAcceptDxRemarks").val() == "")
                    $("#hdnQAAcceptDxRemarks").val(id + "^" + $(".CoderDXRemarks_" + id).val());
                else
                    $("#hdnQAAcceptDxRemarks").val($("#hdnQAAcceptDxRemarks").val() + "|" + id + "^" + $(".CoderDXRemarks_" + id).val());
            }
        }

        var CPTcodes = $("#claim1 [id*=CptRemarks_]");
        $("#hdnCpt").val('');
        $("#hdnCptRemarks").val('');
        for (var i = 0; i < CPTcodes.length; i++) {
            $("#validCpt_" + id).hide();
            var id = parseInt($(CPTcodes[i]).attr("id").split("_")[1]);

            var res = $("[id='Cpt_" + id + "']:eq(1)").attr('class');

            if (res.includes('reject')) {
                if ($("#hdnCpt").val() == "")
                    $("#hdnCpt").val(id + "^" + $("#txtCpt_" + id).val() + "^" + $("#txtMod_" + id).val() + "^" + $("#txtQty_" + id).val() + "^" + $("#txtLinks_" + id).val());
                else
                    $("#hdnCpt").val($("#hdnCpt").val() + "|" + id + "^" + $("#txtCpt_" + id).val() + "^" + $("#txtMod_" + id).val() + "^" + $("#txtQty_" + id).val() + "^" + $("#txtLinks_" + id).val());

                if ($("#CptRemarks_" + id).val() != "") {
                    $("#validCpt_" + id).hide();
                    if ($("#ErrorType_" + id).val() != "") {
                        $("#ErrorTypeError_" + id).html('');
                    }
                    if ($("#hdnCptRemarks").val() == "")
                        $("#hdnCptRemarks").val(id + "^" + $("#CptRemarks_" + id).val());
                    else
                        $("#hdnCptRemarks").val($("#hdnCptRemarks").val() + "|" + id + "^" + $("#CptRemarks_" + id).val());
                } else {
                    $("#txtCpt_" + id).focus();
                    $("#validCpt_" + id).show();
                    if ($("#ErrorType_" + id).val() == "") {
                        $("#ErrorType_" + id).attr('readonly', false);
                        $("#ErrorType_" + id).css("pointer-events", "auto");
                        $("#ErrorTypeError_" + id).html('<span id="projectdd-error" class="">ErrorType is required.</span>');
                    }
                }
            }
            else {
                if ($("#hdnQAAcceptCptCodes").val() == "") {
                    if ($("#CoderCptCodes_" + id).val() != undefined) {
                        $("#hdnQAAcceptCptCodes").val(id + "^" + $("#CoderCptCodes_" + id).val());
                    }
                }
                else {
                    if ($("#CoderCptCodes_" + id).val() != undefined) {
                        $("#hdnQAAcceptCptCodes").val($("#hdnQAAcceptCptCodes").val() + "|" + id + "^" + $("#CoderCptCodes_" + id).val());
                    }
                }

                if ($("#hdnQAAcceptCptRemarks").val() == "")
                    $("#hdnQAAcceptCptRemarks").val(id + "^" + $(".CoderCptRemarks_" + id).val());
                else
                    $("#hdnQAAcceptCptRemarks").val($("#hdnQAAcceptCptRemarks").val() + "|" + id + "^" + $(".CoderCptRemarks_" + id).val());

            }

        }
        //Reading Dx,CPT in Default Claim is Ended

        var total = $('.CoderCorrections[style="display:flex"]  .fa-check-circle').length;
        var accept = $('.CoderCorrections[style="display:flex"]  .accept').length;
        var reject = $('.CoderCorrections[style="display:flex"]  .reject').length;

        if (total != accept + reject) {
            $("#validationPopUp").show();
            e.preventDefault();
        } else {
            var txtdanger = $('[class*=txtdanger][style=""]');
            var errortype = $('[id*=projectdd]').text();
            if (txtdanger.length > 0 || errortype != "")
                e.preventDefault();
            else
                $("#formSubmitQARebuttalChartsOfCoder").submit();
        }
    });

    ErrorType = function (id) {
        if ($("#ErrorType_" + id).val() != "") {
            $("#ErrorTypeError_" + id).text('');
        }
    }

    validationPopUp = function () {
        $("#validationPopUp").hide();
    };

</script>
