@model List<UAB.DTO.ChartSummaryDTO>
@{
    ViewData["Title"] = "ApprovedCharts";
}

<form asp-action="SubmitCodingReadyForPostingChart" id="SubmitCodingReadyForPostingChart" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model.FirstOrDefault() />
            <partial name="_ReadyForPosting" model=Model />
        </div>
    </div>
    <div id="modalContent">

    </div>
</form>
<style>
    .input-group-text {
        display: none;
    }
</style>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $("#btnDelete").hide();
    $("#btnBlock").hide();
    $("#coding").addClass('selected');
    $('.Available').hide();
    $(".CoderDetails").css("pointer-events", "none");
    $(".CoderDetails").css("background-color", "#e9ecef");

    $(document).ready(function () {
        $("#postingSubmit,#postingSubmitAndGetNext").click(function (e) {
            var claims = $('.tab').length;
            if (claims > 1) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetReadyforPostingPopup", "UAB")",
                    data: {

                    },
                    success: function (response) {
                        $("#modalContent").html(response);
                    }
                });
            }
            else {
                $("#SubmitCodingReadyForPostingChart").submit();
            }
        });

        ModalClose1 = function () {
            $("#modalContent").html('');
        }
    });
</script>
