@model UAB.DTO.ChartSummaryDTO
@{
    ViewData["Title"] = "ApprovedCharts";
}

<form asp-action="SubmitCodingReadyForPostingChart" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model />
            <partial name="_CodingDetails" model=Model />
        </div>
    </div>
</form>
<style>
    .input-group-text {
        display: none;
    }
</style>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
  
    $("#coding").addClass('selected');
    $('.Available').hide();
    $(".CoderDetails").css("pointer-events", "none");
    $(".CoderDetails").css("background-color", "#e9ecef");
</script>
