@model UAB.DTO.ChartSummaryDTO
@{
    ViewData["Title"] = "Shadow QA";
}
<form asp-action="SubmitShadowQAAvailableChart" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model />
            <partial name="_ShadowQAChartDetails" model=Model />
        </div>
    </div>
</form>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(".CoderDetails").css("pointer-events", "none");
    $(".CoderDetails").css("background-color", "#e9ecef");

    $(".QADetails").attr("readonly", false);
    $("#shadowQA").addClass('selected');
    $("#ShadowQADTO_CoderRebuttal").css("pointer-events", "none");
    $("#ShadowQADTO_CoderRebuttal").css("background-color", "#e9ecef");
    $(".QARemarks").css("pointer-events", "none");
    $(".QARemarks").css("background-color", "#e9ecef");

    $('#chkAll').change(function () {
        if ($(this).is(':checked')) {
            $('.fa-check-circle').addClass('accept');
            $('.fa-times-circle').removeClass('reject')
            $('.QARevised').css("display", "none");
            $(".CodingDetails").hide();
            $(".QARevised").val('');
            $(".errMsg").text('');
            $("#ShadowQADTO_ErrorType").css("pointer-events", "none");
            $(".ErrorType").text('');
            $(".ShadowQACorrectionsComments").hide();
        }
        else {
            $('.fa-check-circle').removeClass('accept');
            $("#ShadowQADTO_ErrorType").css("pointer-events", "auto");
            $(".ShadowQACorrectionsComments").show();
        }
    });

    $('span i').click(function () {
        var id = $(this).attr('id');
        if ($(this).hasClass('fa-check-circle')) {
            $(this).toggleClass('accept');
            $(this).siblings().removeClass('reject');
            $("#" + id + "1").css("display", "none");
            $("#" + id + "2").css("display", "none");
            $("#" + id + "1").val('');
            $("#" + id + "2").val('');
            var total = $(".lessWidth").find(".fa-check-circle").length;
            var accept = $(".lessWidth").find(".accept").length;
            if (total == accept) {
                $("#chkAll").prop('checked', true);
                $("#ShadowQADTO_ErrorType").val('');
                $("#ShadowQADTO_ErrorType").css("pointer-events", "none");
                $(".ErrorType").text('');
                $(".errMsg").text('');
                $(".ShadowQACorrectionsComments").hide();
            }
        }
        else if ($(this).hasClass('fa-times-circle')) {
            $(this).toggleClass('reject');
            $(this).siblings().removeClass('accept');
            $("#" + id + "1").css("display", "flex");
            $("#" + id + "2").css("display", "flex");
            $("#chkAll").prop('checked', false);
            $("#ShadowQADTO_ErrorType").css("pointer-events", "auto");
            $(".ShadowQACorrectionsComments").show();
        }
    });


    $("#ShadowQADTO_ErrorType").change(function () {
        if ($(this).val() != "") {
            $(".ErrorType").text('');
        }
    });

    $('#btnsubmit').click(function (e) {
        var total = $(".fa-check-circle").length;
        var reject = $(".reject").length;
        var accept = $(".accept").length;
        if (total != accept && $("#ShadowQADTO_ErrorType").val() == "") {
            $(".ErrorType").html('<span id="projectdd-error" class="">ErrorType is required.</span>');
            e.preventDefault();
        }
        if (total != accept + reject) {
            $("#validationPopUp").show();
            e.preventDefault();
        }

    });

    validationPopUp = function () {
        $("#validationPopUp").hide();
    };
</script>
