@model List<UAB.DTO.ChartSummaryDTO>
@{
    ViewData["Title"] = "Rebuttal Charts";
}
<form asp-action="SubmitShadowQARebuttalChartsOfQA" id="form1" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model.FirstOrDefault() />
            <partial name="_ShadowQARebuttalChartsOfQA" model=Model />
        </div>
    </div>
</form>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(".CoderDetails").css("pointer-events", "none");
    $(".CoderDetails").css("background-color", "#e9ecef");

    $(".QADetails").attr("readonly", false);
    $("#shadowQA").addClass('selected');
    $(".QACorrections").hide();
    $(".CoderCorrections input[type='text']").css("pointer-events", "none");
    $(".CoderCorrections input[type='text']").css("background-color", "#e9ecef");
    $("#divChkAll").hide();
    $("#QADTO_CoderRebuttal").css("pointer-events", "none");
    $("#QADTO_CoderRebuttal").css("background-color", "#e9ecef");

    $('span i').click(function () {
        var id = $(this).attr('id');
        if ($(this).hasClass('fa-check-circle')) {
            $(this).toggleClass('accept');
            $(this).siblings().removeClass('reject');
        }
        else if ($(this).hasClass('fa-times-circle')) {
            $(this).toggleClass('reject');
            $(this).siblings().removeClass('accept');
        }
    });

    $(document).on('click', '#btnsubmit', function (e) {

        $(".tab").each(function () {
            var id = $(this).attr('id');
            var tabid = id.split("tabIndex_")[1].split("_ClaimId_")[0];
            var claimId = id.split("tabIndex_")[1].split("_ClaimId_")[1];
            var ErrorTypeID = $("#ShadowQAErrorType_" + tabid).val();
            $("#hdnQAErrorTypeID" + tabid).val(ErrorTypeID);
            $("#hdnClaimId" + tabid).val(claimId);
            var ProviderID = "";
            var PayorID = "";
            var ProviderFeedbackID = "";
            var ProviderRemarks = "";
            var payorRemarks = "";
            var FeedbackRemarks = "";

            $("#hdnClaim" + tabid).val('');
            if ($("#ProviderID_" + tabid + ".reject").length > 0) {
                ProviderID = $("#ProviderID_" + tabid + "1").val();
                ProviderRemarks = $('#ProviderID_' + tabid + "2").val();
                if ($("#hdnClaim" + tabid).val() == "") {
                    $("#hdnClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderID" + "," + ProviderID + "," + ProviderRemarks + "," + ErrorTypeID);
                }
            }
            if ($("#PayorID_" + tabid + ".reject").length > 0) {
                PayorID = $("#PayorID_" + tabid + "1").val();
                payorRemarks = $('#PayorID_' + tabid + "2").val();
                if ($("#hdnClaim" + tabid).val() == "") {
                    $("#hdnClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "PayorID" + "," + PayorID + "," + payorRemarks + "," + ErrorTypeID);
                } else {
                    $("#hdnClaim" + tabid).val($("#hdnClaim" + tabid).val() + "^" + "PayorID" + "," + PayorID + "," + payorRemarks + "," + ErrorTypeID);
                }
            }
            if ($("#Feedback_" + tabid + ".reject").length > 0) {
                ProviderFeedbackID = $("#Feedback_" + tabid + "1").val();
                FeedbackRemarks = $('#Feedback_' + tabid + "2").val();
                if ($("#hdnClaim" + tabid).val() == "") {
                    $("#hdnClaim" + tabid).val("ClaimId" + "," + claimId + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks + "," + ErrorTypeID);
                } else {
                    $("#hdnClaim" + tabid).val($("#hdnClaim" + tabid).val() + "^" + "ProviderFeedbackID" + "," + ProviderFeedbackID + "," + FeedbackRemarks + "," + ErrorTypeID);
                }
            }
            if (tabid != "1") {

                var DxNewClaimremarks = $("[id*=ShadowQADxRemarkss_" + tabid + "_]");
                $("#hdnQADxRemarks" + tabid).val("");
                for (var i = 0; i < DxNewClaimremarks.length; i++) {
                    var id = parseInt($(DxNewClaimremarks[i]).attr("id").split("_")[2]);
                    var res = $("[id='DxClaim_" + tabid + "_" + id + "']:eq(1)").attr('class');
                    if ($(DxNewClaimremarks[i]).css("display") == "flex") {
                        if (res.includes('reject')) {
                            if ($(DxNewClaimremarks[i]).val() != "") {
                                if ($("#hdnQADxRemarks" + tabid).val() == "")
                                    $("#hdnQADxRemarks" + tabid).val(id + "^" + $(DxNewClaimremarks[i]).val());
                                else
                                    $("#hdnQADxRemarks" + tabid).val($("#hdnQADxRemarks" + tabid).val() + "|" + id + "^" + $(DxNewClaimremarks[i]).val());

                            }
                        } else {
                            //if ($("#hdnQAAcceptDxRemarks" + tabid).val() == "")
                            //    $("#hdnQAAcceptDxRemarks" + tabid).val(id + "^" + $(".QADxRemarkss_" + tabid + "_" + id).val());
                            //else
                            //    $("#hdnQAAcceptDxRemarks" + tabid).val($("#hdnQAAcceptDxRemarks" + tabid).val() + "|" + id + "^" + $(".QADxRemarkss_" + tabid + "_" + id).val());
                        }
                    }
                }

                // DxNewClaimcodes
                var DxNewClaimcodes = $("[id*=txtDx" + tabid + "Claim_]");
                $("#hdnQADxCodes" + tabid).val("");
                for (var i = 0; i < DxNewClaimcodes.length; i++) {
                    var id = parseInt($(DxNewClaimcodes[i]).attr("id").split("_")[1]);
                    var res = $("[id='DxClaim_" + tabid + "_" + id + "']:eq(1)").attr('class');
                    if ($(DxNewClaimcodes[i]).css("display") == "flex") {
                        if (res.includes('reject')) {
                            if ($("#" + $(DxNewClaimcodes[i]).attr("id")).val() != "" && $(DxNewClaimcodes[i]).val() != "") {
                                if ($("#hdnQADxCodes" + tabid).val() == "")
                                    $("#hdnQADxCodes" + tabid).val(id + "^" + $("#txtDx" + tabid + "Claim_" + id).val());
                                else
                                    $("#hdnQADxCodes" + tabid).val($("#hdnQADxCodes" + tabid).val() + "|" + id + "^" + $("#txtDx" + tabid + "Claim_" + id).val());
                            }
                        }
                        else {
                            //if ($("#hdnQAAcceptDxCodes" + tabid).val() == "")
                            //    $("#hdnQAAcceptDxCodes" + tabid).val(id + "^" + $("#txtQADx" + tabid + "Claim_" + id).val());
                            //else
                            //    $("#hdnQAAcceptDxCodes" + tabid).val($("#hdnQAAcceptDxCodes" + tabid).val() + "|" + id + "^" + $("#txtQADx" + tabid + "Claim_" + id).val());
                        }
                    }
                }

                // CptNewClaimRemarks

                var CptNewClaimRemarks = $("[id*=ShadowQACptRemarkss_" + tabid + "_]");
                $("#hdnQACptRemarks" + tabid).val("");
                $("#hdnQACptCodes" + tabid).val("");
                $("#hdnQAAcceptCptRemarks" + tabid).val("");
                $("#hdnQAAcceptCptCodes" + tabid).val("");
                var index = 1;
                for (var i = 0; i < CptNewClaimRemarks.length; i++) {
                    var id = parseInt($(CptNewClaimRemarks[i]).attr("id").split("_")[2]);
                    var res = $("[id='Cpt_" + tabid + "_" + index + "']:eq(1)").attr('class');
                    if ($(CptNewClaimRemarks[i]).css("display") == "flex") {
                        if (res.includes('reject')) {
                            if ($("#txt" + tabid + "Cpt_" + index).val() != "") {
                                if ($("#hdnQACptCodes" + tabid).val() == "") {
                                    var mod = $("#txt" + tabid + "mod_" + index).val() != "" ? $("#txt" + tabid + "mod_" + index).val() : null;
                                    var qty = $("#txt" + tabid + "qty_" + index).val() != "" ? $("#txt" + tabid + "qty_" + index).val() : null;
                                    var links = $("#txt" + tabid + "links_" + index).val() != "" ? $("#txt" + tabid + "links_" + index).val() : null;
                                    $("#hdnQACptCodes" + tabid).val(id + "^" + $("#txt" + tabid + "Cpt_" + index).val() + "^" + mod + "^" + qty + "^" + links);
                                }
                                else {
                                    var mod = $("#txt" + tabid + "mod_" + index).val() != "" ? $("#txt" + tabid + "mod_" + index).val() : null;
                                    var qty = $("#txt" + tabid + "qty_" + index).val() != "" ? $("#txt" + tabid + "qty_" + index).val() : null;
                                    var links = $("#txt" + tabid + "links_" + index).val() != "" ? $("#txt" + tabid + "links_" + index).val() : null;
                                    $("#hdnQACptCodes" + tabid).val($("#hdnQACptCodes" + tabid).val() + "|" + id + "^" + $("#txt" + tabid + "Cpt_" + index).val() + "^" + mod + "^" + qty + "^" + links);

                                }
                                if ($(CptNewClaimRemarks[i]).val() != "") {
                                    if ($("#hdnQACptRemarks" + tabid).val() == "")
                                        $("#hdnQACptRemarks" + tabid).val(id + "^" + $(CptNewClaimRemarks[i]).val());
                                    else
                                        $("#hdnQACptRemarks" + tabid).val($("#hdnQACptRemarks" + tabid).val() + "|" + id + "^" + $(CptNewClaimRemarks[i]).val());
                                }
                            }
                        }
                        else {
                            //if ($("#hdnQAAcceptCptCodes" + tabid).val() == "") {
                            //    $("#hdnQAAcceptCptCodes" + tabid).val(id + "^" + $("#txt" + tabid + "QACpt_" + id).val());
                            //}
                            //else {
                            //    $("#hdnQAAcceptCptCodes" + tabid).val($("#hdnQAAcceptCptCodes" + tabid).val() + "|" + id + "^" + $("#txt" + tabid + "QACpt_" + id).val());
                            //}

                            //if ($("#hdnQAAcceptCptRemarks" + tabid).val() == "")
                            //    $("#hdnQAAcceptCptRemarks" + tabid).val(id + "^" + $(".QACptRemarkss_" + tabid + "_" + id).val());
                            //else
                            //    $("#hdnQAAcceptCptRemarks" + tabid).val($("#hdnQAAcceptCptRemarks" + tabid).val() + "|" + id + "^" + $(".QACptRemarkss_" + tabid + "_" + id).val());
                        }
                    }
                    index = index + parseInt(1);
                }
            };

        });

        var Dxcodes = $("[id*=DxRemarks_]");
        $("#hdnQADxCodes").val('');
        $("#hdnQADxRemarks").val('');
        $("#hdnQAAcceptDxCodes").val('');
        $("#hdnQAAcceptDxRemarks").val('');
        for (var i = 0; i < Dxcodes.length; i++) {
            var id = parseInt($(Dxcodes[i]).attr("id").split("_")[1]);
            var res = $("[id='Dx_" + id + "']:eq(1)").attr('class');
            if ($(Dxcodes[i]).css("display") == "flex") {
                if (res.includes('reject')) {
                    if ($("#hdnQADxCodes").val() == "") {
                        $("#hdnQADxCodes").val(id + "^" + $("#txtDxCode_" + id).val());
                    }
                    else {
                        $("#hdnQADxCodes").val($("#hdnQADxCodes").val() + "|" + id + "^" + $("#txtDxCode_" + id).val());
                    }
                    if ($("#hdnQADxRemarks").val() == "") {
                        $("#hdnQADxRemarks").val(id + "^" + $(".SQADxRemarks_" + id).val());
                    }
                    else {
                        $("#hdnQADxRemarks").val($("#hdnQADxRemarks").val() + "|" + id + "^" + $(".SQADxRemarks_" + id).val());
                    }
                }
                else {
                    //if ($("#hdnQAAcceptDxCodes").val() == "")
                    //    $("#hdnQAAcceptDxCodes").val(id + "^" + $("#txtQADxCode_" + id).val());
                    //else
                    //    $("#hdnQAAcceptDxCodes").val($("#hdnQAAcceptDxCodes").val() + "|" + id + "^" + $("#txtQADxCode_" + id).val());

                    //if ($("#hdnQAAcceptDxRemarks").val() == "")
                    //    $("#hdnQAAcceptDxRemarks").val(id + "^" + $("#DxRemarks_" + id).val());
                    //else
                    //    $("#hdnQAAcceptDxRemarks").val($("#hdnQAAcceptDxRemarks").val() + "|" + id + "^" + $("#DxRemarks_" + id).val());
                }
            }
        }

        var CPTcodes = $("[id*=QACptRemarks_]");
        $("#hdnQACptCodes").val('');
        $("#hdnQACptRemarks").val('');
        $("#hdnQAAcceptCptCodes").val('');
        $("#hdnQAAcceptCptRemarks").val('');
        for (var i = 0; i < CPTcodes.length; i++) {
            var id = parseInt($(CPTcodes[i]).attr("id").split("_")[1]);
            var res = $("[id='Cpt_" + id + "']:eq(1)").attr('class');
            if ($(CPTcodes[i]).css("display") == "flex") {
                if (res.includes('reject')) {
                    if ($("#hdnQACptCodes").val() == "") {
                        var mod = $("#txtMod_" + id).val() != "" ? $("#txtMod_" + id).val() : null;
                        var qty = $("#txtQty_" + id).val() != "" ? $("#txtQty_" + id).val() : null;
                        var links = $("#txtLinks_" + id).val() != "" ? $("#txtLinks_" + id).val() : null;
                        $("#hdnQACptCodes").val(id + "^" + $("#txtCpt_" + id).val() + "^" + mod + "^" + qty + "^" + links);
                    }
                    else {
                        var mod = $("#txtMod_" + id).val() != "" ? $("#txtMod_" + id).val() : null;
                        var qty = $("#txtQty_" + id).val() != "" ? $("#txtQty_" + id).val() : null;
                        var links = $("#txtLinks_" + id).val() != "" ? $("#txtLinks_" + id).val() : null;
                        $("#hdnQACptCodes").val($("#hdnQACptCodes" + tabid).val() + "|" + id + "^" + $("#txtCpt_" + id).val() + "^" + mod + "^" + qty + "^" + links);
                    }

                    if ($("#hdnQACptRemarks").val() == "") {
                        $("#hdnQACptRemarks").val(id + "^" + $(".SQACptRemarks_" + id).val());
                    }
                    else {
                        $("#hdnQACptRemarks").val($("#hdnQACptRemarks").val() + "|" + id + "^" + $(".SQACptRemarks_" + id).val());
                    }
                }
                else {
                    //if ($("#hdnQAAcceptCptCodes").val() == "")
                    //    $("#hdnQAAcceptCptCodes").val(id + "^" + $("#txtCPTCode_" + id).val());
                    //else
                    //    $("#hdnQAAcceptCptCodes").val($("#hdnQAAcceptCptCodes").val() + "|" + id + "^" + $("#txtCPTCode_" + id).val());

                    //if ($("#hdnQAAcceptCptRemarks").val() == "")
                    //    $("#hdnQAAcceptCptRemarks").val(id + "^" + $("#QACptRemarks_" + id).val());
                    //else
                    //    $("#hdnQAAcceptCptRemarks").val($("#hdnQAAcceptCptRemarks").val() + "|" + id + "^" + $("#QACptRemarks_" + id).val());
                }
            }
        }

        var total = $(".fa-check-circle").length;
        var reject = $(".reject").length;
        var accept = $(".accept").length;
        if (total != accept + reject) {
            $("#validationPopUp").show();
            e.preventDefault();
        }
        else {
            $("#form1").submit();
        }

    });

    validationPopUp = function () {
        $("#validationPopUp").hide();
    };
</script>
