@model UAB.DTO.ChartSummaryDTO
@{
    ViewData["Title"] = "Rebuttal Charts";
}
<form asp-action="SubmitShadowQARebuttalChartsOfQA" id="form1" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model />
            <partial name="_ShadowQARebuttalChartsOfQA" model=Model />
        </div>
    </div>
</form>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(".CoderDetails").css("pointer-events", "none");
    $(".CoderDetails").css("background-color", "#e9ecef");

    $(".QADetails").attr("readonly", false);
    $("#shadowQA").addClass('selected');
    $(".QACorrections").hide();
    $(".CoderCorrections input[type='text']").css("pointer-events", "none");
    $(".CoderCorrections input[type='text']").css("background-color", "#e9ecef");
    $("#divChkAll").hide();
    $("#QADTO_CoderRebuttal").css("pointer-events", "none");
    $("#QADTO_CoderRebuttal").css("background-color", "#e9ecef");

    $('span i').click(function () {
        var id = $(this).attr('id');
        if ($(this).hasClass('fa-check-circle')) {
            $(this).toggleClass('accept');
            $(this).siblings().removeClass('reject');
            //$("#" + id + "1").css("display", "none");
            //$("#" + id + "2").css("display", "none");
            var title = $("#" + id).attr('title');
            if (title == "PayorID1") {
                $("#hdnPayorID").val($("#" + title + " option:selected").val());
                $("#hdnPayorIDReject").val('');
            }
            if (title == "ProviderID1") {
                $("#hdnProviderID").val($("#" + title + " option:selected").val());
                $("#hdnProviderIDReject").val('');
            }
            //if (title == "CPTCode1") {
            //    $("#hdnCpt").val($("#" + title).val());
            //    $("#hdnCptReject").val('');
            //}
            //if (id == "Mod") {
            //    $("#hdnMod").val($("#" + id + "1").val());
            //    $("#hdnModReject").val('');
            //}
            //if (title == "Dx1") {
            //    $("#hdnDx").val($("#" + title).val());
            //    $("#hdnDxReject").val('');
            //}
            if (title == "Feedback1") {
                $("#hdnProviderFeedbackID").val($("#" + title + " option:selected").val());
                $("#hdnProviderFeedbackIDReject").val('');
            }
        }
        else if ($(this).hasClass('fa-times-circle')) {
            $(this).toggleClass('reject');
            $(this).siblings().removeClass('accept');
            //$("#" + id + "1").css("display", "flex");
            //$("#" + id + "2").css("display", "flex");
            var title = $("#" + id).attr('title');
            if (title == "PayorID1") {
                $("#hdnPayorID").val('');
                $("#hdnPayorIDReject").val('1');
            }
            if (title == "ProviderID1") {
                $("#hdnProviderID").val('');
                $("#hdnProviderIDReject").val('1');
            }
            //if (title == "CPTCode1") {
            //    $("#hdnCpt").val('');
            //    $("#hdnCptReject").val('1');
            //}
            //if (id == "Mod") {
            //    $("#hdnMod").val('');
            //    $("#hdnModReject").val('1');
            //}
            //if (title == "Dx1") {
            //    $("#hdnDx").val('');
            //    $("#hdnDxReject").val('1');
        }
        if (title == "Feedback1") {
            $("#hdnProviderFeedbackID").val('');
            $("#hdnProviderFeedbackIDReject").val('1');
        }
    
    });

    var dxArray = [];
    function DxFunction(txt_0) {
        var id = parseInt(txt_0.split("_")[1]) + parseInt(1);
        if (txt_0.split("_")[1] !== undefined) {
            var currId = parseInt(id) - parseInt(1);
            var val = $("#txtDx_" + currId).val();
            if (val !== "" && val !== null) {
                if ($.inArray(val, dxArray) == -1) {
                    dxArray.push(val);
                    $("#Dx").val(dxArray);
                    var text = "'" + "txtDx_" + id + "'";
                    $("#DivDx").append('<div class="form-group row"><label class= "col-md-3 lessWidth m-t-15" ></label><div class="col-md-3 lessWidth input-group"></div><div class="col-md-3 lessWidth input-group"><div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">' + id + '</span></div><input type="text" placeholder="Code" tabindex="' + id + '" onfocusout="DxFunction(' + text + ')" class="form-control CoderDetails txtDx" id="txtDx_' + id + '" /></div></div>');
                    $("#txtDx_" + currId).removeAttr("onfocusout", "");
                    $("#txtDx_" + id).focus();
                }
            } else {
                //var id2 = parseInt(id) - parseInt(1);
                //var val = $("#txt" + id2).val();
                //if (val == "") {
                //    if (id2 !== 0) {
                //        dxArray.splice(id2, id2);
                //        $("#Dx").val(dxArray);
                //        $('#tr' + id2).remove();
                //        //$("#txt" + id2).focus();
                //    }
                //}
            }
        }
    }

    var cptArray = [];
    function CptFunction(txtCpt_0) {
        var id = parseInt(txtCpt_0.split("_")[1]) + parseInt(1);
        if (txtCpt_0.split("_")[1] !== undefined) {
            var id1 = parseInt(id) - parseInt(1);
            var val1 = $("#txtCpt_" + id1).val();

            var val2 = null;
            if ($("#txtMod_" + id1).val() != "")
                val2 = $("#txtMod_" + id1).val().replace(",", "|");

            var val3 = null;
            if ($("#txtQty_" + id1).val() != "")
                val3 = $("#txtQty_" + id1).val();

            var val4 = null;
            if ($("#txtLinks_" + id1).val() != "")
                val4 = $("#txtLinks_" + id1).val().replace(",", "|");

            if (val1 !== "") {
                if ($.inArray(val1, cptArray) == -1) {
                    cptArray.push(val1 + "^" + val2 + "^" + val3 + "^" + val4);
                    $("#CPTCode").val(cptArray);
                    var count = id + parseInt(1);
                    var txtLinks = "'" + "txtLinks_" + id + "'";
                    var tabindex1 = parseInt(9) + parseInt(id) + parseInt(count) + parseInt(val1);
                    var tabindex2 = parseInt(10) + parseInt(id) + parseInt(count) + parseInt(val1);
                    var tabindex3 = parseInt(11) + parseInt(id) + parseInt(count) + parseInt(val1);
                    var tabindex4 = parseInt(12) + parseInt(id) + parseInt(count) + parseInt(val1);
                    $("#DivCpt").append('<div id="DivCptRow_' + id + '" class="form-group row"><label class="col-md-3 lessWidth m-t-15"></label><div class="col-md-3 CptlessWidth input-group"></div><div class="col-md-3 CptlessWidth input-group"><div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">' + id + '</span></div><input tabindex = "' + tabindex1 + '" type = "text" placeholder = "Code" class= "form-control CoderDetails txtCpt" id = "txtCpt_' + id + '" /><input tabindex="' + tabindex2 + '" type="text" class="form-control CoderDetails" placeholder="Mod" id="txtMod_' + id + '"/><input tabindex="' + tabindex3 + '" type="text" class="form-control CoderDetails" placeholder="1" value="1" id="txtQty_' + id + '"/><input tabindex="' + tabindex4 + '" type="text" class="form-control CoderDetails" placeholder="Link All" onfocusout="CptFunction(' + txtLinks + ')" id="txtLinks_' + id + '"/></div></div>');
                    $("#txtLinks_" + id1).removeAttr("onfocusout", "");
                    $("#txtCpt_" + id).focus();
                }

            } else {
                //var id2 = parseInt(id) - parseInt(1);
                //var val = $("#txtCpt" + id2).val();
                //if (val == "") {
                //    if (id2 !== 0) {
                //        cptArray.splice(id2, id2);
                //        $("#CPTCode").val(cptArray);
                //        $('#cpttr' + id2).remove();
                //        //$("#CPTCode" + id2).focus();
                //    }
                //}
            }
        }
    }
</script>
