@model UAB.DTO.ChartSummaryDTO
@{
    ViewData["Title"] = "Shadow QA";
}
<form asp-action="SubmitShadowQAAvailableChart" asp-controller="UAB" method="POST">
    <div class="container-fluid">
        <div class="row">
            <partial name="_InitialData" model=Model />
            <partial name="_ShadowQAChartDetails" model=Model />
        </div>
    </div>
</form>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(".CoderDetails").css("pointer-events", "none");
    $(".CoderDetails").css("background-color", "#e9ecef");

    $(".QADetails").attr("readonly", false);
    $("#shadowQA").addClass('selected');

    $('#chkAll').change(function () {
        if ($(this).is(':checked')) {
            $('.fa-check-circle').addClass('accept');
            $('.fa-times-circle').removeClass('reject')
            $('.QARevised').css("display", "none");
            $(".CodingDetails").hide();
        }
        else {
            $('.fa-check-circle').removeClass('accept');
        }
    });

    $('span i').click(function () {
        var id = $(this).attr('id');
        if ($(this).hasClass('fa-check-circle')) {
            $(this).toggleClass('accept');
            $(this).siblings().removeClass('reject');
            $("#" + id + "1").css("display", "none");
            $("#" + id + "2").css("display", "none");
            $("#" + id + "1").val('');
            $("#" + id + "2").val('');
        }
        else if ($(this).hasClass('fa-times-circle')) {
            $(this).toggleClass('reject');
            $(this).siblings().removeClass('accept');
            $("#" + id + "1").css("display", "flex");
            $("#" + id + "2").css("display", "flex");
            $("#chkAll").prop('checked', false);
        }
    });
</script>
