@using UAB.enums
@using System.Security.Claims;
@{
    string title = ViewBag.title;

    var identity = (ClaimsIdentity)User.Identity;
    string roles = identity.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
    string email = identity.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/dashboardassets/images/favicon.png">
    <title>@ViewData["Title"] - UAB</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    <link href="~/dashboardassets/libs/flot/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/dashboardassets/dist/css/style.min.css" rel="stylesheet">
    <link href="~/dashboardassets/dist/css/icons/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <style type="text/css">
        .accept {
            color: green;
        }

        .card .card-title {
            margin-bottom: 0px !important;
            color: #5078bb;
            font-weight: bold;
        }

        .reject {
            color: red;
        }

        .tblHeaderRow {
            color: chocolate;
            text-align: center;
            font-size: 16px;
            font-weight: bold !important;
        }

        div.lessWidth {
            max-width: 15% !important;
        }

        label.lessWidth {
            max-width: 15% !important;
        }

        .lblCharts {
            width: 60px;
        }

        .lblUsers {
            width: 80px;
        }
    </style>
</head>
<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-10">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/dashboardassets/images/sitelogo.png" alt="homepage" class="light-logo" style="height:40px; width:236px;" />
                        </b>
                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                    </ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item dropdown"></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@email &nbsp;&nbsp;<img src="~/dashboardassets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="Logout" asp-controller="Account"> Log Out </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="Changepassword" asp-controller="Account">Change Password </a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">

                    <ul id="sidebarnav" class="p-t-30">
                        <li id="dashBoard" class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        @if (roles.Split(',').ToList().Contains(Roles.Coder.ToString()))
                        {
                            <li id="coding" class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="" asp-controller="UAB" asp-action="CodingSummary">
                                    <i class="mdi mdi-receipt"></i><span class="hide-menu">Coding</span>
                                </a>
                            </li>
                        }
                        @if (roles.Split(',').ToList().Contains(Roles.QA.ToString()))
                        {
                            <li id="qa" class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="" asp-controller="UAB" asp-action="QASummary">
                                    <i class="mdi mdi-chart-bar"></i><span class="hide-menu">QA</span>
                                </a>
                            </li>
                        }
                        @if (roles.Split(',').ToList().Contains(Roles.ShadowQA.ToString()))
                        {
                            <li id="shadowQA" class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="" asp-controller="UAB" asp-action="ShadowQASummary">
                                    <i class="mdi mdi-chart-bar"></i><span class="hide-menu">Shadow QA</span>
                                </a>
                            </li>
                        }
                        <li id="dashBoard" class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="" asp-controller="UAB" asp-action="SettingsSearch">
                                <i class="mdi mdi-receipt"></i><span class="hide-menu">Search</span>
                            </a>
                        </li>
                        @if (roles.Split(',').ToList().Contains(Roles.Manager.ToString()))
                        {
                            <li id="settings" class="sidebar-item">
                                <a class="sidebar-link has-arrow waves-effect waves-dark" href="/">
                                    <i class="mdi mdi-settings"></i><span class="hide-menu">Settings</span>
                                </a>
                                <ul aria-expanded="false" class="collapse first-level">
                                    <li class="sidebar-item">
                                        <a class="sidebar-link" asp-area="" asp-controller="Account" asp-action="ManageUsers">
                                            <i class="fa fa-user-circle"></i><span class="hide-menu">
                                                Manage Users
                                            </span>
                                        </a>
                                    </li>
                                    @*<li class="sidebar-item">
                                            <a class="sidebar-link" asp-area="" asp-controller="UAB" asp-action="SettingsSearch">
                                                <i class="fa fa-search"></i><span class="hide-menu">
                                                    Search
                                                </span>
                                            </a>
                                        </li>*@
                                    <li class="sidebar-item">
                                        <a class="sidebar-link" asp-area="" asp-controller="UAB" asp-action="SettingsBlockCategories">
                                            <i class="mdi mdi-note-outline"></i><span class="hide-menu">
                                                Block Categories
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a class="sidebar-link" asp-area="" asp-controller="UAB" asp-action="SettingsProvider">
                                            <i class="mdi mdi-note-outline"></i><span class="hide-menu">
                                                Provider
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a class="sidebar-link" asp-area="" asp-controller="UAB" asp-action="SettingsPayor">
                                            <i class="mdi mdi-note-plus"></i><span class="hide-menu">
                                                Payor
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a class="sidebar-link" asp-area="" asp-controller="UAB" asp-action="SettingsProviderFeedback">
                                            <i class="mdi mdi-note-plus"></i><span class="hide-menu">
                                                Provider Feedback
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a class="sidebar-link" asp-area="" asp-controller="UAB" asp-action="SettingsErrorType">
                                            <i class="mdi mdi-note-plus"></i><span class="hide-menu">
                                                Error Type
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a class="sidebar-link" asp-area="" asp-controller="UAB" asp-action="SettingsProject">
                                            <i class="mdi mdi-note-plus"></i><span class="hide-menu">
                                                Project
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a class="sidebar-link" asp-area="" asp-controller="UAB" asp-action="SettingsFileUpload">
                                            <i class="fa fa-upload"></i><span class="hide-menu">
                                                File Upload
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <div class="page-wrapper">
            @RenderBody()
        </div>
        <footer class="footer text-center">
            ©
            <script>
                document.write(new Date().getFullYear())
            </script>
            UAB
        </footer>
    </div>
    <div class="modal fade modal-mini modal-primary show" id="validationPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 500px;">
                <br />
                <div class="modal-header">
                    <h4 class="modal-title"><strong>Error</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">Please complete corrections/remarks </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" onclick="validationPopUp()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/dashboardassets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/dashboardassets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/dashboardassets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/dashboardassets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/dashboardassets/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/dashboardassets/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/dashboardassets/dist/js/custom.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

