@{
    string title = ViewBag.title;
    bool isAuthenticated = UAB.DAL.LoginDTO.Auth.isAuth;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/dashboardassets/images/favicon.png">
    <title>@ViewData["Title"] - UAB</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    <link href="~/dashboardassets/libs/flot/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/dashboardassets/dist/css/style.min.css" rel="stylesheet">
    <link href="~/dashboardassets/dist/css/icons/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <style type="text/css">
        .accept {
            color: green;
        }

        .card .card-title {
            margin-bottom: 0px !important;
            color: #5078bb;
            font-weight: bold;
        }

        .reject {
            color: red;
        }

        .tblHeaderRow {
            color: chocolate;
            text-align: center;
            font-size: 16px;
            font-weight: bold !important;
        }

        div.lessWidth {
            max-width: 15% !important;
        }

        label.lessWidth {
            max-width: 15% !important;
        }
    </style>
</head>
<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        @if (isAuthenticated)
        {
            <header class="topbar" data-navbarbg="skin5">
                <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                    <div class="navbar-header" data-logobg="skin5">
                        <!-- This is for the sidebar toggle which is visible on mobile only -->
                        <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                        <!-- ============================================================== -->
                        <!-- Logo -->
                        <!-- ============================================================== -->
                        <a class="navbar-brand" href="index.html">
                            <!-- Logo icon -->
                            <b class="logo-icon p-l-10">
                                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                <!-- Dark Logo icon -->
                                <img src="~/dashboardassets/images/sitelogo.png" alt="homepage" class="light-logo" style="height:40px; width:236px;" />
                            </b>
                        </a>
                        <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                        <ul class="navbar-nav float-left mr-auto">
                            <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                        </ul>
                        <ul class="navbar-nav float-right">
                            <li class="nav-item dropdown"></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@UAB.DAL.LoginDTO.Auth.CurrentUserName &nbsp;&nbsp;<img src="~/dashboardassets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                                <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                    <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account"> Log Out </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-action="Changepassword" asp-controller="Account">Change Password </a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        }
        @if (isAuthenticated)
        {
            <aside class="left-sidebar" data-sidebarbg="skin5">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">

                        <ul id="sidebarnav" class="p-t-30">
                            <li id="dashBoard" class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span>
                                </a>
                            </li>
                            <li id="coding" class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="" asp-controller="UAB" asp-action="CodingSummary">
                                    <i class="mdi mdi-receipt"></i><span class="hide-menu">Coding</span>
                                </a>
                            </li>
                            <li id="qa" class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="" asp-controller="UAB" asp-action="QASummary">
                                    <i class="mdi mdi-chart-bar"></i><span class="hide-menu">QA</span>
                                </a>
                            </li>
                            <li id="shadowQA" class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="" asp-controller="UAB" asp-action="ShadowQASummary">
                                    <i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Shadow QA</span>
                                </a>
                            </li>
                            @if (UAB.DAL.LoginDTO.Auth.CurrentRole == "Coder")
                            {
                                <li id="settings" class="sidebar-item">
                                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="/">
                                        <i class="mdi mdi-settings"></i><span class="hide-menu">Settings</span>
                                    </a>
                                    <ul aria-expanded="false" class="collapse first-level">
                                        <li class="sidebar-item">
                                            <a class="sidebar-link" asp-area="" asp-controller="UAB" asp-action="SettingsProvider">
                                                <i class="mdi mdi-note-outline"></i><span class="hide-menu">
                                                    Provider
                                                </span>
                                            </a>
                                        </li>
                                        <li class="sidebar-item">
                                            <a class="sidebar-link" asp-area="" asp-controller="UAB" asp-action="SettingsPayor">
                                                <i class="mdi mdi-note-plus"></i><span class="hide-menu">
                                                    Payor
                                                </span>
                                            </a>
                                        </li>
                                        <li class="sidebar-item">
                                            <a class="sidebar-link" asp-area="" asp-controller="UAB" asp-action="SettingsProviderFeedback">
                                                <i class="mdi mdi-note-plus"></i><span class="hide-menu">
                                                    Provider Feedback
                                                </span>
                                            </a>
                                        </li>
                                        <li class="sidebar-item">
                                            <a class="sidebar-link" asp-area="" asp-controller="UAB" asp-action="SettingsErrorType">
                                                <i class="mdi mdi-note-plus"></i><span class="hide-menu">
                                                    Error Type
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>
        }
        <div class="page-wrapper">
            @RenderBody()
        </div>
        <footer class="footer text-center">
            ©
            <script>
                document.write(new Date().getFullYear())
            </script>
            UAB
        </footer>
    </div>

    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/dashboardassets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/dashboardassets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/dashboardassets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/dashboardassets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/dashboardassets/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/dashboardassets/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/dashboardassets/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!-- <script src="~/dashboardassets/dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <script src="~/dashboardassets/libs/flot/excanvas.js"></script>
    <script src="~/dashboardassets/libs/flot/jquery.flot.js"></script>
    <script src="~/dashboardassets/libs/flot/jquery.flot.pie.js"></script>
    <script src="~/dashboardassets/libs/flot/jquery.flot.time.js"></script>
    <script src="~/dashboardassets/libs/flot/jquery.flot.stack.js"></script>
    <script src="~/dashboardassets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="~/dashboardassets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="~/dashboardassets/dist/js/pages/chart/chart-page-init.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#settings").removeClass('selected');
    })
</script>