<div id="Msg" class="autohide">
    @{
        if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissable">
                <i class="fa fa-check"></i>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @Html.Raw(TempData["Success"].ToString())
            </div>
        }
        else if (TempData["Warning"] != null)
        {
            <div class="alert alert-warning alert-dismissable">
                <i class="fa fa-warning"></i>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @Html.Raw(TempData["Warning"].ToString())
            </div>
        }
        else if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissable">
                <i class="fa fa-danger"></i>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @Html.Raw(TempData["Error"].ToString())
            </div>
        }
        else if (TempData["Toast"] != null)
        {
            <div class="alert alert-danger alert-dismissable" style="z-index: 1;min-width: 400px;margin-left: -125px;margin-top:-40px;background-color: #f8ddd5;color: #712c18;text-align: center;border-radius: 2px;padding: 16px;position: fixed;z-index: 1;left: 50%;">
                <i class="fa fa-danger"></i>
                @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>*@
                @Html.Raw(TempData["Toast"].ToString())
            </div>
        }
    }
</div>



