
<style>
    .modal-content {
        margin-top: 90px;
    }

    .errorTxt {
        color: red;
        min-height: 20px;
    }

    .tableresponsiveforroles {
        max-height: 200px;
    }

    .roledddwith {
        width: 215px;
    }
</style>

<div class="modal fade modal-mini modal-primary show" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
    @*<input type="hidden" name="codingSubmitAndGetNext" value="@ViewBag.buttonType" />*@
    <div class="modal-dialog">
        <div class="modal-content" style="width:600px;max-height:500px;margin-top:200px !important">
            <div class="modal-header" style="background: #27a9e3;color: white;">
                <h5 class="modal-title" id="exampleModalLongTitle">Submit Coding</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseUnpostConfirmPopup()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="table-responsive" style="max-height:400px">
                <br /><br /> <span style="text-align:center">&nbsp;Please unpost this chart in the client system, as this is identified for Auditing. Confirm if unposted or not?</span><br /><br />
            </div>
            <div class="modal-footer">
                <button type="submit" id="submitAndPost" name="submitAndPost" class="btn btn-sm btn-danger btn-fill">Yes</button>
                <button onclick="CloseUnpostConfirmPopup()" type="button" class="btn btn-sm btn-danger btn-fill">No</button>
            </div>
        </div>
    </div>
</div>