@model UAB.DAL.Models.EMCodeLevel

<style>
    .modal-content {
        margin-top: 63px;
    }
</style>
<form asp-action="UpdateEMCode" asp-controller="UAB" method="POST">
    @Html.HiddenFor(model => model.EMLevel)
    @Html.HiddenFor(model => model.Id)
    <div class="modal fade modal-mini modal-primary show" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 500px;">
                <div class="modal-header" style="background: #27a9e3;color: white;">
                    <h5 class="modal-title" style="width:300px">Update EM Code</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ModalClose1()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        @Html.TextBoxFor(model => model.EMCode, new { @class = "form-control", @autofocus = "autofocus", @autocomplete = "off", @placeholder = "Enter EM Code " })
                        @Html.ValidationMessageFor(model => model.EMCode, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success Available">Update</button>
                    <button type="button" class="btn btn-danger" onclick="ModalClose1()">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
