<style type="text/css">
    .col-md-3 {
        margin-left: 10px !important;
    }

    .form-control {
        padding: 0 !important;
    }
</style>
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Coding Details</h4>
        </div>
        <div class="form-group row">
            <label class="col-md-3 m-t-15">Payor</label>
            <div class="col-md-5 input-group">
                <select class="form-control">
                    <option>MCAL</option>
                    <option>Commercial</option>
                    <option>SP</option>
                </select>
                <div class="input-group-append">
                    <span class="input-group-text">
                        &nbsp;<i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                        &nbsp;<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-4 input-group">
                <select class="form-control QARevised" id="extraPayor" style="display:block;">
                    <option>MCAL</option>
                    <option>Commercial</option>
                    <option>SP</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 m-t-15">Note Title</label>
            <div class="col-md-5">
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 m-t-15">Provider</label>
            <div class="col-md-5 input-group">
                <select class="form-control">
                    <option>Bush, Nathan, APP</option>
                    <option>Dillon, Kayce, APP</option>
                </select>
                <div class="input-group-append">
                    <span class="input-group-text">
                        &nbsp;<i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                        &nbsp;<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-4 input-group">
                <select class="form-control QARevised" id="extraprovider" style="display:block;">
                    <option>Bush, Nathan, APP</option>
                    <option>Dillon, Kayce, APP</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 m-t-15">CPT</label>
            <div class="col-md-5 input-group">
                <select class="form-control">
                    <option>31640</option>
                    <option>31500</option>
                </select>
                <div class="input-group-append">
                    <span class="input-group-text">
                        &nbsp;<i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                        &nbsp;<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-4 input-group">
                <select class="form-control QARevised" style="display:block;">
                    <option>31640</option>
                    <option>31500</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 m-t-15">Mod</label>
            <div class="col-md-5 input-group">
                <input type="text" class="form-control" placeholder="Mod">
                <span class="input-group-text">
                    &nbsp;<i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                    &nbsp;<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                </span>
            </div>
            <div class="col-md-4 input-group">
                <input type="text" class="form-control QARevised" style="display:block">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-8 m-t-15" style="margin-left:10px">Dx 1-4 (code followed by a comma and space)</label>
        </div>
        <div class="form-group row">
            <label class="col-md-3 m-t-15"></label>
            <div class="col-md-5 input-group">
                <textarea class="form-control"></textarea>
                <span class="input-group-text">
                    &nbsp;<i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                    &nbsp;<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                </span>
            </div>
            <div class="col-md-4 input-group">
                <textarea class="form-control QARevised" style="display:block"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 m-t-15"> Feedback to Provider</label>
            <div class="col-md-5 input-group">
                <select class="form-control">
                    <option>Education: CC doesn't support vital organ failure/life threatening deteriortation</option>
                    <option>Education: Consult not coded due to no requesting provider on file</option>
                </select>
                <div class="input-group-append" style="height: 38px;">
                    <span class="input-group-text">
                        &nbsp;<i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                        &nbsp;<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-4 input-group">
                <select class="form-control QARevised" style="display:block;">
                    <option>Education: CC doesn't support vital organ failure/life threatening deteriortation</option>
                    <option>Education: Consult not coded due to no requesting provider on file</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 m-t-15">Coder Questions</label>
            <div class="col-md-5">
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="border-top">
            <div class="card-body" style="text-align:left">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="submit" class="btn btn-danger">Hold</button>
            </div>
        </div>
    </div>
</div>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('span i').click(function () {

            if ($(this).hasClass('fa-check-circle')) {
                $(this).toggleClass('accept');
                $(this).siblings().removeClass('reject');
            }
            else if ($(this).hasClass('fa-times-circle')) {
                $(this).toggleClass('reject');
                $(this).siblings().removeClass('accept');
                $(this).parentsUntil('.form-group row').children().find('.QARevised').css('display', 'block');
            }
        });

    });
</script>
