@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <br /><br />
        <h4>
            Dashboard will show backlog status, Codig status, QA status, Shadow QA Status, and
            date of service currently coding
        </h4>
        @*<div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title m-b-0">Today's Chart Summary</h4>
                        <div class="m-t-20" style="margin-top:20px">
                            <div class="d-flex no-block align-items-center">
                                <span>50% Charts Coded</span>
                                <div class="ml-auto">
                                    <span>200</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="m-t-25" style="margin-top:25px">
                            <div class="d-flex no-block align-items-center m-t-25">
                                <span>25% Charts Audited By Global Team</span>
                                <div class="ml-auto">
                                    <span>100</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="m-t-25" style="margin-top:25px">
                            <div class="d-flex no-block align-items-center m-t-25">
                                <span>80% Charts Audited By Domestic Team</span>
                                <div class="ml-auto">
                                    <span>25</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="m-t-25" style="margin-top:25px">
                            <div class="d-flex no-block align-items-center m-t-15">
                                <span>3% Rejected Charts</span>
                                <div class="ml-auto">
                                    <span>8</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 3%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>*@
    </div>
    <div class="row" style="visibility:hidden">
        @*<div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title m-b-0">Today's Chart Summary</h4>
                        <div class="m-t-20" style="margin-top:20px">
                            <div class="d-flex no-block align-items-center">
                                <span>50% Charts Coded</span>
                                <div class="ml-auto">
                                    <span>200</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="m-t-25" style="margin-top:25px">
                            <div class="d-flex no-block align-items-center m-t-25">
                                <span>25% Charts Audited By Global Team</span>
                                <div class="ml-auto">
                                    <span>100</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>*@
    </div>
</div>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //alert('test');
        $("#settings").removeClass('selected');
    })
</script>