@model UAB.DTO.LelvellingReportDTO
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
            
            </div>
        </div>
        <div class="col-md-12">
            <div id="modalContent"></div>
        </div>
    </div>
</div>
<style>
    .ControlHeight {
        height: 32px !important;
    }
</style>
