@model UAB.DTO.LelvellingReportDTO
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="Report" id="PendingChartsReport">
                    <form class="form-horizontal" id="frmReport" asp-action="GetPendingChartsReport" asp-controller="Home"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-mode="replace"
                          data-ajax-update="#modalContent">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="control-label col-form-label">Select Project</label>
                                <div class="col-sm-2">
                                    @Html.DropDownListFor(model => model.ProjectID, new SelectList(@ViewBag.Projects, "ProjectId", "Name"), "--Select--", new { @class = "form-control ControlHeight", @id = "ProjectID2" })
                                    @Html.ValidationMessageFor(model => model.ProjectID, null, new { @class = "text-danger" })
                                </div>

                                <label class="control-label1 col-form-label">Range</label>
                                <div class="col-sm-2">
                                    @{var listItems3 = new List<SelectListItem>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            {
          new SelectListItem { Text = "Per Day", Value="PerDay" },
          new SelectListItem { Text = "Per Week", Value="PerWeek" },
          new SelectListItem { Text = "Per Month", Value="PerMonth" }
    };
                                    }
                                    @Html.DropDownList("range", new SelectList(listItems3, "Value", "Text"), new { @class = "form-control ControlHeight", @id = "rangeType2" })
                                </div>
                                <div class="clearfix"></div><br />
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="modalContent"></div>
        </div>
    </div>
</div>
<style>
    .ControlHeight {
        height: 32px !important;
    }
</style>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>


