
@{
    ViewData["Title"] = "CodingSummary";
}
<style type="text/css">
    .highlight {
        background-color: #a8cb17 !important;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Projects</h4>
                </div>
                <table class="table table-striped table-bordered dataTable workcontexts">
                    <thead>

                    </thead>
                    <tbody style="cursor:pointer;">
                        <tr title="9,2,5">
                            <th scope="col">
                                UAB
                            </th>
                        </tr>
                        <tr title="8,3,6">
                            <th scope="col">
                                PULMONOLOGY
                            </th>
                        </tr>
                        <tr title="11,7,3">
                            <th scope="col">
                                AMB
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Chart Summary</h4>
                </div>
                <table class="table table-striped table-bordered dataTable">
                    <thead>

                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">
                                Available Charts
                            </th>
                            <th scope="col" id="AvailableCharts">10</th>
                            <th scope="col">
                                <a href="@Url.Action("Coding","UAB")" class="btn btn-info">Get Next</a>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">
                                Incorrect Charts
                            </th>
                            <th scope="col" id="IncorrectCharts">2</th>
                            <th scope="col">
                                <a href="@Url.Action("IncorrectCharts","UAB")" class="btn btn-info">Get Next</a>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">
                                Approved Charts
                            </th>
                            <th scope="col" id="ApprovedCharts">5</th>
                            <th scope="col">
                                <a href="@Url.Action("ApprovedCharts","UAB")" class="btn btn-info">Get Next</a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.workcontexts tr').click(function () {
            $(".highlight").removeClass("highlight");
            var title = $(this).attr('title');
            var chartstitle = title.split(",");
            $("#AvailableCharts").text(chartstitle[0]);
            $("#IncorrectCharts").text(chartstitle[1]);
            $("#ApprovedCharts").text(chartstitle[2]);
            $(this).addClass("highlight");
        });
    });
</script>