
@{
    ViewData["Title"] = "Coding";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Chart Details</h4>
                </div>
                <partial name="_InitialData" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Coding Details</h4>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label class="col-md-3 m-t-15">
                                    Date Assigned
                                </label>
                                <div class="col-md-9 input-group">
                                    <input type="text" class="form-control" id="datepicker-autoclose" placeholder="mm/dd/yyyy">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label class="col-md-3 m-t-15">
                                    Payor
                                </label>
                                <div class="col-md-9">
                                    <select class="form-control">
                                        <option>MCAL</option>
                                        <option>Commercial</option>
                                        <option>SP</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label class="col-md-3 m-t-15">Note Title</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label class="col-md-3 m-t-15">
                                    Provider
                                </label>
                                <div class="col-md-9">
                                    <select class="form-control">
                                        <option>Bush, Nathan, APP</option>
                                        <option>Dillon, Kayce, APP</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label class="col-md-3 m-t-15">
                                    CPT
                                </label>
                                <div class="col-md-9">
                                    <select class="form-control">
                                        <option>Question</option>
                                        <option>Answered</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label class="col-md-3 m-t-15">Mod</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="Mod" placeholder="Mod">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label class="col-md-3 m-t-15">Dx 1-4 (code followed by a comma and space)</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label class="col-md-3 m-t-15">
                                    Feedback to Provider
                                </label>
                                <div class="col-md-9">
                                    <select class="form-control">
                                        <option>Education: CC doesn't support vital organ failure/life threatening deteriortation</option>
                                        <option>Education: Consult not coded due to no requesting provider on file</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label class="col-md-3 m-t-15">Coder Questions</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body" style="text-align:right">
                            <button type="submit" class="btn btn-info">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    /*datwpicker*/
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
</script>
