
@{
    ViewData["Title"] = "IncorrectCharts";
}

<div class="container-fluid">
    <div class="row">
        <partial name="_InitialData" />
        <partial name="_CodingDetails" />
        <partial name="_QADetails" />
    </div>
</div>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    /*datwpicker*/
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    $(".QADetails").attr("readonly", true);
    $("#QADetails").hide();
    $('span.input-group-text').css('pointer-events', 'none');
    $("#coding").addClass('selected');
</script>


