
@{
    ViewData["Title"] = "QA";
}
<div class="container-fluid">
    <div class="row">
        <partial name="_InitialData" />
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Coding Details</h4>
                </div>
                <div class="form-group row" id="divChkAll">
                    <label class="col-md-4 m-t-15"></label>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input ShadowQADetails" id="chkAll">
                        <label class="custom-control-label" for="chkAll">Accept All</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 m-t-15">Payor</label>
                    <div class="col-md-3 input-group">
                        <select class="form-control CodingDetails">
                            <option selected>MCAL</option>
                            <option>Commercial</option>
                            <option>SP</option>
                        </select>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                &nbsp;<i id="extraPayor" class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                                &nbsp;<i id="extraPayor" class="fa fa-times-circle fa-lg reject" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 input-group QARevised" id="extraPayor1">
                        <select class="form-control CodingDetails">
                            <option>MCAL</option>
                            <option selected>Commercial</option>
                            <option>SP</option>
                        </select>
                    </div>
                    <div class="col-md-3 input-group QARevised" id="extraPayor2">
                        <input type="text" class="form-control CodingDetails" value="Need to put Commerical" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 m-t-15">Note Title</label>
                    <div class="col-md-3">
                        <textarea class="form-control CodingDetails">Some text</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 m-t-15">Provider</label>
                    <div class="col-md-3 input-group">
                        <select class="form-control CodingDetails">
                            <option>Bush, Nathan, APP</option>
                            <option>Dillon, Kayce, APP</option>
                        </select>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                &nbsp;<i id="Provider" class="fa fa-check-circle fa-lg accept" aria-hidden="true"></i>
                                &nbsp;<i id="Provider" class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 input-group QARevised" id="Provider1" style="display:none;">
                        <select class="form-control">
                            <option>Bush, Nathan, APP</option>
                            <option>Dillon, Kayce, APP</option>
                        </select>
                    </div>
                    <div class="col-md-3 input-group QARevised" id="Provider2" style="display:none">
                        <input type="text" class="form-control CodingDetails" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 m-t-15">CPT</label>
                    <div class="col-md-3 input-group">
                        <select class="form-control CodingDetails">
                            <option selected>31640</option>
                            <option>31500</option>
                        </select>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                &nbsp;<i id="CPT" class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                                &nbsp;<i id="CPT" class="fa fa-times-circle fa-lg reject" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 input-group QARevised" id="CPT1" style="display:flex;">
                        <select class="form-control">
                            <option>31640</option>
                            <option selected>31500</option>
                        </select>
                    </div>
                    <div class="col-md-3 input-group QARevised" id="CPT2">
                        <input type="text" class="form-control CodingDetails" value="wrong value 31640 is given" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 m-t-15">Mod</label>
                    <div class="col-md-3 input-group">
                        <input type="text" class="form-control CodingDetails" value="26" placeholder="Mod">
                        <span class="input-group-text">
                            &nbsp;<i id="Mod" class="fa fa-check-circle fa-lg accept" aria-hidden="true"></i>
                            &nbsp;<i id="Mod" class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="col-md-3 input-group QARevised" id="Mod1" style="display:none">
                        <input type="text" class="form-control" placeholder="Mod">
                    </div>
                    <div class="col-md-3 input-group QARevised" id="Mod2" style="display:none">
                        <input type="text" class="form-control CodingDetails" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-8 m-t-15" style="margin-left:10px">Dx 1-4 (code followed by a comma and space)</label>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 m-t-15"></label>
                    <div class="col-md-3 input-group">
                        <textarea class="form-control CodingDetails">R51,J98.4,R52</textarea>
                        <span class="input-group-text">
                            &nbsp;<i id="Dx" class="fa fa-check-circle fa-lg accept" aria-hidden="true"></i>
                            &nbsp;<i id="Dx" class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="col-md-3 input-group QARevised" id="Dx1" style="display:none">
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="col-md-3 input-group QARevised" id="Dx2" style="display:none">
                        <input type="text" class="form-control CodingDetails" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 m-t-15"> Feedback to Provider</label>
                    <div class="col-md-3 input-group">
                        <select class="form-control CodingDetails">
                            <option>Education: CC doesn't support vital organ failure/life threatening deteriortation</option>
                            <option>Education: Consult not coded due to no requesting provider on file</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 m-t-15">Coder Questions</label>
                    <div class="col-md-3">
                        <textarea class="form-control CodingDetails"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_QADetails" />
    </div>
</div>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    /*datwpicker*/
    jQuery('.mydatepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    //$(".CodingDetails").attr("readonly", false);
    $(".QADetails").attr("readonly", false);
    $("#qa").addClass('selected');

    $('#chkAll').change(function () {
        if ($(this).is(':checked')) {
            $('.fa-check-circle').addClass('accept');
            $('.fa-times-circle').removeClass('reject')
            $('.QARevised').css("display", "none");
        }
        else {
            $('.fa-check-circle').removeClass('accept');
        }
    });

    $('span i').click(function () {
        var id = $(this).attr('id');
        if ($(this).hasClass('fa-check-circle')) {
            $(this).toggleClass('accept');
            $(this).siblings().removeClass('reject');
            $("#" + id + "1").css("display", "none");
            $("#" + id + "2").css("display", "none");
        }
        else if ($(this).hasClass('fa-times-circle')) {
            $(this).toggleClass('reject');
            $(this).siblings().removeClass('accept');
            $("#" + id + "1").css("display", "flex");
            $("#" + id + "2").css("display", "flex");
            $("#chkAll").prop('checked', false);
        }
    });
</script>
