
@{
    ViewData["Title"] = "QA";
}
<div class="container-fluid">
    <div class="row">
        <partial name="_InitialData" />
        <partial name="_CodingDetails" />
        <partial name="_QADetails" />
    </div>
</div>
<script src="~/dashboardassets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dashboardassets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    /*datwpicker*/
    jQuery('.mydatepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    $(".CodingDetails").attr("readonly", true);
    $(".QADetails").attr("readonly", false);
    $("#CodingDetails").hide();
</script>
