
@{
    ViewData["Title"] = "Shadow QA Summary";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Chart Summary</h4>
                </div>
                <table class="table table-striped table-bordered dataTable">
                    <thead>

                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">
                                Avialable Charts
                            </th>
                            <th scope="col">10</th>
                            <th scope="col">
                                <a href="@Url.Action("ShadowQA","UAB")" class="btn btn-info">Get Next</a>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">
                                Revised Charts
                            </th>
                            <th scope="col">5</th>
                            <th scope="col">
                                <a href="@Url.Action("ShadowQA","UAB")" class="btn btn-info">Get Next</a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

