@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title m-b-0">Today's Chart Summary</h4>
                    <div class="m-t-20" style="margin-top:20px">
                        <div class="d-flex no-block align-items-center">
                            <span>81% Charts Coded</span>
                            <div class="ml-auto">
                                <span>125</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 81%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="m-t-25" style="margin-top:25px">
                        <div class="d-flex no-block align-items-center m-t-25">
                            <span>72% Charts Audited By Global Team</span>
                            <div class="ml-auto">
                                <span>120</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 72%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="m-t-25" style="margin-top:25px">
                        <div class="d-flex no-block align-items-center m-t-25">
                            <span>53% Charts Audited By Domestic Team</span>
                            <div class="ml-auto">
                                <span>785</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 53%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="m-t-25" style="margin-top:25px">
                        <div class="d-flex no-block align-items-center m-t-15">
                            <span>3% Rejected Charts</span>
                            <div class="ml-auto">
                                <span>8</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 3%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
